	{% extends  'base.html.twig' %}

		{% block stylesheets %}

		<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />-->
		<script src="https://cdn.linearicons.com/free/1.0.0/svgembedder.min.js"></script>
		<link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
		<!-- CSS Files -->
		<link href="{{ absolute_url('/assets/sweetalert2/dist/sweetalert2.min.css') }}" rel="stylesheet" />
		<link href="{{ absolute_url('/assets/css/now-ui-kit.min.css') }}" rel="stylesheet" />
		<link href="{{ absolute_url('/assets/css/bootstrap.min.css') }}" rel="stylesheet" />
		<link href="{{ absolute_url('/animate/animate.min.css') }}" rel="stylesheet" />
		<link href="{{ absolute_url('/assets/loadbar/css/loading-bar.css') }}" rel="stylesheet" />
		<link href="{{ absolute_url('/assets/select2-develop/dist/css/select2.min.css') }}" rel="stylesheet" />
		<link href="{{ absolute_url('/assets/select-form/css/normalize.css') }}" rel="stylesheet" />
		<link href="{{ absolute_url('/assets/select-form/css/stylesheet.css') }}" rel="stylesheet" />
		<link href="{{ absolute_url('/assets/swiper/dist/css/swiper.min.css') }}" rel="stylesheet" />
		<link href="{{ absolute_url('/css/loading.css') }}" rel="stylesheet" />
		<link href="{{ absolute_url('/css/loading-btn.css') }}" rel="stylesheet" />
		<link href="{{ absolute_url('/assets/autocomplete/autocomplete.css') }}" rel="stylesheet" />
		<link href="{{ absolute_url('/css/style.css') }}" rel="stylesheet" />

		<style>
			.selectize-input > input {
				width: 100% !important;
				height: 100% !important;
			}
			.selectize-control.single .selectize-input, .selectize-dropdown.single {
				border-color: #FF9000 !important;
			}
			.selectize-control.single .selectize-input, .selectize-control {
				width: 100% !important;
				border-radius: 32px !important;
				height: 45px !important;
			}
		</style>
    
	{% endblock %}

	{% block body %}
	
	<div class="page-header page-header-inscription">
		<div class="page-header-image animated pulse" data-parallax="true" style="background-image: url('./assets/img/photos/slide-inscription.jpg'); background-position: 0 50px !important;">
		</div>
		<div class="row">
			<div class="col-12 p-0">
				<div class="contenair-header-menu">
					
					<nav class="navbar navbar-expand bg-gray d-none d-lg-block py-0 navbar-head">
					<div class="container border-0">

						<!-- MENU LARGE COORDONE-->
						<div class="d-none d-lg-flex w-100 flex-md-row align-items-center justify-content-center justify-content-sm-around">
							<div class="d-flex flex-sm-row w-100 flex-column justify-content-sm-around align-items-center justify-content-center">
								<a class="text-decoration-none logo-content" href="{{ path('home_page') }}">
								<img class="logo" src="{{ absolute_url('/uploads/logo/' ~ configsite.getImage()) }}"></img>
								</a>
                                
								<ul class="navbar-nav mt-2 mt-lg-0 d-lg-flex flex-column flex-sm-row">
									<li class="nav-item active m-1">
									<a class="nav-link" href="javascript:void();"><span class="d-flex align-content-baseline"><span class="lnr lnr-phone-handset text-wite bg-warning p-1"></span> <span class="bg-darkgray p-1 text-nowrap" style="font-size: 15px;">{{ configsite.getNumphone() }}</span></span></a>
									</li>
									<li class="nav-item active m-1">
									<a class="nav-link" href="javascript:void()"><span class="d-flex align-content-baseline"><span class="lnr lnr-envelope text-wite bg-warning p-1"></span> <span class="bg-darkgray p-1 text-nowrap text-lowercase" style="font-size: 15px;">{{ configsite.getEmail() }}</span></span></a>
									</li>
								</ul>
							</div>
							<div class="inscription-group-boutton d-none d-lg-flex flex-column flex-sm-row justify-content-center align-items-center  text-center w-sm-75 w-100">
								<span class="mr-1">
									<button class="btn btn-round bg-gray text-decoration-none show-form-pro-mouseclick-11 text-nowrap font-weight-bold text-warning border-warning text-nowrap" type="button">
										<i class="">🔒</i> <label class="sr-only-focusable d-none d-lg-inline">Se connecter<label>
									</button>
								</span>
								<span class="">
									<a href="{{ path('inscription_particulier_page') }}" class="btn btn-round bg-warning text-white font-weight-bold text-nowrap">
										<i class="">👷🏾</i>  Inscription gratuite
									</a>
								</span>
							</div>
						</div>
						<!-- END MENU LARGE COORDONE -->
                        
						<!-- BEGIN MOBILE MENU -->
						{% include "./page/menu/menu-mobile.html.twig" %}
						<!-- END MOBILE MENU -->
						
					</div>
					</nav>
					<!-- Navbar menu end here -->
					  
					<!-- ############################# NAVBAR HERE LARGE -->
						
					<div class=" navbar bg-darkgray navbar-expand-lg fix-top py-0 navbar-menu">
					<div class="container">
                    
						<a class="text-decoration-none logo-content float-left d-block d-lg-none" href="{{ path('home_page') }}">
						<img class="logo" src="{{ absolute_url('/uploads/logo/' ~ configsite.getImage()) }}"></img>
						</a>
						<a class="nav-link d-none d-md-block d-lg-none" href="javascript:void();"><span class="d-flex align-content-baseline"><span class="lnr lnr-phone-handset text-wite bg-warning p-1"></span> <span class="bg-darkgray p-1 text-nowrap" style="font-size: 15px;">{{ configsite.getNumphone() }}</span></span></a>
						<a class="nav-link d-none d-md-block d-lg-none" href="javascript:void()"><span class="d-flex align-content-baseline"><span class="lnr lnr-envelope text-wite bg-warning p-1"></span> <span class="bg-darkgray p-1 text-nowrap text-lowercase" style="font-size: 15px;">{{ configsite.getEmail() }}</span></span></a>
						<a href="javascript:void(0);" class="float-right text-decoration-none btn-toggle-menu" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="lnr lnr-menu-circle text-warning d-block d-lg-none" style="font-size: 64px !important;"></span>
						</a>

						<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav font-weight-bold">
							<li class="nav-item"><a href="{{ path('space_pro_page') }}" class="nav-link">Vous êtes un pro ?</a>
							</li>
							<li class="nav-item"><a href="{{ path('nos_tarif_page') }}" class="nav-link">Nos tarifs</a>
							</li>
							<li class="nav-item"><a href="{{ path('how_to_step_page') }}" class="nav-link">Comment ça marche</a>
							</li>
							<li class="nav-item"><a href="{{ path('site_create_page') }}" class="nav-link">Créer mon site internet</a>
							</li>
							<li class="nav-item">
								<a class="btn-outline-wrning bg-transparent float-right d-block d-lg-none rounded text-decoration-none show-form-pro-mouseclick-11 font-weight-bold text-warning border-warning text-nowrap">
									<i class="">🔒</i> Se connecter
								</a>
							</li>
						</ul>
						</div>
					</div>
					</div>
					<!-- ############################# END NAVBAR HERE LARGE -->
					
					 <!-- Progress barr slid scroll -->
						<div class="progress-container fixed-top">
							<div class="progress-bar" id="myBar"></div>
						</div> 
					  
				</div>
			</div>
		</div>
		<!-- End Row for Menu header -->
		
		<!-- Begin for row content header parallax -->
		<div class="row d-flex justify-content-center font-weight-light" style="">
			<!-- ############# Begin slide beside -->
			<div class="col-8" style="padding-top: 4em;">
				<div class="container border-0">
					<div class="w-100 d-flex flex-column pb-4 justify-content-center">
						<div class="h4 text-text-white text-uppercase">
							Trouvez des chantiers et des clients
						</div>
					</div>
				</div>
			</div>
			<!-- ############# End slide beside -->
			
			<!-- ############# Begin form search -->
			<div class="col-10" style="padding-top: 1em;">
				<div class="container bg-dark pl-0 h-auto" style="box-shadow: 5px 5px 5px black;">
					
					<form action="{{ path('find_chantier_page') }}" method="POST">
						<div class="form-group">
							
							<div class="d-flex flex-column flex-sm-row w-100 align-items-center justify-content-center">
								
								<input id="show-input-list-search" type="text" name="categLabel" value="{{ (categLabel is defined) ? categLabel :'' }}" class="form-control text-center show-input-list-search m-2" placeholder="Quel métier ?" style="height: 45px;">
								{# <select id="select-beast" class="border animated fadeIn delay-8s border-warning demo-default" name="postCity"  placeholder="Dans quelle ville ?">
								<option></option>
								{% if cities != null %}
									{% for city in cities %}
									<option {{ (postCityId is defined and city.getId() == postCityId) ? 'selected': '' }} value="{{ city.getId() }}">{{ city.getVilleNomReel() }}</option>
									{% endfor %}
								{% endif %}
								</select> #}
								<div id="group-form-spcial-input-hidden"></div>
								
								<div class="input-group-append input-group-append-find-artisant bg-warning text-center">
								<button id="btn-serch-chantier-pros" type="submit" class="btn btn-warning border-0 btn-serch-chantier-pros text-center text-nowrap w-100">Trouver des chantiers</button>
								</div>
								
							</div>
							
						</div>
					</form>
				</div>
			</div>
			<!-- ############# End form search-->
		</div>
	</div>
	<!--END HEADER-->
	

	<div class="jumbotron bg-transparent">
		<main class="section-1 section-main" style="background-attachment: fixed;">
			<!--Begin section  of the list ads by artisan-->
			<section class="mt-5 bg-gray">
				<div Class="row bg-white">
					<div class="col-12">
							<a href="{{ path('space_find_pro_page') }}" class="btn btn-warning text-white float-right text-decoration-none border-0 text-center text-nowrap mr-5">Je suis un particulier</a>
					</div>
					<div class="col-12 d-flex flex-column text-center">
						<span class="h6">Nos chantiers disponibles</span>
						<span class="small">Ces particuliers cherchent leur professionnel pour réaliser leur chantier. Et si c'était vous ?</span>
					</div>
					<!--Triangle in find artisant section-->
					<div class="triangle triangle-pro-space pt-4" style="width: 100%; height: 4px; background: white; box-shadow: 0px 0px 0px 0px !important"> </div>
				</div>
				<div class="container">
					<div class="row container-show-more-ajax py-5">
						{% if postsAds != null %}
							{% for post in postsAds %}
							<div class="col-12 col-sm-6 col-lg-4 my-2">
								<div class="card card-pub-artisant text-leftt" style="width: auto;">
									<div class="card-header">
										<div class="d-flex flex-column align-items-center justify-content-center w-100 pt-4">
											<h4 class="card-title text-warning text-center px-2">{{ post.getArticleId().getArticleTitle() }}</h4>
											<span class="ads-icon text-center">
												<span class="icon" style="height: 128px;">
													<object type="image/svg+xml" data="{{ absolute_url('/uploads/icons/' ~ post.getArticleId().getIcon()) }}" class="icon icon-bike">
														Bike
													</object>
												</span>
											<span>
										</div>
									</div>
									<div class="card-body">
										<p class="text-secondary">{{ post.getPostAdsDateCrea() | date('d/m/y H:m:s') }}</p>
										<p class="card-text motif-pub">{{ post.getPostAdsTravauxDescription() }}</p>
										<p class="text-secondary small">Postulé par: {{ post.getPostUserId().getFirstname() }}</p><br>
										{# <p class="text-secondary small">Habite à: {{ post.getPostUserId().getUserCity().getVilleNomReel()}}.</p> #}
										<a class="text-warning float-right" href="{{ path('show_detail_ads_page', { id: post.getId() }) }}">voir le chantier >></a>
									</div>
								<div class="card-footer text-secondary text-center mt-0 py-2">
									{{''}}
								</div>
								</div>
							</div>
							{% endfor %}
						{% endif %}
					</div>
					<div class="">
						<div class="col-12 d-flex justify-content-center pt-4">
							<a data-categoryid="{{ (CategoryId is defined) ? CategoryId :'' }}" class="btn btn-warning btn-more-all-ajax ld ld-ext-right"> <i class="ld ld-ring ld-spin"></i> Voir plus</a>
						</div>	
					</div>
				</div>
			</section>
			<!--End section  of the list ads by artisan-->
			
			<!--Begin section the Presse Talk US -->
			<section id="" class="bg-transparent">
			<div class="container  bg-white">
				<div class="row d-flex justify-content-center py-5">
					<div class="col-12 text-center">
						<h5 class="text-uppercase">Restez connecté</h5>
						<div class="text-secondary"><p class=" subtitle ">
							Pour être certain de ne rater aucun chantier, téléchargez l’application mobile pour suivre les projets lorsque vous êtes en déplacement.
						</div>
					</div>
					<div class="col-12 col-sm-6 col-lg-8 text-center">
						<img class="" src="{{ absolute_url('/assets/img/photos/app-mobile.png') }}"></img>
					</div>
					<div class="col-12 col-sm-6 col-lg-4 d-flex flex-column justify-content-center text-secondary">
						<a class="btn btn-outline-secondary d-flex flex-row text-center align-items-center">
							<span class="pro-icon mb-3">
								<span class="icon-message-pro">
									<object type="image/svg+xml" data="{{ absolute_url('/assets/icon/apple_icon-icons.com_62745.svg') }} " class="icon-message-pro icon-bike">
										apple
									</object>
								</span>
							</span>
							<span class="">
								<span class="text-center ">Disponible sur <span/><br>
								<span class="font-weight-capitalize">App Store<span/>
							<span/>
						</a>
						<a class="btn btn-outline-secondary d-flex flex-row align-items-center">
							<span class="pro-icon mb-3">
								<span class="icon-message-pro">
									<object type="image/svg+xml" data="{{ absolute_url('/assets/icon/Google_Play_icon-icons.com_66988.svg') }}" class="icon-message-pro icon-bike">
										play
									</object>
								</span>
							</span>
							<span class="text-center ">
								<span class="">Disponible sur <span/><br>
								<span class="font-weight-capitalize">Google Play<span/>
							<span/>
						</a>
					</div>
				</div>
			</div>
			</section>
			<!--End section the Presse Talk US  -->
				
		</main>
			
		<!-- Begin footer page -->
		{% include "./page/footer/footer.html.twig" %}
		<!-- END footer page -->
	</div>

{% endblock %}

{% block javascripts %}

<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>-->
<!-- Auto-complete -->
<script src="{{ absolute_url('/assets/autocomplete/autocomplete.js') }}"></script>
<!-- MESSAGE NTIFICATION -->
<script src="{{ absolute_url('/assets/sweetalert2/dist/sweetalert2.all.min.js') }}"></script>
<script src="{{ absolute_url('/assets/sweetalert2/dist/sweetalert2.min.js') }}"></script>
<!--Local-->
<script src="{{ absolute_url('/assets/loadbar/js/loading-bar.js') }}"></script>
<script src="{{ absolute_url('/assets/js/core/jquery.min.js') }}"></script>
<script src="{{ absolute_url('/assets/js/core/bootstrap.min.js') }}"></script>
<script src="{{ absolute_url('/assets/js/now-ui-kit.min.js') }}"></script>
<script src="{{ absolute_url('/assets/js/core/popper.min.js') }}"></script>
<script src="{{ absolute_url('/assets/js/plugins/bootstrap-switch.js') }}"></script>
<script src="{{ absolute_url('/assets/js/plugins/nouislider.min.js') }}"></script>
<script src="{{ absolute_url('/assets/swiper/dist/js/swiper.min.js') }}"></script>
<script src="{{ absolute_url('/assets/select-form/js/selectize.js') }}"></script>
<script src="{{ absolute_url('/assets/select-form/js/index.js') }}"></script>
<script src="{{ absolute_url('/assets/select2-develop/dist/js/select2.full.min.js') }}"></script>
<script src="{{ absolute_url('/assets/select2-develop/dist/js/select2.min.js') }}"></script>
<script src="{{ absolute_url('/assets/js/app.js') }}"></script>
<script src="{{ absolute_url('/assets/js/list-ajax.js') }}"></script>
<script src="{{ absolute_url('/assets/js/page.js') }}"></script>

{% endblock %}