	{% extends  'base.html.twig' %}

		{% block stylesheets %}

		<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />-->
		<script src="https://cdn.linearicons.com/free/1.0.0/svgembedder.min.js"></script>
		<link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
		<!-- CSS Files -->
		<link href="{{ absolute_url('/assets/sweetalert2/dist/sweetalert2.min.css') }}" rel="stylesheet" />
		<link href="{{ absolute_url('/assets/css/now-ui-kit.min.css') }}" rel="stylesheet" />
		<link href="{{ absolute_url('/assets/css/bootstrap.min.css') }}" rel="stylesheet" />
		<link href="{{ absolute_url('/animate/animate.min.css') }}" rel="stylesheet" />
		<link href="{{ absolute_url('/assets/loadbar/css/loading-bar.css') }}" rel="stylesheet" />
		<link href="{{ absolute_url('/assets/select2-develop/dist/css/select2.min.css') }}" rel="stylesheet" />
		<link href="{{ absolute_url('/assets/swiper/dist/css/swiper.min.css') }}" rel="stylesheet" />
		<link href="{{ absolute_url('/css/loading.css') }}" rel="stylesheet" />
		<link href="{{ absolute_url('/css/loading-btn.css') }}" rel="stylesheet" />
		<link href="{{ absolute_url('/assets/menu/menu-large.css') }}" rel="stylesheet" />
		<link href="{{ absolute_url('/assets/menu/menu-mobile.css') }}" rel="stylesheet" />
		<link href="{{ absolute_url('/assets/autocomplete/autocomplete.css') }}" rel="stylesheet" />
		<link href="{{ absolute_url('/assets/carousel/slid.css') }}" rel="stylesheet" />
		<link href="{{ absolute_url('/css/style.css') }}" rel="stylesheet" />

		<style>
			@media all and (min-width: 992px) { 
				.slide-first-header {
					margin-top: 75px !important;
				}
			}
		</style>
    
	{% endblock %}

	{% block body %}
	
	<div class="page-header">
		<div class="page-header-image animated pulse" data-parallax="true" style="background-image: url('./assets/img/photos/head-1.jpg'); background-attachment: fixed;">
		</div>
		<div class="row">
			<div class="col-12 p-0">
				<div class="contenair-header-menu"> 
					<nav class="navbar navbar-expand bg-gray py-0 navbar-head">
					  <div class="container border-0">
						<div class="d-flex flex-column flex-md-row w-100 align-items-center justify-content-center justify-content-sm-around">
							<div class="d-flex flex-sm-row w-100 flex-column justify-content-sm-around align-items-center justify-content-center">
								<a class="text-decoration-none" href="{{ path('home_page') }}">
								  <img class="logo" src="{{ absolute_url('/assets/img/logo.png') }}"></img>
								</a>
							
								<ul class="navbar-nav mt-2 flex-column flex-sm-row justify-content-center mt-lg-0">
									<li class="nav-item active m-1">
									  <a class="nav-link" href="javascript:void();"><span class="d-flex align-content-baseline"><span class="lnr lnr-phone-handset text-wite bg-warning p-1"></span> <span class="bg-darkgray p-1 text-nowrap" style="font-size: 15px;">(102) 6666 8888</span></span></a>
									</li>
									<li class="nav-item active m-1">
									  <a class="nav-link" href="javascript:void()"><span class="d-flex align-content-baseline"><span class="lnr lnr-envelope text-wite bg-warning p-1"></span> <span class="bg-darkgray p-1 text-nowrap text-lowercase" style="font-size: 15px;">info@thememove.com</span></span></a>
									</li>
								</ul>
							</div>
							<div class="inscription-group-boutton d-flex flex-column flex-sm-row justify-content-center align-items-center  text-center w-sm-75 w-100">
								<span class="mr-1">
									<button class="btn btn-round rounded bg-gray show-form-pro-mouseclick-11 text-nowrap font-weight-bold text-warning border-warning text-nowrap">
										<i class="">🔒</i>  <label class="sr-only-focusable d-none d-lg-inline">Se connecter<label>
									</button>
								</span>
								<span class="">
									<a href="{{ path('space_pro_page') }}" class="btn btn-round bg-white border-warning font-weight-bold text-success text-nowrap text-decoration-none">
										<i class="">👷🏾</i>  Vous êtes un pro ?
									</a>
								</span>
							</div>
						</div>
					  </div>
					</nav>
					<!-- Navbar menu end here -->
					  
					  
					<!-- ############################# NAVBAR HERE LARGE -->
					<!-- BEGIN MOBILE MENU -->
					{% include "./page/menu/menu-mobile.html.twig" %}
					<!-- END MOBILE MENU -->	
                
					<!-- BEGIN MENU DISPALY WHEN LARGE SCREEN -->
			
					<div class="navbar-mega large-menu d-md-flex justify-content-center">
						<div class="dropdown-mega">
							<a class="dropbtn"> Demander un devis
							<i class="fa fa-caret-down"></i>
							</a>
							<div class="dropdown-content">
								<ul class=" px-4">
									{% if categories != null %}
										{% for categ in categories %}
											<li class="column-list text-left px-0" style="line-height: 0;">
											<a href="{{ path('post_ask_devis_page', {id: categ.getId()}) }}" class="d-flex align-items-center">
											<span class="lnr lnr-chevron-right-circle text-warning mr-1" style="font-size: 12px;"></span>
											<span class="text-warning">{{ categ.getCategTitle() }}</span>
											</a>
										</li>
										{% endfor %}
									<li class="text-center"  style="line-height: 0;">
									<a href="{{ path('view_all_tavaux_page') }}" class="mm-view-more p-1"> Voir les articles >></a>
									</li>
									{% endif %}
								</ul>
								<div class="row-mega">
									<div class="column-12">
									{% if popularDevis != null %}
										<div class="w-100 text-center">
											<h3> Les  plus populaires </h3>
										</div>
										<section class="sliderComplete">
											<!-- Wrapper -->
											<section class="wrapper">
												<!-- ".slider" has a width greater than 100% to give way to all albums to align.  -->
												<ul class="slider">
                                           
													{% for devPopular in popularDevis %}
													<li class="column-list text-center">
														<a href="#" class="d-block mb-1 p-0">
															<img class="img-fluid img-thumbnail" src="{{ absolute_url('/uploads/images/' ~ devPopular.getImg()) }}" />
														</a>
														<p><a href="{{ path('view_art_cat_galery_page', {id: devPopular.getArticleCategId().getId()}) }}">{{ devPopular.getArticleTitle() }}</a></p>
														<p><a href="{{ path('post_ask_devis_page', {id: devPopular.getArticleCategId().getId()}) }}" style="font-size: smaller; padding: 2px;" class="mm-view-more text-white sr-only-focusable text-decoration-noen">Demander un devis</a></p>
													</li>
													{% endfor %}
                                           
                                            
												</ul>
											</section>
											<!-- End wrapper -->

											<button title="before" class="close button-slid bg-warning" style="height: 50%;">
												<svg version="1.1" id="left" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
													viewBox="12.7 2.5 15.4 25" enable-background="new 12.7 2.5 15.4 25" height="24" xml:space="preserve">
												<g id="chevron-right">
													<polygon fill="#38373A" points="13,15 25,27 27.8,24.2 18.6,15 27.8,5.8 25,3 	"/>
												</g>
												</svg>
											</button>

											<!-- 
											".open" is on display:block; to be visible.
											-->
											<button title="after" class="open button-slid bg-warning" style="height: 50%;">
												<svg version="1.1" id="right" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
													viewBox="12.7 2.5 15.4 25" enable-background="new 12.7 2.5 15.4 25" height="24" xml:space="preserve">
												<g id="chevron-right">
													<polygon fill="#38373A" points="15.8,3 13,5.8 22.2,15 13,24.2 15.8,27 27.8,15 	"/>
												</g>
												</svg>
											</button>
										</section>
										<!-- End sliderComplete -->
										{% endif %}
									</div>
								</div>
							</div>
						</div>
						<!-- END TYPE TRAVAUX -->
						<div class="dropdown-mega">
							<a class="dropbtn">Guides des prix
							<i class="fa fa-caret-down"></i>
							</a>
							<div class="dropdown-content">
								<ul class=" px-4">
									{% if categories != null %}
										{% for categ in categories %}
											<li class="column-list text-left px-0" style="line-height: 0;">
											<a href="{{ path('category_sous_category_page', {categId: categ.getId()}) }}" class="d-flex align-items-center">
											<span class="lnr lnr-chevron-right-circle text-warning mr-1" style="font-size: 12px;"></span>
											<span class="text-warning">{{ categ.getCategTitle() }}</span>
											</a>
										</li>
										{% endfor %}
									{# <li class="text-center"  style="line-height: 0;">
									<a href="{{ path('view_all_tavaux_page') }}" class="mm-view-more p-1"> Voir les articles >></a>
									</li> #}
									{% endif %}
								</ul>
							</div>
						</div>
						<a href="{{ path('how_to_step_page') }}">Comment ça marche ?</a>
						<a href="{{ path('space_find_pro_page') }}">Trouvez un pros</a>
					</div>
			
					<!-- END MENU DISPALY WHEN  WHEN LARGE SCREEN -->


					 <!-- Progress barr slid scroll -->
					<div class="progress-container fixed-top">
						<div class="progress-bar" id="myBar"></div>
					</div> 
					  
				</div>
			</div>
		</div>
		<!-- End Row for Menu header -->
		
		<!-- Begin for row content header parallax -->
		<div class="container  border-0">
			<div class="row row-slide-first-header slide-first-header header-login-parallax d-flex justify-content-center font-weight-light">
				<!-- ############# Begin LE MEILLEUR ARTISAN LOCAL POUR VOS TRAVAUX -->
				<div class="col-12 d-flex flex-column flex-md-row text-center align-items-center justify-content-center py-4">
					<div class="col-12 d-flex justify-content-center pb-4">
						<div class="row">
							<div class="col-12 col-lg-9 d-flex flex-column align-self-center align-items-center align-items-lg-end text-center w-100" style="font-size: 18px;">
								<h4 class="text-warning title-front-h1 font-weight-bold">SELECTIONNEZ LE MEILLEUR ARTISAN LOCAL POUR VOS TRAVAUX</h4>
								<p class="text-white text-italic">Recevez jusqu’à 5 devis en 48h, gratuitement et sans engagement!</p>
							</div>
							<div class=" col-12 col-lg-3 content-img-garantie text-left">
								<img class="free-img" src="{{ absolute_url('/assets/img/garantie.png') }}" style="width: 50%;"></img>
							</div>
						</div>
					</div>
				</div>
				<!-- ############# End LE MEILLEUR ARTISAN LOCAL POUR VOS TRAVAUX -->
				
				<!-- ############# Begin form search -->
				<div class="col-12 col-md-10 d-flex flex-column justify-content-center align-items-end">
					<div class="w-100 bg-dark" style="box-shadow: -14px 5px 5px black;">
						<form action="{{ path('post_ask_devis_page') }}" method="POST">
							<div class="d-flex flex-column flex-sm-row align-items-center justify-content-center">
								<div class="form-group p-0 m-0 w-100">

									<input type="text" id="show-input-list-search" class="form-control text-center" placeholder="Quel travaux souhaitez vous realiser ?">

								</div>

								<div id="group-form-spcial-input-hidden">                                                                                                                                                           
                                 
								</div>
								<div class="bg-warning  btn-ask-devis w-auto">
								  <button type="submit" class="btn btn-warning border-0 text-nowrap">Demander un devis</button>
								</div>
							</div>  
						</form>
					</div>
				</div>
				<!-- ############# End form search-->
		
			</div><!-- End container presentation header -->
		
		</div>
	</div>
		<!--END HEADER-->

	<div class="jumbotron bg-transparent">
		
		<main class="section-1 section-main-home mt-1">
				
				<!--Begin section How to Step -->
				<section class="bg-darkgray" style="margin-top: 0;">
					<div class="container">
						<div class="row d-flex py-5 justify-content-center">	
							<div class="col-12 text-center">
								<h6 class="text-white text-uppercase">Comment ça marche?</h6>
							</div>
							<div class="col-12 col-lg-3 d-flex flex-column text-center align-items-center justify-content-center py-4">
								<span class="bg-warning mb-3 rounded-circle" style="width: 64px; height: 64px"><span class="h2 text-dark font-weight-bold" style="line-height: 64px;">1</span></span>
								<span class="pro-icon mb-3">
								<span class="icon-how-to-step">
									<img src="{{ absolute_url('/assets/img/student-businesswoman-816.jpg') }}" class="icon-how-to-step"></img>
								</span>
								</span>
								<span class="h6 text-warning">Je decri mon projet <br> Vous recevrez jusqu'à 5 devis </span>
								<span class="small">Sélectionnez vos métiers et<br> votre zone géographique</span>
							</div>
							<div class="col d-flex justify-content-center align-items-center">
								<span class="lnr lnr-chevron-right text-white animated infinite fadeIn delay-2s d-lg-block d-none"></span>
								<span class="lnr lnr-chevron-down text-white animated infinite fadeIn delay-2s d-lg-none d-block"></span>
							</div>
							<div class="col-12 col-lg-3 d-flex flex-column text-center align-items-center justify-content-center py-4">
								<span class="bg-warning mb-3 rounded-circle" style="width: 64px; height: 64px"><span class="h2 text-dark font-weight-bold" style="line-height: 64px;">2</span></span>
								<span class="pro-icon mb-3">
								<span class="icon-how-to-step">
									<img src="{{ absolute_url('/assets/img/site-engineer-construction-42834.jpg') }}" class="icon-how-to-step"></img>
								</span>
								</span>
								<span class="h6 text-warning">Nos professionnels qualifiés <br> vous contacte</span>
								<span class="small">Accédez à toutes<br>les demandes détaillées</span>
							</div>
							<div class="col d-flex justify-content-center align-items-center">
								<span class="lnr lnr-chevron-right text-white animated infinite fadeIn delay-2s d-lg-block d-none"></span>
								<span class="lnr lnr-chevron-down text-white animated infinite fadeIn delay-2s d-lg-none d-block"></span>
							</div>
							<div class="col-12 col-lg-3 d-flex flex-column text-center align-items-center justify-content-center py-4">
								<span class="bg-warning mb-3 rounded-circle" style="width: 64px; height: 64px"><span class="h2 text-dark font-weight-bold" style="line-height: 64px;">3</span></span>
								<span class="pro-icon mb-3">
								<span class="icon-how-to-step">
									<img src="{{ absolute_url('/assets/img/happy-customer-approving-16184.jpg') }}" class="icon-how-to-step"></img>
								</span>
								</span>
								<span class="h6 text-warning">Choisissez votre artisans<br>Selon la qualité prix</span>
								<span class="small">Nos professionnels signent<br>1 à 2 projets sur 5</span>
							</div>
						</div>
					</div>
				</section>
				<!--End section of How to Step-->

				<!--Begin section  of the form Login-->
				<section class="">
					<div class="container">
						<div class="row">
							<div class="col-12">
								
								<!-- Begin The Modal Login-->
								<div class="modal fadeIn" id="my-form-register">
									<div class="modal-dialog" style="position: relative; top: 6em;">
										<div class="modal-content" style="background: dimgrey;">
											<!-- Modal Header -->
											<div class="modal-header border-bottom">
												<div class="modal-title text-white">SE CONNECTER EN TANT QUE UTILISATEUR</div>
												<button type="button" class="close btn-annule h6" data-dismiss="modal">&times;</button>
											</div>
											<!-- Modal body -->
											<div class="modal-body">
												{% if error %}
													<div class="w-100 text-center text-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
												{% endif %}
											   <form  action="{{ path('login') }}" method="post">
													<div class="form-group mb-3">
														<label class="">Email</label>
														<div class="input-group mb-3">
															
															<input type="email" class="form-control" name="_username" style="height: auto !important;"  placeholder="Votre e-mail">
														</div>
													</div>
													<div class="form-group mb-3">
														<label class="">Mot de passe</label>
														<div class="input-group mb-3">
															
															<input type="password" class="form-control" name="_password" style="height: auto !important;"  placeholder="Votre mot de passe ">
														</div>
													</div>
													<div class="text-center">
														<button type="submit" class="btn btn-warning">SE CONNECTER</button>
														<!--<button type="button" class="btn btn-annule btn-danger float-right" data-dismiss="modal">Annuler</button> -->
													</div>
												</form>
											</div>
											<!-- Modal footer -->
											<div class="modal-footer d-block text-center text-white">
												Inscription gratuite entant que:<br> <a href="{{ path('inscription_page') }}" class="text-decoration-none text-warning">Professionnel ?</a> ou <a href="javascript:void(0);" class="text-decoration-none show-particular-inscription text-warning">Particulier ?</a>
											</div>
										</div>
									</div>
								</div>
								<!-- End The Modal Login-->
							</div>
						</div>
					</div>
				</section>
				<!--End section  of the form Login-->
				
				<!--Begin section  of the form register for particulary-->
				<section>
					
						<div class="row">
							<div class="col-12">
								
								<!-- Begin The Modal Login-->
								<div class="modal fadeIn" id="my-form-particular-register">
									<div class="modal-dialog" style="position: relative; top: 5em;">
										<div class="modal-content" style="background: dimgrey;">
											<!-- Modal Header -->
											<div class="modal-header border-bottom">
												<h4 class="modal-title text-white">Inscription Gratuite pour les particuliers</h4>
												<button type="button" class="close btn-annule h6" data-dismiss="modal">&times;</button>
											</div>
											<!-- Modal body -->
											<div class="modal-body">
											   <form class="form-register-user">
													<div class="form-group mb-3">
														<label class="">Nom</label>
														<div class="input-group mb-3">
															
															<input type="text" class="form-control _username" name="_username" style="height: auto !important;"  placeholder="Votre nom">
														</div>
													</div>
													<div class="form-group mb-3">
														<label class="">Email</label>
														<div class="infos-message"></div>
														<div class="input-group mb-3">
															
															<input type="email" class="form-control _email" name="_email" style="height: auto !important;"  placeholder="Votre e-mail">
														</div>
													</div>
													<div class="form-group mb-3">
														<label class="">Mot de passe</label>
														<div class="input-group mb-3">
															
															<input type="password" class="form-control password" name="_password" style="height: auto !important;"  placeholder="Votre mot de passe ">
														</div>
													</div>
													<div class="form-group mb-3">
														<label class="">Confirmation mot de passe</label>
														<div class="input-group mb-3">
														
															<input type="password" class="form-control password-comfirm" style="height: auto !important;"  placeholder="Reconfirmer votre mot de passe">
														</div>
														<div class="input-group mb-3">
															
															<input type="hidden" value="PARTICULAR_USER" name="TYPE_USER">
														</div>
													</div>
													<div class="text-center">
														<a class="btn btn-register-user text-white btn-warning">ENREGISTRER</a>
														<!--<button type="button" class="btn btn-annule btn-danger float-right" data-dismiss="modal">Annuler</button> -->
													</div>
												</form>
											</div>
											<!-- Modal footer -->
											<div class="modal-footer d-block text-center text-white">
												Vous avez déjà un compte ?, <a class="text-warning show-form-pro-mouseclick" href="javascript:void();">se connecter</a>
											</div>
										</div>
									</div>
								</div>
								<!-- End The Modal Login-->
							</div>
						</div>
					
				</section>
				<!--End section  of the form register for particulary-->
		</main>
			
		<!-- Begin footer page -->
		{% include "./page/footer/footer.html.twig" %}
		<!-- END footer page -->

	</div>

{% endblock %}

{% block javascripts %}

<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>-->
<!-- Auto-complete -->
<script src="{{ absolute_url('/assets/autocomplete/autocomplete.js') }}"></script>
<!-- Auto-complete -->
<!-- MESSAGE NTIFICATION -->
<script src="{{ absolute_url('/assets/sweetalert2/dist/sweetalert2.all.min.js') }}"></script>
<script src="{{ absolute_url('/assets/sweetalert2/dist/sweetalert2.min.js') }}"></script>
<!--Local-->
<script src="{{ absolute_url('/assets/loadbar/js/loading-bar.js') }}"></script>
<script src="{{ absolute_url('/assets/js/core/jquery.min.js') }}"></script>
<script src="{{ absolute_url('/assets/js/core/bootstrap.min.js') }}"></script>
<script src="{{ absolute_url('/assets/js/now-ui-kit.min.js') }}"></script>
<script src="{{ absolute_url('/assets/js/core/popper.min.js') }}"></script>
<script src="{{ absolute_url('/assets/js/plugins/bootstrap-switch.js') }}"></script>
<script src="{{ absolute_url('/assets/js/plugins/nouislider.min.js') }}"></script>
<script src="{{ absolute_url('/assets/swiper/dist/js/swiper.min.js') }}"></script>
<script src="{{ absolute_url('/assets/select2-develop/dist/js/select2.full.min.js') }}"></script>
<script src="{{ absolute_url('/assets/select2-develop/dist/js/select2.min.js') }}"></script>
<script src="{{ absolute_url('/assets/menu/menu.js') }}"></script>
<script src="https://www.google.com/recaptcha/api.js?render=6Lcr-qsUAAAAAPrCqD5Yk1iDIw9xBtzP6KSackqm"></script>
<script src="{{ absolute_url('/assets/js/app.js') }}"></script>
<script src="{{ absolute_url('/assets/js/list-ajax.js') }}"></script>
<script src="{{ absolute_url('/assets/js/inscription.js') }}"></script>

{% endblock %}