{% extends  'base.html.twig' %}

        {% block stylesheets %}

        <script src="https://cdn.linearicons.com/free/1.0.0/svgembedder.min.js"></script>
        <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
        <!-- CSS Files -->
        <link href="{{ absolute_url('/assets/sweetalert2/dist/sweetalert2.min.css') }}" rel="stylesheet" />
        <link href="{{ absolute_url('/assets/css/now-ui-kit.min.css') }}" rel="stylesheet" />
        <link href="{{ absolute_url('/assets/css/bootstrap.min.css') }}" rel="stylesheet" />
        <link href="{{ absolute_url('/animate/animate.min.css') }}" rel="stylesheet" />
        <link href="{{ absolute_url('/assets/loadbar/css/loading-bar.css') }}" rel="stylesheet" />
        <link href="{{ absolute_url('/assets/select2-develop/dist/css/select2.min.css') }}" rel="stylesheet" />
        <link href="{{ absolute_url('/assets/swiper/dist/css/swiper.min.css') }}" rel="stylesheet" />
        <link href="{{ absolute_url('/css/loading.css') }}" rel="stylesheet" />
        <link href="{{ absolute_url('/css/loading-btn.css') }}" rel="stylesheet" />
        <link href="{{ absolute_url('/assets/menu/menu-large.css') }}" rel="stylesheet" />
        <link href="{{ absolute_url('/assets/menu/menu-mobile.css') }}" rel="stylesheet" />
        <link href="{{ absolute_url('/assets/autocomplete/autocomplete.css') }}" rel="stylesheet" />
        <link href="{{ absolute_url('/assets/carousel/slid.css') }}" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="{{ absolute_url('/menu-panel/css/jquery.jscrollpane.custom.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ absolute_url('/menu-panel/css/bookblock.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ absolute_url('/menu-panel/css/custom.css') }}" />
        <script src="{{ absolute_url('/menu-panel/js/modernizr.custom.79639.js') }}"></script>
        <link href="{{ absolute_url('/css/style.css') }}" rel="stylesheet" />

        <style>
            .content-paraphe p {
                font-size: 1em !important;
                padding: 5px 3% !important;
            }
            .jspDrag {
                background-color: rgb(255, 144, 0) !important;
            }
           
            .js .menu-panel {
                position: absolute !important;
                {# left: -322px !important; #}
            }
            .menu-panel, .bb-custom-wrapper nav span, .menu-button {
            background-color: rgb(255, 144, 0) !important;
            }

            .li.menu-toc-current a, .menu-toc li a {
                background: #777 !important;
            }

            .menu-toc li a { 
                background-color: transparent !important;
                border-bottom-color: white !important;
            }
            .content h2 {
            font-size: 8vw !important;
            text-align: center !important
            }
        </style>
    
    {% endblock %}

    {% block body %}
	
    <div class="page-header">
        <div class="page-header-image animated pulse" data-parallax="true" style="background-image: url('/uploads/themes/gestion-patrimoine.jpeg'); background-position: center center !important;">
        </div>
        <div class="row">
            <div class="col-12 p-0">
                <div class="contenair-header-menu">
                    <nav class="navbar navbar-expand bg-gray py-0 navbar-head">
                    <div class="container border-0">

                        <!-- MENU LARGE COORDONE-->
                        <div class="d-none d-lg-flex w-100 flex-md-row align-items-center justify-content-center justify-content-sm-around">
                            <div class="d-flex flex-sm-row w-100 flex-column justify-content-sm-around align-items-center justify-content-center">
                                <a class="text-decoration-none logo-content" href="{{ path('home_page') }}">
                                <img class="logo" src="{{ absolute_url('/uploads/logo/' ~ configsite.getImage()) }}"></img>
                                </a>
                                
                                <ul class="navbar-nav mt-2 mt-lg-0 d-lg-flex flex-column flex-sm-row">
                                    <li class="nav-item active m-1">
                                    <a class="nav-link" href="javascript:void();"><span class="d-flex align-content-baseline"><span class="lnr lnr-phone-handset text-wite bg-warning p-1"></span> <span class="bg-darkgray p-1 text-nowrap" style="font-size: 15px;">{{ configsite.getNumphone() }}</span></span></a>
                                    </li>
                                    <li class="nav-item active m-1">
                                    <a class="nav-link" href="javascript:void()"><span class="d-flex align-content-baseline"><span class="lnr lnr-envelope text-wite bg-warning p-1"></span> <span class="bg-darkgray p-1 text-nowrap text-lowercase" style="font-size: 15px;">{{ configsite.getEmail() }}</span></span></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="inscription-group-boutton d-none d-lg-flex flex-column flex-sm-row justify-content-center align-items-center  text-center w-sm-75 w-100">
                                <span class="mr-1">
                                    <button class="btn btn-round bg-gray text-decoration-none show-form-pro-mouseclick-11 text-nowrap font-weight-bold text-warning border-warning text-nowrap" type="button">
                                        <i class="">🔒</i> <label class="sr-only-focusable d-none d-lg-inline">Se connecter<label>
                                    </button>
                                </span>
                                <span class="">
                                    <a href="{{ path('inscription_particulier_page') }}" class="btn btn-round bg-warning text-white font-weight-bold text-nowrap">
                                        <i class="">👷🏾</i>  Inscription gratuite
                                    </a>
                                </span>
                            </div>
                        </div>
                        <!-- END MENU LARGE COORDONE -->
                        
                        <!-- BEGIN MOBILE MENU -->
                        {% include "./page/menu/menu-mobile.html.twig" %}
                        <!-- END MOBILE MENU -->


                    </div>
                    </nav>
                    <!-- Navbar menu end here -->
					  
                    <!-- ############################# NAVBAR HERE LARGE -->
                    <!-- BEGIN MOBILE MENU -->
                    {# {% include "./page/menu/menu-mobile.html.twig" %} #}
                    <!-- END MOBILE MENU -->	
                
                    <!-- BEGIN MENU DISPALY WHEN LARGE SCREEN -->
			
                    <div class="navbar-mega large-menu d-md-flex justify-content-center">
                        <div class="dropdown-mega">
                            <a class="dropbtn"> Demander un devis
                            <i class="fa fa-caret-down"></i>
                            </a>
                            <div class="dropdown-content">
                                <ul class=" px-4">
                                    {% if categories != null %}
                                        {% for categ in categories %}
                                            <li class="column-list text-left px-0" style="line-height: 0;">
                                            <a href="{{ path('post_ask_devis_page', {id: categ.getId()}) }}" class="d-flex align-items-center">
                                            <span class="lnr lnr-chevron-right-circle text-warning mr-1" style="font-size: 12px;"></span>
                                            <span class="text-warning">{{ categ.getCategTitle() }}</span>
                                            </a>
                                        </li>
                                        {% endfor %}
                                    <li class="text-center"  style="line-height: 0;">
                                    <a href="{{ path('view_all_tavaux_page') }}" class="mm-view-more p-1"> Voir les articles >></a>
                                    </li>
                                    {% endif %}
                                </ul>
                                <div class="row-mega">
                                    <div class="column-12">
                                    {% if popularDevis|length > 0 %}
                                        <div class="w-100 text-center">
                                            <h3> Les  plus populaires </h3>
                                        </div>
                                        <section class="sliderComplete">
                                            <!-- Wrapper -->
                                            <section class="wrapper">
                                                <!-- ".slider" has a width greater than 100% to give way to all albums to align.  -->
                                                <ul class="slider">
                                           
                                                    {% for devPopular in popularDevis %}
                                                    <li class="column-list text-center">
                                                        <a href="#" class="d-block mb-1 p-0">
                                                            <img class="img-fluid img-thumbnail" src="{{ absolute_url('/uploads/images/' ~ devPopular.getImg()) }}" />
                                                        </a>
                                                        <p><a href="{{ path('view_art_cat_galery_page', {id: devPopular.getArticleCategId().getId()}) }}">{{ devPopular.getArticleTitle() }}</a></p>
                                                        <p><a href="{{ path('post_ask_devis_page', {id: devPopular.getArticleCategId().getId()}) }}" style="font-size: smaller; padding: 2px;" class="mm-view-more text-white sr-only-focusable text-decoration-noen">Demander un devis</a></p>
                                                    </li>
                                                    {% endfor %}
                                           
                                            
                                                </ul>
                                            </section>
                                            <!-- End wrapper -->

                                            <button title="before" class="close button-slid bg-warning" style="height: 50%;">
                                                <svg version="1.1" id="left" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                    viewBox="12.7 2.5 15.4 25" enable-background="new 12.7 2.5 15.4 25" height="24" xml:space="preserve">
                                                <g id="chevron-right">
                                                    <polygon fill="#38373A" points="13,15 25,27 27.8,24.2 18.6,15 27.8,5.8 25,3 	"/>
                                                </g>
                                                </svg>
                                            </button>

                                            <!-- 
                                            ".open" is on display:block; to be visible.
                                            -->
                                            <button title="after" class="open button-slid bg-warning" style="height: 50%;">
                                                <svg version="1.1" id="right" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                    viewBox="12.7 2.5 15.4 25" enable-background="new 12.7 2.5 15.4 25" height="24" xml:space="preserve">
                                                <g id="chevron-right">
                                                    <polygon fill="#38373A" points="15.8,3 13,5.8 22.2,15 13,24.2 15.8,27 27.8,15 	"/>
                                                </g>
                                                </svg>
                                            </button>
                                        </section>
                                        <!-- End sliderComplete -->
                                        {% endif %}
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- END TYPE TRAVAUX -->
                        <div class="dropdown-mega">
                            <a class="dropbtn">Guides des prix
                            <i class="fa fa-caret-down"></i>
                            </a>
                            <div class="dropdown-content">
                                <ul class=" px-4">
                                    {% if categories != null %}
                                        {% for categ in categories %}
                                            <li class="column-list text-left px-0" style="line-height: 0;">
                                            <a href="{{ path('category_sous_category_page', {categId: categ.getId()}) }}" class="d-flex align-items-center">
                                            <span class="lnr lnr-chevron-right-circle text-warning mr-1" style="font-size: 12px;"></span>
                                            <span class="text-warning">{{ categ.getCategTitle() }}</span>
                                            </a>
                                        </li>
                                        {% endfor %}
                                    {# <li class="text-center"  style="line-height: 0;">
                                    <a href="{{ path('view_all_tavaux_page') }}" class="mm-view-more p-1"> Voir les articles >></a>
                                    </li> #}
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                        <a href="{{ path('how_to_step_page') }}">Comment ça marche ?</a>
                        <a href="{{ path('space_find_pro_page') }}">Trouvez un pros</a>
                    </div>
			
                    <!-- END MENU DISPALY WHEN  WHEN LARGE SCREEN -->

                    <!-- Begin Progress barr slid scroll -->
                    <div class="progress-container fixed-top">
                        <div class="progress-bar" id="myBar"></div>
                    </div> 
                    <!-- End Progress barr slid scroll -->
                </div>
            </div>
        </div>
        <!-- End Row for Menu header -->
		
        <!-- Begin for row content header parallax -->
        <div class="row d-flex justify-content-center font-weight-light" style="">
            <!-- ############# Begin slide beside -->
            <div class="col-8" style="padding-top: 15em;">
                <div class="container border-0">
                    <div class="w-100 d-flex flex-column pb-4 justify-content-center">
                        <div class="h2 text-text-white title-price text-uppercase">
                            <a href="{{ path('home_page') }}" class="text-decoration font-weight-bold text-warning" >ACCeuil</a> / Guide des prix
                        </div>
                    </div>
                </div>
            </div>
            <!-- ############# End slide beside -->
        </div>
        <!-- End for row content header parallax -->
    </div>
    <!--END HEADER-->
	

    {# <div class="jumbotron bg-transparent"> #}
        {# <main class="section-1 section-main" style="background-attachment: fixed;"> #}

            <!--Begin section  of the list ads by artisan-->
            {# <section class="bg-gray"> #}

                <div id="container" class="container-container container-fluid border-left-0 m-0 border-0">
		
                    <!-- Begin menu-panel -->
                    <div class="menu-panel">
                        <h6 class="m-2 text-secondary">Sous categories</h6>
                        <ul id="menu-toc" class="menu-toc">
                            <!-- Here we need to use sous category at item by reference -->
                            {% if sousCategories|length > 0 %}
                                {% for sousCateg in sousCategories %}
                                <li class="item{{ sousCateg.getId() }} menu-toc-current">
                                <a data-id="{{ sousCateg.getId() }}" class="d-flex align-items-center" href="#item{{ sousCateg.getId() }}">
                                    <span class="lnr lnr-chevron-right text-warning mr-1" style="font-size: 12px;"></span>
                                <span class="small">{{ sousCateg.getSousCategTitle() }}</span>
                                </a>
                                </li>
                                {% endfor %}
                            {% endif %}
                        </ul>				
                    </div>
                    <!-- End menu-panel -->

                    <!-- Begin bb-custom-wrapper -->
                    <div class="bb-custom-wrapper">
                        <div id="bb-bookblock" class="bb-bookblock">
                            <!-- Here we need to use sous category at item by reference -->
                        {% if sousCategories|length > 0 %}
                            {% for sousCateg in sousCategories %}
                            <div class="bb-item" id="item1">
                                <div class="content content-paraphe">
                                    <div class="scroller">
                                        <div class="row mt-5">
                                            <div class="col-12 text-center">
                                                <h6 class="text-warning">{{sousCateg.getSousCategTitle()}}</h6>
                                                <p class="text-center"><img class="img" src="{{absolute_url('/uploads/images/' ~ sousCateg.getImg())}}"></p>
                                                <p>
                                                   {{ sousCateg.getSousCategIntro() }}
                                                </p>
                                        	</div>
                                            <div class="col-12 text-center">
                                                <div class="d-flex align-items-center text-warning">
                                                <span class="lnr lnr-chevron-right text-warning mr-1" style="font-size: 12px;"></span>
                                                <h6 class=""> {{ sousCateg.getSOusCategLinkQuestion() }} <h6>
                                                </div>
                                                <p class="">{{ sousCateg.getDescription() }}</p>
                                            </div>

                                            {% if modePrices|length > 0 %}
                                                {% for mod in modePrices %}
                                                    {% if sousCateg.getId() == mod.getPrixSousCategoryId().getId() %}
                                                    <div class="col-12 text-center">
                                                        <div class="d-flex align-items-center text-warning">
                                                        <span class="lnr lnr-chevron-right text-warning mr-1" style="font-size: 12px;"></span>
                                                        <h6 class=""> {{ mod.getPrixTitle() }} <h6>
                                                        </div>
                                                        <p class=""> {{ mod.getPrixDescription() }} </p>
                                                        <p class="text-center"><img class="text-center img" src="{{absolute_url('/uploads/images/' ~ mod.getPrixImage())}}" style="width: 100%; height: 50%;"></p>
                                                    </div>
                                                    {% endif %}
                                                {% endfor %}
                                                <div class="col-12">
                                                    <h6>Récapitulatif des {{ sousCateg.getSousCategTitle() }}</h6>
                                                    <div class="table-responsive">
                                                        <table class="table">
                                                            <thead>
                                                            <tr>
                                                                <th>Type de {{ sousCateg.getSousCategTitle() }}</th>
                                                                <th>Prix globale</th>
                                                                <th>Prix moyen</th>
                                                                <th>Prix haut de gamme</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                           
                                                            {% if modePrices|length > 0 %}
                                                                {% for mod in modePrices %}
                                                                    {% if sousCateg.getId() == mod.getPrixSousCategoryId().getId() %}
                                                                    <tr>
                                                                    <td>{{ mod.getPrixArticleId().getArticleTitle() }}</td>
                                                                    <td>{{ mod.getPrixGlobale() }}</td>
                                                                    <td>{{ mod.getPrixMoyen() }}</td>
                                                                    <td>{{ mod.getPrixHautGamme() }}</td>
                                                                    </tr>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% endif %}
                                                              
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div class="col-12 text-center">
                                                    <a href="{{ path('post_ask_devis_page', {id: sousCateg.getCatSousCategoryId().getId()}) }}" class="btn text-decoration-none text-white btn-warning"> DEMANDER UN DEVIS </a>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        {% endif %}
                        </div>
				
                        <nav>
                            <span id="bb-nav-prev">&larr;</span>
                            <span id="bb-nav-next">&rarr;</span>
                        </nav>

                        <span id="tblcontents" class="menu-button">Table of Contents</span>

                    </div>
                    <!-- End bb-custom-wrapper -->
				
                </div>
                <!-- /container -->


            {# </section>
            <!--End section  of the list ads by artisan--> #}
			
        {# </main> #}
			
        <!-- Begin footer page -->
        {% include "./page/footer/footer.html.twig" %}
        <!-- END footer page -->

    {# </div> #}

{% endblock %}

{% block javascripts %}

<!-- Auto-complete -->
<script src="{{ absolute_url('/assets/autocomplete/autocomplete.js') }}"></script>
<!-- Auto-complete -->

<!-- MESSAGE NTIFICATION -->
<script src="{{ absolute_url('/assets/sweetalert2/dist/sweetalert2.all.min.js') }}"></script>
<script src="{{ absolute_url('/assets/sweetalert2/dist/sweetalert2.min.js') }}"></script>
<!--Local-->
<script src="{{ absolute_url('/assets/loadbar/js/loading-bar.js') }}"></script>
<script src="{{ absolute_url('/assets/js/core/jquery.min.js') }}"></script>
<script src="{{ absolute_url('/assets/js/core/bootstrap.min.js') }}"></script>
<script src="{{ absolute_url('/assets/js/now-ui-kit.min.js') }}"></script>
<script src="{{ absolute_url('/assets/js/core/popper.min.js') }}"></script>
<script src="{{ absolute_url('/assets/js/plugins/bootstrap-switch.js') }}"></script>
<script src="{{ absolute_url('/assets/js/plugins/nouislider.min.js') }}"></script>
<script src="{{ absolute_url('/assets/swiper/dist/js/swiper.min.js') }}"></script>
<script src="{{ absolute_url('/assets/select2-develop/dist/js/select2.full.min.js') }}"></script>
<script src="{{ absolute_url('/assets/select2-develop/dist/js/select2.min.js') }}"></script>
<script src="{{ absolute_url('/assets/menu/menu.js') }}"></script>
<script src="{{ absolute_url('/assets/js/app.js') }}"></script>
<script src="{{ absolute_url('/menu-panel/js/jquery.mousewheel.js') }}"></script>
<script src="{{ absolute_url('/menu-panel/js/jquery.jscrollpane.min.js') }}"></script>
<script src="{{ absolute_url('/menu-panel/js/jquerypp.custom.js') }}"></script>
<script src="{{ absolute_url('/menu-panel/js/jquery.bookblock.js') }}"></script>
<script src="{{ absolute_url('/menu-panel/js/page.js') }}"></script>    
<script src="{{ absolute_url('/assets/js/guid-price.js') }}"></script>

{% endblock %}