	{% extends  'base.html.twig' %}

		{% block stylesheets %}

		<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />-->
		<script src="https://cdn.linearicons.com/free/1.0.0/svgembedder.min.js"></script>
		<link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
		<!-- css files -->
		<link href="{{ absolute_url('/assets/sweetalert2/dist/sweetalert2.min.css') }}" rel="stylesheet" />
		<link href="{{ absolute_url('/assets/css/now-ui-kit.min.css') }}" rel="stylesheet" />
		<link href="{{ absolute_url('/assets/css/bootstrap.min.css') }}" rel="stylesheet" />
		<link href="{{ absolute_url('/animate/animate.min.css') }}" rel="stylesheet" />
		<link href="{{ absolute_url('/assets/loadbar/css/loading-bar.css') }}" rel="stylesheet" />
		<link href="{{ absolute_url('/assets/select2-develop/dist/css/select2.min.css') }}" rel="stylesheet" />
		<link href="{{ absolute_url('/assets/swiper/dist/css/swiper.min.css') }}" rel="stylesheet" />
		<link href="{{ absolute_url('/assets/form-multistep/form-step.css') }}" rel="stylesheet" />
		<link href="{{ absolute_url('/css/loading.css') }}" rel="stylesheet" />
		<link href="{{ absolute_url('/css/loading-btn.css') }}" rel="stylesheet" />
		<link href="{{ absolute_url('/assets/menu/menu-large.css') }}" rel="stylesheet" />
		<link href="{{ absolute_url('/assets/menu/menu-mobile.css') }}" rel="stylesheet" />
		<link href="{{ absolute_url('/assets/carousel/slid.css') }}" rel="stylesheet" />
		<link href="{{ absolute_url('/css/style.css') }}" rel="stylesheet" />

		<style>

			.easy-autocomplete.eac-square ul li b, .easy-autocomplete.eac-square ul .eac-category b {
				font-weight: bold;
				color: orange;
			}
			.select2-container--default .select2-selection--single {
				border: 1px solid #ffbb00 !important;
				border-radius: 32px !important;
			}
			.select2-container .select2-selection--single .select2-selection__rendered, span.selection {
				border-radius: 32px !important;
				font-size: 1em !important;
			}

		</style>
    
	{% endblock %}

	{% block body %}

	<div class="page-header page-header-image-gallery">
		<div class="page-header-image animated pulse" data-parallax="true" style="background-image: url('/assets/img/photos/slide-inscription.jpg'); background-position: 0 50px !important;">
		</div>
		<div class="row">
			<div class="col-12 p-0">
				<div class="contenair-header-menu">
					<nav class="navbar navbar-expand bg-gray py-0 navbar-head">
					  <div class="container border-0">

						<!-- MENU LARGE COORDONE-->
						<div class="d-none d-lg-flex w-100 flex-md-row align-items-center justify-content-center justify-content-sm-around">
							<div class="d-flex flex-sm-row w-100 flex-column justify-content-sm-around align-items-center justify-content-center">
								<a class="text-decoration-none logo-content" href="{{ path('home_page') }}">
								<img class="logo" src="{{ absolute_url('/uploads/logo/' ~ configsite.getImage()) }}"></img>
								</a>
                                
								<ul class="navbar-nav mt-2 mt-lg-0 d-lg-flex flex-column flex-sm-row">
									<li class="nav-item active m-1">
									<a class="nav-link" href="javascript:void();"><span class="d-flex align-content-baseline"><span class="lnr lnr-phone-handset text-wite bg-warning p-1"></span> <span class="bg-darkgray p-1 text-nowrap" style="font-size: 15px;">{{ configsite.getNumphone() }}</span></span></a>
									</li>
									<li class="nav-item active m-1">
									<a class="nav-link" href="javascript:void()"><span class="d-flex align-content-baseline"><span class="lnr lnr-envelope text-wite bg-warning p-1"></span> <span class="bg-darkgray p-1 text-nowrap text-lowercase" style="font-size: 15px;">{{ configsite.getEmail() }}</span></span></a>
									</li>
								</ul>
							</div>
							<div class="inscription-group-boutton d-none d-lg-flex flex-column flex-sm-row justify-content-center align-items-center  text-center w-sm-75 w-100">
								<span class="mr-1">
									<button class="btn btn-round bg-gray text-decoration-none show-form-pro-mouseclick-11 text-nowrap font-weight-bold text-warning border-warning text-nowrap" type="button">
										<i class="">🔒</i> <label class="sr-only-focusable d-none d-lg-inline">Se connecter<label>
									</button>
								</span>
								<span class="">
									<a href="{{ path('inscription_particulier_page') }}" class="btn btn-round bg-warning text-white font-weight-bold text-nowrap">
										<i class="">👷🏾</i>  Inscription gratuite
									</a>
								</span>
							</div>
						</div>
						<!-- END MENU LARGE COORDONE -->
						                        
						<!-- BEGIN MOBILE MENU -->
						{% include "./page/menu/menu-mobile.html.twig" %}
						<!-- END MOBILE MENU -->


					  </div>
					</nav>
					<!-- navbar menu end here -->

					<!-- ############################# NAVBAR HERE LARGE -->
					<!-- BEGIN MOBILE MENU -->
					{# {% include "./page/menu/menu-mobile.html.twig" %} #}
					<!-- END MOBILE MENU -->	
                
					<!-- BEGIN MENU DISPALY WHEN LARGE SCREEN -->
			
					<div class="navbar-mega large-menu d-md-flex justify-content-center">
						<div class="dropdown-mega">
							<a class="dropbtn"> Demander un devis
							<i class="fa fa-caret-down"></i>
							</a>
							<div class="dropdown-content">
								<ul class=" px-4">
									{% if categories != null %}
										{% for categ in categories %}
											<li class="column-list text-left px-0" style="line-height: 0;">
											<a href="{{ path('post_ask_devis_page', {id: categ.getId()}) }}" class="d-flex align-items-center">
											<span class="lnr lnr-chevron-right-circle text-warning mr-1" style="font-size: 12px;"></span>
											<span class="text-warning">{{ categ.getCategTitle() }}</span>
											</a>
										</li>
										{% endfor %}
									<li class="text-center"  style="line-height: 0;">
									<a href="{{ path('view_all_tavaux_page') }}" class="mm-view-more p-1"> Voir les articles >></a>
									</li>
									{% endif %}
								</ul>

								{# <div class="row-mega">
									<div class="column-12">
									{% if popularDevis != null %}
										<div class="w-100 text-center">
											<h3> Les  plus populaires </h3>
										</div>
										<section class="sliderComplete">
											<!-- Wrapper -->
											<section class="wrapper">
												<!-- ".slider" has a width greater than 100% to give way to all albums to align.  -->
												<ul class="slider">
                                           
													{% for devPopular in popularDevis %}
													<li class="column-list text-center">
														<a href="#" class="d-block mb-1 p-0">
															<img class="img-fluid img-thumbnail" src="{{ absolute_url('/uploads/images/' ~ devPopular.getImg()) }}" />
														</a>
														<p><a href="{{ path('view_art_cat_galery_page', {id: devPopular.getId()}) }}">{{ devPopular.getCategTitle() }}</a></p>
														<p><a href="{{ path('post_ask_devis_page', {id: devPopular.getId()}) }}" style="font-size: smaller; padding: 2px;" class="mm-view-more text-white sr-only-focusable text-decoration-noen">Demander un devis</a></p>
													</li>
													{% endfor %}
                                           
                                            
												</ul>
											</section>
											<!-- End wrapper -->

											<button title="before" class="close button-slid bg-warning" style="height: 50%;">
												<svg version="1.1" id="left" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
													viewBox="12.7 2.5 15.4 25" enable-background="new 12.7 2.5 15.4 25" height="24" xml:space="preserve">
												<g id="chevron-right">
													<polygon fill="#38373A" points="13,15 25,27 27.8,24.2 18.6,15 27.8,5.8 25,3 	"/>
												</g>
												</svg>
											</button>

											<!-- 
											".open" is on display:block; to be visible.
											-->
											<button title="after" class="open button-slid bg-warning" style="height: 50%;">
												<svg version="1.1" id="right" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
													viewBox="12.7 2.5 15.4 25" enable-background="new 12.7 2.5 15.4 25" height="24" xml:space="preserve">
												<g id="chevron-right">
													<polygon fill="#38373A" points="15.8,3 13,5.8 22.2,15 13,24.2 15.8,27 27.8,15 	"/>
												</g>
												</svg>
											</button>
										</section>
										<!-- End sliderComplete -->
										{% endif %}
									</div>
								</div> #}

							</div>
						</div>
						<!-- END TYPE TRAVAUX -->
						<div class="dropdown-mega">
							<a class="dropbtn">Guides des prix
							<i class="fa fa-caret-down"></i>
							</a>
							<div class="dropdown-content">
								<ul class=" px-4">
									{% if categories != null %}
										{% for categ in categories %}
											<li class="column-list text-left px-0" style="line-height: 0;">
											<a href="{{ path('category_sous_category_page', {categId: categ.getId()}) }}" class="d-flex align-items-center">
											<span class="lnr lnr-chevron-right-circle text-warning mr-1" style="font-size: 12px;"></span>
											<span class="text-warning">{{ categ.getCategTitle() }}</span>
											</a>
										</li>
										{% endfor %}
									{# <li class="text-center"  style="line-height: 0;">
									<a href="{{ path('view_all_tavaux_page') }}" class="mm-view-more p-1"> Voir les articles >></a>
									</li> #}
									{% endif %}
								</ul>
							</div>
						</div>
						<a href="{{ path('how_to_step_page') }}">Comment ça marche ?</a>
						<a href="{{ path('space_find_pro_page') }}">Trouvez un pros</a>
					</div>
			
					<!-- END MENU DISPALY WHEN  WHEN LARGE SCREEN -->
					
					 <!-- progress barr slid scroll -->
						<div class="progress-container fixed-top">
							<div class="progress-bar" id="myBar"></div>
						</div>

				</div>
			</div>
		</div>
		<!-- end row for menu header -->

		<!-- begin for row content header parallax -->
		<div class="row d-flex justify-content-center font-weight-light">
			<!-- ############# begin slide beside -->
			<div class="col-12 col-md-8" style="padding-top: 1em;">
				<div class="container border-0">
					<div class="w-100 d-flex flex-column pb-4 justify-content-center">
						<div class="h2 text-white text-monospace font-weight-bold text-uppercase">
							<a href="{{ path('home_page') }}" class="text-decoration font-weight-bold text-warning" >ACCeuil</a> / {{ category.getCategTitle() }}
						</div>
					</div>
				</div>
			</div>
			<!-- ############# end slide beside -->
		</div>
	</div>
	<!--end header-->


	<div class="jumbotron bg-transparent">
		<main class="section-1 section-main bg-white">
			<!--begin section  of the list ads by artisan-->
			<section class="bg-transparent">
				<div class="container">
					<div class="row d-flex justify-content-center ">
						<div class="col-12 col-md-10 h-100 pb-4">
						
							<div class="stepwizard" style="width: 100% !important;">
								<div class="stepwizard-row setup-panel">
								  <div class="stepwizard-step">
									<a href="#step-1"  class="btn btn-success text-white rounded-circle">1</a>
									<span class=""></span>
								  </div>
								  <div class="stepwizard-step">
									<a href="#step-2" class="btn disabled text-white rounded-circle">2</a>
									<span class=""></span>
								  </div>
								  <div class="stepwizard-step">
									<a href="#step-3" class="btn disabled text-white rounded-circle">3</a>
									<span class=""></span>
								  </div>
								</div>
							 </div>

							<div class="w-100 d-md-flex justify-content-md-center py-4">
								<form id="form-post-ask-devis" role="form">
									<div class="setup-content" id="step-1">
						                <!-- First Form slide content -->
										<div class="row d-md-flex justify-md-content-center form-slid-ontainer">
											<div class="d-none d-md-block d-md-flex align-items-md-center col-md-5">
												<div class="w-100 py-4 rounded" style="background-image: url(/uploads/images/{{category.getImg()}}); background-position: center center; background-size: cover; height: 200px;background-color: darkslategrey; background-blend-mode: overlay;">
												</div>
											</div>
											<div class="d-none col-md-7 d-md-flex align-items-md-center border-top border-bottom border-secondary">
												<p class="small text-warning" style="font-size: 0.8em !important;">
													{{ category.getDescription() }}
												</p>
											</div>
	                                        <div class="col-12 text-center text-warning pt-5 h4">Selectionez le type de votre projet ? </div>
	                               	        {% if types != null %}
											   {% for type in types %}
												<div class="col-12 col-sm-3 col-lg-4">
													<a data-id="{{type.id}}" class="btn item-type item-type-{{ type.getId() }} d-flex justify-content-center align-items-center text-center text-uppercase border-warning" style="width: auto; height: 100px; box-shadow: 0px 0px 8px;">
														{{ type.getTitle() }}
													</a> 																		
												</div>
											   {% endfor %}
											   
											{% endif %}
											<div class="col-12 col-lg-7 pt-5">	
												<div class="form-group pb-2">
												<input id="ask_devis_type" type="hidden" name="ask_devis_type">
												</div>												
												<div class="form-group pb-2 my-2">
													<select class="form-control form-field show-list-metier-nature-in-ask-form" name="post_metier_ask_devis">
														<option></option>

														{% if articles != null %}
															
															{% for article in articles %}
																<option value="{{ article.id }}"> -  {{ article.getarticletitle() }}</option>										
															{% endfor %}
															{# <option selected="selected" value="{{ article is defined ? article.id : 'NaN' }}">{{ article is defined ? article.getarticletitle() : '' }}</option> #}
														{% endif %}
															
													</select>
												</div>
												<div class="form-group pb-2 my-2">
													<select class="form-control form-field appartement_type" name="appartement_type">

														<option></option>
														<option value="Maison Individuelle"> Maison Individuelle </option>
														<option value="Appartement"> Appartement </option>
														<option value="Bureau"> Bureau </option>
														<option value="Commerce"> Commerce </option>
														<option value="Immeuble"> Immeuble </option>										
														
													</select>
												</div>

												<div class="form-group">
													<label class="control-label d-none">Description de votre projet</label>
													<textarea type="text" required="required" class="w-100 p-4 rounded border" name="post_description_ask_devis" placeholder="Information complémentaire de votre projet ?" style="height: 450px; max-height: 150px !important;"></textarea>
												</div>
													<!-- Input for pointing the userProId -->
													<div class="form-group">
														<input type="hidden" name="UserProsId" value="{{ UserProsId }}">
													</div>

													<button class="btn btn-warning nextbtn btn-lg pull-right text-uppercase" type="button">En cour ...</button>
											</div>
										</div>
										<!--End row first form slide content -->
									</div>
									 


									<div class="setup-content d-none" id="step-2">

	                               		<div class="row d-flex justify-content-center">
											<div class="col-12">
												<h6 class="text-warning py-4">vos coordonnées</h6>
												<div class="form-group mb-3">
													<input type="number" required="required" id="zipcode" class="form-control zipcode form-input m-1 d-lg-inline d-block" name="post_zipcode_ask_devis" style="height: 50px;" placeholder="votre code postal*">
													<input type="text" required="required" name="post_name_user_ask_devis" class="form-control form-input m-1 d-lg-inline d-block" style="height: 50px;" placeholder="votre nom*">
													<input type="text" required="required" name="post_firstname_user_ask_devis" class="form-control  form-input m-1 d-lg-inline d-block" style="height: 50px;" placeholder="votre prénom">
												</div>
												<div class="form-group mb-3">
													<label class="text-secondary d-block">votre civilité *</label>
													<div class="d-flex flex-column	 flex-md-row align-items-center mb-2">
														<span class="text-center d-flex flex-row align-items-center"><input type="radio" required="required" class="m-1" value="M" name="post_civility_ask_devis" style="width: 25px; height: 25px;" placeholder="votre civilité"><span class="mx-2">Monsieur</span></span>
														<span class="text-center d-flex flex-row align-items-center"><input type="radio" required="required" class="m-1" value="F" name="post_civility_ask_devis" style="width: 25px; height: 25px;" placeholder="votre civilité*"><span class="mx-2">Madame</span></span>
													</div>
												</div>
												<div class="form-group mb-3">
													<select class="form-control show-list-fonction-user-in-ask-form" name="fonction_ask_devis">
														<option></option>
														{% if fonctions != null %}

															{% for fonction in fonctions %}
															<option value="{{ fonction.id }}">{{ fonction.getfonctionname() }}</option>
															{% endfor %}

															{% else %}
																accun résultat trouvé
														{% endif %}

													</select>
												</div>
												<div class="form-group mb-3">
													<input type="tel" required="required" class="form-control  form-input m-1 d-lg-inline d-block" name="post_phone_ask_devis" style="height: 50px;" placeholder="votre numéro de téléphone*">
													<input type="email" required="required" class="form-control  form-input m-1 d-lg-inline d-block" name="post_email_ask_devis" style="height: 50px;" placeholder="votre email*">
													<select id="show-city-search" class="form-control show-city-search city" name="city">
														<option></option>
													</select>
													{# <input type="text" required="required" id="show-city-search" class="form-control city  form-input m-1 d-lg-inline d-block" name="post_city_ask_devis" style="height: 50px;" placeholder="votre ville ou Département*"> #}
												</div>
												<div class="forn-group">
													<input  type="hidden" name="route_page" value="post_ask_devis_page">
												</div>
												<div class="d-flex flex-column flex-sm-row align-items-center justify-content-between w-100">
													<button class="btn bg-darkgray prevbtn btn-lg m-1 text-uppercase" type="button">précedant</button>
													<button id="btn-post-ask-devis" class="btn btn-warning text-uppercase btn-post-ask-devis nextbtn btn-lg m-1" type="button">Valider</button>
												</div>
											</div>
	                                	</div>
                                    </div>
								</form>
									
								<div class="setup-content w-100 d-none bg-darkgray show-after-post-devis text-center" id="step-3">
										<p class="pt-4 h4 text-warning text-uppercase"> Quelles sont les prochaines étapes ?</p>
									<div class="row">
										<div class="col-12 col-md-4">
											<div class="d-flex flex-column align-items-center justify-content-center">
												<div class="d-flex flex-row align-items-center justify-content-around">
													<div class="num-content bg-warning">
														<div class="h2 text-white">
															1
														</div>
													</div>
													<div class="img-content">
														<div class="">
															<img class="" src="{{ absolute_url('/assets/icon/operateur.png') }}" style="height: 150.63px"></img>
														</div>
													</div>
												</div>
												<div class="text-white px-4">
													<p class="small">
														votre demande est en cours de validation par nos conseillers.
														il pourront vous contacter pour completer votre demande.
													</p>
												</div>
											</div>
										</div>
										<div class="col-12 col-md-4">
											<div class="d-flex flex-column align-items-center justify-content-center">
												<div class="d-flex flex-row align-items-center justify-content-around">
													<div class="num-content bg-warning">
														<div class="h2 text-white">
															2
														</div>
													</div>
													<div class="img-content">
														<div class="">
															<img class="" src="{{ absolute_url('/assets/icon/mail.png') }}" style="height: 150.63px"></img>
														</div>
													</div>
												</div>
												<div class="text-white">
													<p class="small">
														Dès validation, vous recevrez les coordonnées des professionnels sélectionnés
													</p>
												</div>
											</div>
										</div>
										<div class="col-12 col-md-4">
											<div class="d-flex flex-column align-items-center justify-content-center">
												<div class="d-flex flex-row align-items-center justify-content-around">
													<div class="num-content bg-warning">
														<div class="h2 text-white">
															3
														</div>
													</div>
													<div class="img-content">
														<div class="">
															<img class="" src="{{ absolute_url('/assets/icon/pro.png') }}" style="width: 129.77px; height: 150.63px"></img>
														</div>
													</div>
												</div>
												<div class="text-white px-4">
													<p class="small">
														les professionnels disponibles vous contacteront dans le plus brefs délais.
													</p>
												</div>
											</div>
										</div>
									</div>
									<div class="text-white text-center px-4" style="font-size: 1em !important;">
										<span class="h4 text-white text-uppercase">NB</span>: tous vos demandes de devis et vos projet seront enregistré dans votres espace particuler
										si vous avez déjà un compte.<br> <br>  avez vous un compte ? <br>
										<a href="javascript:void(0);" class="btn btn-outline-warning d-inline-block">se connecter</a> ou 
										<a href="javascript:void(0);" class="btn btn-outline-warning d-inline-block">je m'inscrire gratuitement</a> 
									</div>
									
									<div class="row bg-white py-4">
										<div class="col-12">
											<h6 class="text-warning"> demandes de devis associées </h6>
										</div>
										
										{% if categories != null %}
											{% for categ in categories %}
											<div class="col-12 col-sm-6 col-lg-4 py-4">
												<div class="img-container-popular popular-container-img-1 d-flex flex-column align-items-center" style="background-image: url(/uploads/images/{{ categ.getImg() }});">
													<div class="bg-transparent w-100" style="">
														<a href="{{ path('view_art_cat_galery_page', {id: categ.getId()}) }}" class="btn btn-warning text-decoration-none rounded-circle float-right m-1 p-0" alt="voir détail...">
															<span class="lnr lnr-eye icon-popular-ask-eyes"></span>
														</a>
													</div>
													<div class="img-title popular-title-img-1 h4 h-100 text-center">{{ categ.getCategTitle() }}</div>
													<div class="img-desc popular-desc-img-1 w-100 text-center">
														<a class="btn btn-warning btn-popular-devis d-none" href="{{ path('post_ask_devis_page', {id: categ.getId()}) }}">Demander un devis</a>
													</div>
													<div class="bg-transparent d-flex align-items-end justify-content-end h-100 w-100" style=""><a class="btn bg-darkgray m-2">vote(3215)</a></div>
												</div>
											</div>
											{% endfor %}
										{% endif %}

									</div>
								</div>	
							</div>				
						</div>
					</div>
				</div>
			</section>
			<!--end section  of the list ads by artisan-->
			
			<!--begin section  of the list ads by artisan-->
			<section class="">
				<div class="container">
					<div class="row bg-darkgray">
						<div class="col-12 h-100 text-center small text-secondary">
							
							<div class="w-100">
								<div class="row d-flex justify-content-center">	
									<div class="col-12 col-md-4 d-flex flex-column text-center bg-warning align-items-center justify-content-center py-4">
										<span class="pro-icon mb-3">
										<span class="icon">
											<object type="image/svg+xml" data="{{ absolute_url('/assets/icon/building_construction_control_protection_security_-20-43_icon-icons.com_60312.svg') }} " class="icon icon-bike">
												bike
											</object>
										</span>
										</span>
										<span class="h6">comment ça fonctionne :</span>
										<span class="text-center">
											<p class="small">
												1-) effectuez votre demande de devis.<br>
												2-) recevez gratuitement jusqu'à 5 devis d'artisans de votre région.<br>
												3-) comparez et sélectionnez l'artisan de votre choix.
											</p>
										</span>
									</div>
									<div class="col-12 col-md-4 d-flex flex-column text-center text-white align-items-center justify-content-center py-4">
										<span class="pro-icon mb-3">
										<span class="icon">
											<object type="image/svg+xml" data="{{ absolute_url('/assets/icon/construction_project_plan_building_architect_design_develop-94_icon-icons.com_60228.svg') }}" class="icon icon-bike">
												bike
											</object>
										</span>
										</span>
										<span class="h6">vos avantages :</span>
										<p class="small">
											a-) simplicité et rapidité.<br>
											b-) gratuité et sans engagement.<br>
											c-) plus de 25 000 professionnels qualifiés.
										</p>
									</div>
										
									<div class="col-12 col-md-4 d-flex flex-column bg-warning text-center align-items-center justify-content-center py-4">
										<span class="pro-icon mb-3">
										<span class="icon">
											<object type="image/svg+xml" data="{{ absolute_url('/assets/icon/construction_project_plan_building_architect_design_develop-59_icon-icons.com_60236.svg') }}" class="icon icon-bike">
												bike
											</object>
										</span>
										</span>
										<span class="h6">confidentialité : </span>
										<p class="small">
											a-) vos coordonnées sont protégées et ne seront jamais publiées sur internet.<b>
										</p>
										<span class="small"></span>
									</div>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</section>
			<!--end section  of the list ads by artisan-->
			
			<!--begin section  of the list ads by artisan-->
			<section class="">
				<div class="container bg-white">
					<div class="row py-5 d-flex justify-content-center">
						<!--triangle in find artisant section-->
						<div class="triangle triangle-pro-space" style="width: 100%; height: 4px; background: white; box-shadow: 0px 0px 0px 0px !important"> </div>
						<div class="col-12 pt-5 h-100 text-center text-secondary bg-darkgray">
							<h5 class="text-uppercase">trouvez un professionnel près de chez vous !</h5>
						</div>
						<div class="col-12 col-sm-4 d-flex align-items-center justify-content-center bg-darkgray py-2">
							<span class="small text-white">
								vos coordonnées sont protégées et ne seront jamais publiées sur internet.
							</span>
						</div>
						<div class="col-12 h-100 col-sm-8 d-flex align-items-center justify-content-center bg-darkgray py-2">
							<img class="" src="http://orange-travaux.com/assets/images/carte.png"></img>
						</div>
					</div>
				</div>
			</section>
			<!--end section  of the list ads by artisan-->

			<!--begin section the presse talk us -->
			<section id="" class="bg-transparent">
			<div class="container  bg-white">
				<div class="row d-flex justify-content-center py-4">
					<div class="col-12 text-center">
						<h5 class="text-uppercase">restez connecté</h5>
						<div class="text-secondary small"><p class=" subtitle ">
							pour être certain de ne rater aucun chantier, téléchargez l’application mobile pour suivre les projets lorsque vous êtes en déplacement.
						</div>
					</div>
					<div class="col-12 col-sm-6 lg-8 text-center">
						<img class="" src="{{ absolute_url('/assets/img/photos/app-mobile.png') }}"></img>
					</div>
					<div class="col-12 col-sm-6 lg-4 d-flex flex-column justify-content-center text-secondary">
						<a class="btn btn-outline-secondary d-flex flex-row text-center align-items-center">
							<span class="pro-icon mb-3">
								<span class="icon-message-pro">
									<object type="image/svg+xml" data="{{ absolute_url('/assets/icon/apple_icon-icons.com_62745.svg') }}" class="icon-message-pro icon-bike">
										apple
									</object>
								</span>
							</span>
							<span class="">
								<span class="text-center ">disponible sur <span/><br>
								<span class="font-weight-capitalize">app store<span/>
							<span/>
						</a>
						<a class="btn btn-outline-secondary d-flex flex-row align-items-center">
							<span class="pro-icon mb-3">
								<span class="icon-message-pro">
									<object type="image/svg+xml" data="{{ absolute_url('/assets/icon/google_play_icon-icons.com_66988.svg') }}" class="icon-message-pro icon-bike">
										play
									</object>
								</span>
							</span>
							<span class="text-center ">
								<span class="">disponible sur <span/><br>
								<span class="font-weight-capitalize">google play<span/>
							<span/>
						</a>
					</div>
				</div>
			</div>
			</section>
			<!--end section the presse talk us  -->

		</main>

		<!-- begin footer page -->
		{% include "./page/footer/footer.html.twig" %}
		<!-- end footer page -->

	</div>

{% endblock %}

{% block javascripts %}

<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>-->
<!-- message ntification -->
<script src="{{ absolute_url('/assets/sweetalert2/dist/sweetalert2.all.min.js') }}"></script>
<script src="{{ absolute_url('/assets/sweetalert2/dist/sweetalert2.min.js') }}"></script>
<!--local-->
<script src="{{ absolute_url('/assets/loadbar/js/loading-bar.js') }}"></script>
<script src="{{ absolute_url('/assets/js/core/jquery.min.js') }}"></script>
<script src="{{ absolute_url('/assets/js/core/bootstrap.min.js') }}"></script>
<script src="{{ absolute_url('/assets/js/now-ui-kit.min.js') }}"></script>
<script src="{{ absolute_url('/assets/js/core/popper.min.js') }}"></script>
<script src="{{ absolute_url('/assets/js/plugins/bootstrap-switch.js') }}"></script>
<script src="{{ absolute_url('/assets/js/plugins/nouislider.min.js') }}"></script>
<script src="{{ absolute_url('/assets/swiper/dist/js/swiper.min.js') }}"></script>
<script src="{{ absolute_url('/assets/select2-develop/dist/js/select2.full.min.js') }}"></script>
<script src="{{ absolute_url('/assets/select2-develop/dist/js/select2.min.js') }}"></script>
<script src="{{ absolute_url('/assets/menu/menu.js') }}"></script>
<script src="{{ absolute_url('/assets/js/app.js') }}"></script>
<script src="{{ absolute_url('/assets/js/list-city-ajax.js') }}"></script>
<script src="{{ absolute_url('/assets/form-multistep/form-step.js') }}"></script>
<script src="{{ absolute_url('/assets/js/post-devis.js') }}"></script>

{% endblock %}	