	{% extends  'base.html.twig' %}

		{% block stylesheets %}

		<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />-->
		<script src="https://cdn.linearicons.com/free/1.0.0/svgembedder.min.js"></script>
		<link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
		<!-- CSS Files -->
		<link href="{{ absolute_url('/assets/sweetalert2/dist/sweetalert2.min.css') }}" rel="stylesheet" />
		<link href="{{ absolute_url('/assets/css/now-ui-kit.min.css') }}" rel="stylesheet" />
		<link href="{{ absolute_url('/assets/css/bootstrap.min.css') }}" rel="stylesheet" />
		<link href="{{ absolute_url('/animate/animate.min.css') }}" rel="stylesheet" />
		<link href="{{ absolute_url('/assets/loadbar/css/loading-bar.css') }}" rel="stylesheet" />
		<link href="{{ absolute_url('/assets/select2-develop/dist/css/select2.min.css') }}" rel="stylesheet" />
		<link href="{{ absolute_url('/assets/swiper/dist/css/swiper.min.css') }}" rel="stylesheet" />
		<link href="{{ absolute_url('/css/loading.css') }}" rel="stylesheet" />
		<link href="{{ absolute_url('/css/loading-btn.css') }}" rel="stylesheet" />
		<link href="{{ absolute_url('/assets/menu/menu-large.css') }}" rel="stylesheet" />
		<link href="{{ absolute_url('/assets/menu/menu-mobile.css') }}" rel="stylesheet" />
		<link href="{{ absolute_url('/assets/autocomplete/easy-autocomplete.min.css') }}" rel="stylesheet" />
		<link href="{{ absolute_url('/assets/autocomplete/easy-autocomplete.themes.min.css') }}" rel="stylesheet" />
		<link href="{{ absolute_url('/assets/carousel/slid.css') }}" rel="stylesheet" />
		<link href="{{ absolute_url('/css/style.css') }}" rel="stylesheet" />

		<style>
			.page-header-inscription {
				min-height: 80vh !important;
			}

			/** CSS THEMES
				warning dark : rgb(255, 144, 0)
				warning claire : #ffc107
				gray dark: rgb(119, 119, 119) ou #777
				gray claire : rgb(240, 240, 240) ou #bfbfbf
				white claire : rgb(248, 248, 248) ou #ffffff
				black claire: rgba(0, 0, 0, 95%)
				black dark : #000000

			**/
			.navbar, .bg-grey {
				background: {{ themesColor['HEADER']['HEADER_FONT_COUL_1'].Color != null ? themesColor['HEADER']['HEADER_FONT_COUL_1'].Color : 'rgb(240, 240, 240)' }} !important;
				color: {{ themesColor['HEADER']['HEADER_TEXT_COUL_1'].Color != null ? themesColor['HEADER']['HEADER_TEXT_COUL_1'].Color : 'rgb(248, 248, 248)' }} !important;
			}
			.navbar-mega, .sidepanel, .bg-darkgray {
				background: {{ themesColor['HEADER']['HEADER_FONT_COUL_2'].Color != null ? themesColor['HEADER']['HEADER_FONT_COUL_2'].Color : '#777'}} !important;
				color: {{ themesColor['HEADER']['HEADER_TEXT_COUL_2'].Color != null ? themesColor['HEADER']['HEADER_TEXT_COUL_1'].Color : 'rgb(248, 248, 248)' }} !important;
			}

			button, .bg-warning, .icon-sondage, .triangle {
				background: {{ themes['BUTTON_FOND_COLOR'].colorFond != null ? themes['BUTTON_FOND_COLOR'].colorFond : 'rgb(255, 144, 0)' }} !important;
				color: {{ themes['BUTTON_TEXT_COLOR'].colorFond != null ? themes['BUTTON_TEXT_COLOR'].colorFond : ' rgb(248, 248, 248)' }} !important;
			}
			.triangle::after {
				border-color: transparent transparent {{ themes['BUTTON_FOND_COLOR'].colorFond != null ? themes['BUTTON_FOND_COLOR'].colorFond : 'rgb(255, 144, 0)' }} {{ themes['BUTTON_FOND_COLOR'].colorFond != null ? themes['BUTTON_FOND_COLOR'].colorFond : 'rgb(255, 144, 0)' }} !important;
			}

			.man-young-container .text-title {
				color: {{ themesColor['TEXT_TITLE']['TEXT_TITLE_COLOR_3'].Color != null ? themesColor['TEXT_TITLE']['TEXT_TITLE_COLOR_3'].Color : ' #ffc107' }} !important;
			}
			.man-young-container .text-desc {
				color: {{ themesColor['TEXT_DESCRIPTION']['TEXT_DESCRIPTION_COLOR_1'].Color != null ? themesColor['TEXT_DESCRIPTION']['TEXT_DESCRIPTION_COLOR_1'].Color : ' rgb(248, 248, 248)' }} !important;
			}
			.text-dark {
				color: {{ themesColor['TEXT_TITLE']['TEXT_TITLE_COLOR_2'].Color != null ? themesColor['TEXT_TITLE']['TEXT_TITLE_COLOR_2'].Color : ' #ffc107' }} !important;
			}
			p, .text-secondary {
				color: {{ themesColor['TEXT_DESCRIPTION']['TEXT_DESCRIPTION_COLOR_2'].Color != null ? themesColor['TEXT_DESCRIPTION']['TEXT_DESCRIPTION_COLOR_2'].Color : ' rgb(248, 248, 248)' }} !important;
			}
			.text-warning {
				color: {{ themesColor['TEXT_TITLE']['TEXT_TITLE_COLOR_3'].Color != null ? themesColor['TEXT_TITLE']['TEXT_TITLE_COLOR_3'].Color : ' #ffc107' }} !important;
			}
			.text-white {
				color: {{ themesColor['TEXT_TITLE']['TEXT_TITLE_COLOR_1'].Color != null ? themesColor['TEXT_TITLE']['TEXT_TITLE_COLOR_1'].Color : ' #ffffff' }} !important;
			}
			.page-header-image {
				background-blend-mode: overlay !important;
				background-color: {{ themes['BUTTON_FOND_COLOR'].colorFond != null ? themes['BUTTON_FOND_COLOR'].colorFond : 'rgba(255, 144, 0, 50%)' }} !important;
			}
			.section-footer {
				background-image: url(/uploads/themes/{{ themes['FOOTER'].imageFond != null ? themes['FOOTER'].imageFond : 'footer_bg.jpg'}}) !important;
				background-color: {{ themes['FOOTER'].colorFond != null ? themes['FOOTER'].colorFond : 'rgba(19, 19, 19, 95%)'}}) !important;
				background-blend-mode: overlay !important;
			}

		</style>
    
	{% endblock %}

	{% block body %}
	
	<div class="page-header page-header-inscription">
		<div class="page-header-image animated pulse" data-parallax="true" style="background-image: url('/uploads/themes/{{ themes['HOME_PAGE'].imageFond != null ? themes['HOME_PAGE'].imageFond : 'slide-inscription.jpg' }}'); background-position: 0 50px !important;">
		</div>
		<div class="row">
			<div class="col-12 p-0">
				<div class="contenair-header-menu">
				
					<nav class="navbar navbar-expand bg-gray py-0 navbar-head">
					  <div class="container border-0">

						<!-- MENU LARGE COORDONE-->
						<div class="d-none d-lg-flex w-100 flex-md-row align-items-center justify-content-center justify-content-sm-around">
							<div class="d-flex flex-sm-row w-100 flex-column justify-content-sm-around align-items-center justify-content-center">
								<a class="text-decoration-none logo-content" href="{{ path('home_page') }}">
								<img class="logo" src="{{ absolute_url('/uploads/logo/' ~ configsite.getImage()) }}"></img>
								</a>
                                
								<ul class="navbar-nav mt-2 mt-lg-0 d-lg-flex flex-column flex-sm-row">
									<li class="nav-item active m-1">
									<a class="nav-link" href="javascript:void();"><span class="d-flex align-content-baseline"><span class="lnr lnr-phone-handset text-wite bg-warning p-1"></span> <span class="bg-darkgray p-1 text-nowrap" style="font-size: 15px;">{{ configsite.getNumphone() }}</span></span></a>
									</li>
									<li class="nav-item active m-1">
									<a class="nav-link" href="javascript:void()"><span class="d-flex align-content-baseline"><span class="lnr lnr-envelope text-wite bg-warning p-1"></span> <span class="bg-darkgray p-1 text-nowrap text-lowercase" style="font-size: 15px;">{{ configsite.getEmail() }}</span></span></a>
									</li>
								</ul>
							</div>
							<div class="inscription-group-boutton d-none d-lg-flex flex-column flex-sm-row justify-content-center align-items-center  text-center w-sm-75 w-100">
								<span class="mr-1">
									<button class="btn btn-round bg-gray text-decoration-none show-form-pro-mouseclick-11 text-nowrap font-weight-bold text-warning border-warning text-nowrap" type="button">
										<i class="">🔒</i> <label class="sr-only-focusable d-none d-lg-inline">Se connecter<label>
									</button>
								</span>
								<span class="">
									<a href="{{ path('inscription_page') }}" class="btn btn-round bg-warning text-white font-weight-bold text-nowrap">
										<i class="">👷🏾</i>  Inscription gratuite
									</a>
								</span>
							</div>
						</div>
						<!-- END MENU LARGE COORDONE -->
                        
						<!-- BEGIN MOBILE MENU -->
						{% include "./page/menu/menu-mobile.html.twig" %}
						<!-- END MOBILE MENU -->


					  </div>
					</nav>
					<!-- Navbar menu end here -->
					  
					<!-- ############################# NAVBAR HERE LARGE -->
					<!-- BEGIN MOBILE MENU -->
					{# {% include "./page/menu/menu-mobile.html.twig" %} #}
					<!-- END MOBILE MENU -->	
                
					<!-- BEGIN MENU DISPALY WHEN LARGE SCREEN -->
			
					<div class="navbar-mega large-menu d-md-flex justify-content-center">
						<div class="dropdown-mega">
							<a class="dropbtn"> Demander un devis
							<i class="fa fa-caret-down"></i>
							</a>
							<div class="dropdown-content">
								<ul class=" px-4">
									{% if categories != null %}
										{% for categ in categories %}
											<li class="column-list text-left px-0" style="line-height: 0;">
											<a href="{{ path('post_ask_devis_page', {id: categ.getId()}) }}" class="d-flex align-items-center">
											<span class="lnr lnr-chevron-right-circle text-warning mr-1" style="font-size: 12px;"></span>
											<span class="text-warning">{{ categ.getCategTitle() }}</span>
											</a>
										</li>
										{% endfor %}
									<li class="text-center"  style="line-height: 0;">
									<a href="{{ path('view_all_tavaux_page') }}" class="mm-view-more p-1"> Voir les articles >></a>
									</li>
									{% endif %}
								</ul>
							</div>
						</div>
						<!-- END TYPE TRAVAUX -->
						<div class="dropdown-mega">
							<a class="dropbtn">Guides des prix
							<i class="fa fa-caret-down"></i>
							</a>
							<div class="dropdown-content">
								<ul class=" px-4">
									{% if categories != null %}
										{% for categ in categories %}
											<li class="column-list text-left px-0" style="line-height: 0;">
											<a href="{{ path('category_sous_category_page', {categId: categ.getId()}) }}" class="d-flex align-items-center">
											<span class="lnr lnr-chevron-right-circle text-warning mr-1" style="font-size: 12px;"></span>
											<span class="text-warning">{{ categ.getCategTitle() }}</span>
											</a>
										</li>
										{% endfor %}
									{# <li class="text-center"  style="line-height: 0;">
									<a href="{{ path('view_all_tavaux_page') }}" class="mm-view-more p-1"> Voir les articles >></a>
									</li> #}
									{% endif %}
								</ul>
							</div>
						</div>
						<a href="{{ path('how_to_step_page') }}">Comment ça marche ?</a>
						<a href="{{ path('space_find_pro_page') }}">Trouvez un pros</a>
					</div>
			
					<!-- END MENU DISPALY WHEN  WHEN LARGE SCREEN -->


					 <!-- Progress barr slid scroll -->
						<div class="progress-container fixed-top">
							<div class="progress-bar" id="myBar"></div>
						</div> 
					  
				</div>
			</div>
		</div>
		<!-- End Row for Menu header -->
		
		<!-- Begin for row content header parallax -->
		<div class="row d-flex justify-content-center font-weight-light" style="">
			<!-- ############# Begin slide beside -->
			<div class="col-8" style="padding-top: 4em;">
				<div class="container border-0">
					<div class="w-100 d-flex flex-column pb-4 justify-content-center">
						<div class="h4 text-text-white text-uppercase">
							Trouvez des professionnels
						</div>
					</div>
				</div>
			</div>
			<!-- ############# End slide beside -->
			
			<!-- ############# Begin form search -->
			<div class="col-10" style="padding-top: 1em;">
				<div class="container bg-dark p-0  h-auto" style="box-shadow: 5px 5px 5px black;">
					
					<form id="form_search_category" action="{{ path('space_find_pro_page') }}" method="POST">
						<div class="form-group">
							
							<div class="d-flex flex-column flex-lg-row w-100 align-items-center justify-content-center">
								
								<input id="show-input-list-search" type="text" name="categLabel" value="{{ (categLabel is defined) ? categLabel :'' }}" class="form-control text-center show-input-list-search m-2" style="height: 45px; border-radius: 0 !important;">
								<input type="hidden" id="CategoryIdSearch" name="CategoryId" value="">
								<select id="numDepartement" style="text-align-last: center; border-radius: 0 !important;" class="border form-control text-italic font-weight-bold border-warning m-2 text-center" name="numDepartement">
								<option value="-1">Departement ? (Ex: 76)</option>
								{% if cities|length > 0 %}
									{% for city in cities %}
									<option {{ departement is defined and departement == city['ville_departement']  ? 'selected' : '' }} value="{{ city['ville_departement'] }}">{{ city['ville_departement'] }}</option>
									{% endfor %}
								{% endif %}
								</select>
								<div class="input-group-append input-group-append-find-artisant bg-warning text-center">
								  <button type="submit" class="btn btn-warning border-0 text-center text-nowrap w-100">Trouver des professionnels</button>
								</div>

							</div>
							
						</div>
					</form>
				</div>
			</div>
			<!-- ############# End form search-->
		</div>
	</div>
	<!--END HEADER-->
	

	<div class="jumbotron bg-transparent">
		<main class="section-1 section-main" style="background-attachment: fixed;">
			<!--Begin section  of the list ads by artisan-->
			<section class="bg-gray">
				<div Class="row bg-white">
					<div class="col-12">
							<a href="{{ path('find_chantier_page') }}" class="btn btn-warning float-right text-decoration-none border-0 text-center text-nowrap mr-5">Je suis un professionnel</a>
					</div>
					<div class="col-12 d-flex flex-column text-center">
						<span class="h6">Nos professionnels disponibles</span>
						<span class="small">Ces professionnels cherchent leur artisant pour partager leur experience. Et si c'était vous ?</span>
					</div>
					<!--Triangle in find artisant section-->
					<div class="triangle triangle-pro-space pt-4" style="width: 100%; height: 4px; background: white; box-shadow: 0px 0px 0px 0px !important"> </div>
				</div>
				<div class="container">
					<div class="row container-show-more-ajax py-5">
					{% if pros != null %}
						{% for pro in pros %}
							<div class="col-12 col-sm-6 col-lg-4 my-2">
								<div class="img-new-pro-container d-flex flex-column align-items-center justify-content-center bg-white rounded">
									<div class="img-new-pro-content rounded-top" style="background-image: url(/uploads/images/{{ pro.getUserCategoryActivity().getImg() }}); width: 100%; height: 250px;">
										<div class="w-100">
											<a class="btn btn-warning float-left m-1 text-white">{{ pro.getUserCategoryActivity().getCategTitle() }}</a>
											<a class="btn btn-warning btn-pro-emotion-heart rounded-circle float-right m-1">
												<span class="lnr lnr-heart icon-pro-emotion-heart"></span>
											</a>
										</div>
									</div>
									<div class="img-pro-desc d-flex flex-row align-items-center justify-content-center  text-center py-2">
										<div class="border border-secondary rounded-circle">
											<img class="pro-logo rounded-circle" src="{{ absolute_url('/uploads/logo/' ~ pro.getLogo()) }}" style="width: 64px; height: 64px;"></img>
										</div>
										<div class="d-flex flex-column align-items-center justify-content-center text-left">
											<span class="d-inline text-center">
												<a class="btn btn-outline-secondary m-2">En vedette</a>
												<a class="btn btn-outline-secondary m-2">vérifié</a>
											</span>
											<span class="text-center ml-1">
												<a href="{{ path('show_detail_pro_page', {id: pro.getId() }) }}" class="text-decoration-none text-warning">{{ pro.getCompanyName() }}</a>
											</span>
											<span class="small text-center">
												<span class="pro-point-star p-1"><span class="lnr lnr-star icon-star-pro text-warning"></span><span class="lnr lnr-star icon-star-pro text-warning"></span><span class="lnr lnr-star icon-star-pro text-warning"></span><span class="lnr lnr-star-half icon-star-pro text-warning"></span></span>
												<span class="pro-like-percent text-secondary p-1"><span class="lnr lnr-thumbs-up icon-like-pro text-secondary"></span> 99% (1009 votes) </span>
											</span>
										</div>
									</div>
								</div>
							</div>
						{% endfor %}
						{% endif %}
					</div>
					<div class="">
						<div class="col-12 d-flex justify-content-center pt-4">
							<a data-departement="{{ (departement is defined) ? departement : null }}" data-categoryid="{{ (CategoryId is defined) ? CategoryId : null }}" class="btn btn-warning btn-more-all-pros ld ld-ext-right"> <i class="ld ld-ring ld-spin"></i> Voir plus</a>
						</div>
					</div>
				</div>
			</section>
			<!--End section  of the list ads by artisan-->
			
			<!--Begin section the Presse Talk US -->
			<section id="" class="bg-warning">
			<div class="container">
				<div class="row d-flex justify-content-center py-5">
					<div class="col-12 text-center pb-4">
						<h5 class="text-uppercase">PAS LE TEMPS DE CHERCHER ?</h5>
						<div class="text-secondary small">
							Vous souhaitez réaliser des travaux et ne savez quel professionnel choisir ? Demandez des devis travaux auprès de notre réseau de 20 000 professionnels partout.
						</div>
					</div>
					<div class="col-12 col-md-10 text-center">
						<div class="container py-1 bg-dark" style="box-shadow: 5px 5px 5px black;">
							
							<form id="form-ask-devis-pros-under" action="{{ path('post_ask_devis_page') }}" method="POST">
								<div class="form-group">
							
									<div class="d-flex flex-column flex-sm-row w-100 align-items-center justify-content-center">
								
										<input id="show-input-list-search-under-find" type="text" class="form-control text-center show-input-list-search m-2" style="height: 45px;">
										<input type="hidden" id="metier_ask_devis" name="metier_ask_devis" value="">

										<div class="input-group-append input-group-append-find-artisant bg-warning text-center">
										<button type="submit" class="btn btn-warning border-0 text-center text-nowrap w-100">Demmander un devis</button>
										</div>

									</div>	
							
								</div>
							</form>
						
						</div>
					</div>
				</div>
			</div>
			</section>
			<!--End section the Presse Talk US  -->
				
		</main>
		<!-- Begin footer page -->
		{% include "./page/footer/footer.html.twig" %}
		<!-- END footer page -->
	</div>

{% endblock %}

{% block javascripts %}

<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>-->
<!-- MESSAGE NTIFICATION -->
<script src="{{ absolute_url('/assets/sweetalert2/dist/sweetalert2.all.min.js') }}"></script>
<script src="{{ absolute_url('/assets/sweetalert2/dist/sweetalert2.min.js') }}"></script>
<!--Local-->
<script src="{{ absolute_url('/assets/loadbar/js/loading-bar.js') }}"></script>
<script src="{{ absolute_url('/assets/js/core/jquery.min.js') }}"></script>
<script src="{{ absolute_url('/assets/js/core/bootstrap.min.js') }}"></script>
<script src="{{ absolute_url('/assets/js/now-ui-kit.min.js') }}"></script>
<script src="{{ absolute_url('/assets/js/core/popper.min.js') }}"></script>
<script src="{{ absolute_url('/assets/js/plugins/bootstrap-switch.js') }}"></script>
<script src="{{ absolute_url('/assets/js/plugins/nouislider.min.js') }}"></script>
<!-- Auto-complete -->
<script src="{{ absolute_url('/assets/autocomplete/jquery.easy-autocomplete.min.js') }}"></script>
<script src="{{ absolute_url('/assets/swiper/dist/js/swiper.min.js') }}"></script>
<script src="{{ absolute_url('/assets/select2-develop/dist/js/select2.full.min.js') }}"></script>
<script src="{{ absolute_url('/assets/select2-develop/dist/js/select2.min.js') }}"></script>
<script src="{{ absolute_url('/assets/menu/menu.js') }}"></script>
<script src="{{ absolute_url('/assets/js/app.js') }}"></script>
{# <script src="{{ absolute_url('/assets/js/list-ajax.js') }}"></script> #}
<script src="{{ absolute_url('/assets/js/ajax-list-categ-form-under.js') }}"></script>
<script src="{{ absolute_url('/assets/js/page.js') }}"></script>

{% endblock %}