{% extends  'base.html.twig' %}

        {% block stylesheets %}

        <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />-->
        <script src="https://cdn.linearicons.com/free/1.0.0/svgembedder.min.js"></script>
        <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
        <!-- CSS Files -->
        <link href="{{ absolute_url('/assets/sweetalert2/dist/sweetalert2.min.css') }}" rel="stylesheet" />
        <link href="{{ absolute_url('/assets/css/now-ui-kit.min.css') }}" rel="stylesheet" />
        <link href="{{ absolute_url('/assets/css/bootstrap.min.css') }}" rel="stylesheet" />
        <link href="{{ absolute_url('/animate/animate.min.css') }}" rel="stylesheet" />
        <link href="{{ absolute_url('/assets/loadbar/css/loading-bar.css') }}" rel="stylesheet" />
        <link href="{{ absolute_url('/assets/select2-develop/dist/css/select2.min.css') }}" rel="stylesheet" />
        <link href="{{ absolute_url('/assets/swiper/dist/css/swiper.min.css') }}" rel="stylesheet" />
        <link href="{{ absolute_url('/css/loading.css') }}" rel="stylesheet" />
        <link href="{{ absolute_url('/css/loading-btn.css') }}" rel="stylesheet" />
        <link href="{{ absolute_url('/css/style.css') }}" rel="stylesheet" />

        <style>
            
            .swiper-container {
                padding:30px 0;
                width: 100%;
            }
            .swiper-slide {
                width:auto;
                height: 250px;	
                background-size:cover;
                background-repeat:no-repeat;
                background-position:center;
                border-radius:5px;
                border-bottom:1px solid #555;
            -webkit-box-reflect: below 1px -webkit-linear-gradient(bottom, rgba(0,0,0,0.5) 0px, rgba(0,0,0,0) 20px);
            
            }
            .swiper-slide a {
                position:absolute;
                left:0;
                top:0;
                width:100%;
                height:100%;
                z-index:1
            }
        </style>
    
    {% endblock %}

        {% block body %}
	
    <div class="page-header page-header-image-gallery" style="min-height: 80vh !important;">
        <div class="page-header-image animated pulse" data-parallax="true" style="background-image: url('./assets/img/photos/slide-inscription.jpg'); background-position: 0 50px !important;">
        </div>
        <div class="row">
            <div class="col-12 p-0">
                <div class="contenair-header-menu">
					
                    <nav class="navbar navbar-expand bg-gray d-none d-lg-block py-0 navbar-head">
                    <div class="container border-0">
                        <div class="d-flex flex-column flex-md-row w-100 align-items-center justify-content-center justify-content-sm-around">
                            <div class="d-flex flex-sm-row w-100 flex-column justify-content-sm-around align-items-center justify-content-center">
                                <a class="text-decoration-none" href="{{ path('home_page') }}">
                                <img class="logo" src="{{ absolute_url('/uploads/logo/' ~ configsite.getImage()) }}"></img>
                                </a>
							
                                <ul class="navbar-nav mt-2 mt-lg-0 d-flex flex-column flex-sm-row">
                                    <li class="nav-item active m-1">
                                    <a class="nav-link" href="javascript:void();"><span class="d-flex align-content-baseline"><span class="lnr lnr-phone-handset text-wite bg-warning p-1"></span> <span class="bg-darkgray p-1 text-nowrap" style="font-size: 15px;">{{ configsite.getNumphone() }}</span></span></a>
                                    </li>
                                    <li class="nav-item active m-1">
                                    <a class="nav-link" href="javascript:void()"><span class="d-flex align-content-baseline"><span class="lnr lnr-envelope text-wite bg-warning p-1"></span> <span class="bg-darkgray p-1 text-nowrap text-lowercase" style="font-size: 15px;">{{ configsite.getEmail() }}</span></span></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="inscription-group-boutton d-flex flex-column flex-sm-row justify-content-center align-items-center  text-center w-sm-75 w-100">
                                <span class="mr-1">
                                    <button class="btn btn-round show-form-pro-mouseclick-11 bg-gray font-weight-bold text-warning border-warning text-nowrap" type="button">
                                        <i class="">🔒</i> Se connecter
                                    </button>
                                </span>
                                <span class="">
                                    <a href="{{ path('inscription_page') }}" class="btn btn-round bg-warning text-white font-weight-bold text-nowrap">
                                        <i class="">👷🏾</i>  Inscription gratuite
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                    </nav>
                    <!-- Navbar menu end here -->
					  
                    <!-- ############################# NAVBAR HERE LARGE -->
						
                    <div class=" navbar bg-darkgray navbar-expand-lg fix-top py-0 navbar-menu">
                    <div class="container">
                    
                        <a class="text-decoration-none logo-content float-left d-block d-lg-none" href="{{ path('home_page') }}">
                        <img class="logo" src="{{ absolute_url('/uploads/logo/' ~ configsite.getImage()) }}"></img>
                        </a>
                        <a class="nav-link d-none d-md-block d-lg-none" href="javascript:void();"><span class="d-flex align-content-baseline"><span class="lnr lnr-phone-handset text-wite bg-warning p-1"></span> <span class="bg-darkgray p-1 text-nowrap" style="font-size: 15px;">{{ configsite.getNumphone() }}</span></span></a>
                        <a class="nav-link d-none d-md-block d-lg-none" href="javascript:void()"><span class="d-flex align-content-baseline"><span class="lnr lnr-envelope text-wite bg-warning p-1"></span> <span class="bg-darkgray p-1 text-nowrap text-lowercase" style="font-size: 15px;">{{ configsite.getEmail() }}</span></span></a>
                        <a href="javascript:void(0);" class="float-right text-decoration-none btn-toggle-menu" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="lnr lnr-menu-circle text-warning d-block d-lg-none" style="font-size: 64px !important;"></span>
                        </a>

                        <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav font-weight-bold">
                            <li class="nav-item"><a href="{{ path('find_chantier_page') }}" class="nav-link">Trouvez des chantiers</a>
                            </li>
                            <li class="nav-item"><a href="{{ path('nos_tarif_page') }}" class="nav-link">Nos tarifs</a>
                            </li>
                            <li class="nav-item"><a href="{{ path('how_to_step_page') }}" class="nav-link">Comment ça marche</a>
                            </li>
                            <li class="nav-item"><a href="{{ path('site_create_page') }}" class="nav-link">Créer mon site internet</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn-outline-wrning bg-transparent m-sm-1 float-right d-block d-lg-none rounded text-decoration-none show-form-pro-mouseclick-11 font-weight-bold text-warning border-warning text-nowrap">
                                    <i class="">🔒</i> Se connecter
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('inscription_page') }}" class="btn-outline-wrning bg-transparent m-1 float-right d-block d-lg-none rounded text-decoration-none font-weight-bold text-warning border-warning text-nowrap">
                                    <i class="">👷🏾</i> Inscription gratuite
                                </a>
                            </li>
                        </ul>
                        </div>
                    </div>
                    </div>
                    <!-- ############################# END NAVBAR HERE LARGE -->

                    
                    <!-- Progress barr slid scroll -->
                        <div class="progress-container fixed-top">
                            <div class="progress-bar" id="myBar"></div>
                        </div> 
					  
                </div>
            </div>
        </div>
        <!-- End Row for Menu header -->
		
        <!-- Begin for row content header parallax -->
        <div class="row d-flex justify-content-center font-weight-light">
            <!-- ############# Begin slide beside -->
            <div class="col-12" style="padding-top: 1em;">
                <div class="container border-0">
                    <div class="w-100 d-flex flex-column pb-4 justify-content-center" style="margin-top: 2em;">
                        <div class="h1 text-center text-uppercase">
                            Créez votre site internet avec orange-travaux
                        </div>
                        <div class="text-center text-white h6">Prenez l'avantage sur vos concurrents !</div>
                        <div class="w-100 mt-4">
                            <span class="badge badge-secondary float-right">
                            <h2 clas=="text-white" style="font-size: 3vw;"> 👍 ⭐⭐⭐⭐ ✩ 4.2/5 </h2>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ############# End slide beside -->
        </div>
    </div>
    <!--END HEADER-->
	

    <div class="jumbotron bg-transparent">
        <main class="section-1 section-main" style="background-attachment: fixed;">
            <!--Begin section  of the list ads by artisan-->
            <section class="bg-gray">
                <div Class="row bg-white">
                    <!--Triangle in find artisant section-->
                    <div class="triangle triangle-pro-space pt-4" style="width: 100%; height: 4px; background: white; box-shadow: 0px 0px 0px 0px !important"> </div>
                </div>
                <div class="container">
                    <div class="row d-flex justify-content-center py-5">
                        <div class="col-12">
                            <div class="w-100 text-center">
                                <h1 class="text-uppercase text-warning font-weight-bold">BESOIN D'UN SITE WEB ?</h1>
                                <p class="text-uppercase text-white">Créez votre site web simplement et à prix réduit avec orange-travaux</p>
                            </div>
                        </div>
                        <div class="col-6 h-100 my-2">
                            <div class="w-100 text-center px-2 my-5">
                               <p class="text-dark text-left">
                                    <span class="lnr lnr-chevron-right-circle text-warning align-middle" style="font-size: 28px;"></span>
                                    Paramétrage de mon compte : métiers et départements
                                </p>
                                <p class="text-dark text-left">
                                    <span class="lnr lnr-chevron-right-circle text-warning align-middle" style="font-size: 28px;"></span>
                                    Accès à mon compte en ligne et sur l’application
                                </p>
                                <p class="text-dark text-left">
                                    <span class="lnr lnr-chevron-right-circle text-warning align-middle" style="font-size: 28px;"></span>
                                    Visualisation des chantiers géolocalisés et validés par nos conseillers
                                </p>
                                <p class="text-dark text-left">
                                    <span class="lnr lnr-chevron-right-circle text-warning align-middle" style="font-size: 28px;"></span>
                                    Accès aux coordonnées des particuliers (illimité)
                                </p>
                                <p class="text-dark text-left">
                                    <span class="lnr lnr-chevron-right-circle text-warning align-middle" style="font-size: 28px;"></span>
                                    Collecte d’avis suite aux chantiers réalisés
                                </p>
                            </div>
                        </div>
                        <div class="col-6 d-flex align-items-center">
                            <img class="align-middle rounded" src="{{ absolute_url('/uploads/logo/computer-responsive.jpeg') }}"></img>
                        </div>
                        <div class="col-12 d-flex justify-content-center pb-4">
                            <a href="#form-container-site" class="btn btn-warning text-decoration-none btn-more-all-chantier text-uppercase ld ld-ext-right" href="{{ path('inscription_page') }}"> 
                                <i class="ld ld-ring ld-spin"></i>Je veux mon site internet
                            </a>
                        </div>	
                        <div class="col-12 text-center pt-4" style="background-color: #9999;">
                            <h2 class="text-white">POURQUOI PASSER PAR ORANGE-TRAVAUX ?</h2>
                            <div class="row d-flex justify-content-center mt-4">
                                <div class="col-12 col-lg-4 d-flex flex-column py-4 text-center text-white align-items-center justify-content-center">
                                    <span class="pro-icon mb-3">
                                        <span class="icon icon-tarif">
                                            <span class="lnr lnr-cog lnr-tarif text-warning"></span>
                                        </span>
                                    </span>
                                    <p class="small">
                                        création de votre site internet de A à Z (interface et design)
                                    </p>
                                </div>
                                <div class="col-12 col-lg-4 d-flex flex-column py-4 text-center text-white align-items-center justify-content-center">
                                    <span class="pro-icon mb-3">
                                        <span class="icon icon-tarif">
                                            <span class="lnr lnr-cart lnr-tarif text-warning"></span>
                                        </span>
                                    </span>
                                    <p class="small">
                                        Un tarif négocié spécialement pour les clients orange-travaux
                                    </p>
                                </div>
                                <div class="col-12 col-lg-4 d-flex flex-column py-4 text-center text-white align-items-center justify-content-center">
                                    <span class="pro-icon mb-3">
                                        <span class="icon icon-tarif">
                                            <span class="lnr lnr-users lnr-tarif text-warning"></span>
                                        </span>
                                    </span>
                                    <p class="small">
                                        Un abonnement mensuel fixe : pas de surprise à la fin du mois !
                                    </p>
                                </div>
                                <div class="col-12 d-flex justify-content-center pb-4">
                                    <a class="btn btn-warning btn-more-all-chantier ld ld-ext-right" href="{{ path('inscription_page') }}"> 
                                        <i class="ld ld-ring ld-spin"></i>Je m’inscris pour voir les chantiers
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 pt-4">
                            <h1 class="text-warning font-weight-bold text-center">NOTRE METIER DE CREER VOTRE SITE</h1>
                            
                            <div class="swiper-container swiper-container-sites">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide" style="background-image:url(/uploads/images/site-1.jpg)">
                                       
                                    </div>
                                    <div class="swiper-slide" style="background-image:url(/uploads/images/site-2.jpg)">
                                       
                                    </div>
                                    <div class="swiper-slide" style="background-image:url(/uploads/images/site-3.png)">
                                       
                                    </div>
                                    <div class="swiper-slide" style="background-image:url(/uploads/images/site-4.jpg)">
                                      
                                    </div>
                                    <div class="swiper-slide" style="background-image:url(/uploads/images/site-5.jpg)">
                                       
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div id="form-container-site" class="col-12 col-lg-8">
                            <h4 class="text-white text-center d-block mb-3">Créez votre site dès maintenant en quelques clics !<h4>
                            <form id="form-create-site" class="d-block bg-white p-4 rounded">
                                        
                                <div class="form-group mb-3">
                                    <label class="text-secondary">Prénoms</label>
                                    <div id="uploads"></div>
                                    <input type="text" class="form-control" name="firstname" placeholder="votre prénom ?">
                                </div>
                                <div class="form-group mb-3">
                                    <label class="text-secondary">Nom</label>
                                    <div id="uploads"></div>
                                    <input required type="text" class="form-control" name="name" placeholder="votre nom ?">
                                </div>
                                <div class="form-group mb-3">
                                    <label class="text-secondary">E-mail</label>
                                    <div id="uploads"></div>
                                    <input required type="email" class="form-control" name="email" placeholder="votre e-mail ?">
                                </div>
                                <div class="form-group mb-3">
                                    <label class="text-secondary">Téléphone</label>
                                    <div id="uploads"></div>
                                    <input required type="tel" class="form-control" name="phone" placeholder="votre téléphone ?">
                                </div>
                                <div class="form-group mb-3">
                                    <input required type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">
                                    <div class="g-recaptcha" data-sitekey="6Lcr-qsUAAAAAPrCqD5Yk1iDIw9xBtzP6KSackqm"></div>
                                </div>
                                <div class="w-100 text-center"> 
                                    <a class="btn btn-warning btn-create-site text-uppercase">je créer mon site</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
            <!--End section  of the list ads by artisan-->
			
            <!--Begin section the Presse Talk US -->
            <section id="" class="bg-transparent">
            <div class="container  bg-white">
                <div class="row d-flex justify-content-center py-5">
                    <div class="col-12 text-center">
                        <h5 class="text-uppercase">Restez connecté</h5>
                        <div class="text-secondary"><p class=" subtitle ">
                            Pour être certain de ne rater aucun chantier, téléchargez l’application mobile pour suivre les projets lorsque vous êtes en déplacement.
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 lg-8 text-center">
                        <img class="" src="{{ absolute_url('/assets/img/photos/app-mobile.png') }}"></img>
                    </div>
                    <div class="col-12 col-sm-6 lg-4 d-flex flex-column justify-content-center text-secondary">
                        <a class="btn btn-outline-secondary d-flex flex-row text-center align-items-center">
                            <span class="pro-icon mb-3">
                                <span class="icon-message-pro">
                                    <object type="image/svg+xml" data="{{ absolute_url('/assets/icon/apple_icon-icons.com_62745.svg') }}" class="icon-message-pro icon-bike">
                                        apple
                                    </object>
                                </span>
                            </span>
                            <span class="">
                                <span class="text-center ">Disponible sur </span><br>
                                <span class="font-weight-capitalize">App Store</span>
                            </span>
                        </a>
                        <a class="btn btn-outline-secondary d-flex flex-row align-items-center">
                            <span class="pro-icon mb-3">
                                <span class="icon-message-pro">
                                    <object type="image/svg+xml" data="{{ absolute_url('/assets/icon/Google_Play_icon-icons.com_66988.svg') }}" class="icon-message-pro icon-bike">
                                        play
                                    </object>
                                </span>
                            </span>
                            <span class="text-center ">
                                <span class="">Disponible sur </span><br>
                                <span class="font-weight-capitalize">Google Play</span>				
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            </section>
            <!--End section the Presse Talk US  -->
				
        </main>
			
        <!-- Begin footer page -->
        {% include "./page/footer/footer.html.twig" %}
        <!-- END footer page -->

    </div>

{% endblock %}

{% block javascripts %}

<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>-->
<!-- MESSAGE NTIFICATION -->
<script src="{{ absolute_url('/assets/sweetalert2/dist/sweetalert2.all.min.js') }}"></script>
<script src="{{ absolute_url('/assets/sweetalert2/dist/sweetalert2.min.js') }}"></script>
<!--Local-->
<script src="{{ absolute_url('/assets/loadbar/js/loading-bar.js') }}"></script>
<script src="{{ absolute_url('/assets/js/core/jquery.min.js') }}"></script>
<script src="{{ absolute_url('/assets/js/core/bootstrap.min.js') }}"></script>
<script src="{{ absolute_url('/assets/js/now-ui-kit.min.js') }}"></script>
<script src="{{ absolute_url('/assets/js/core/popper.min.js') }}"></script>
<script src="{{ absolute_url('/assets/js/plugins/bootstrap-switch.js') }}"></script>
<script src="{{ absolute_url('/assets/js/plugins/nouislider.min.js') }}"></script>
<script src="{{ absolute_url('/assets/swiper/dist/js/swiper.min.js') }}"></script>
<script src="{{ absolute_url('/assets/select2-develop/dist/js/select2.full.min.js') }}"></script>
<script src="{{ absolute_url('/assets/select2-develop/dist/js/select2.min.js') }}"></script>
<script src="{{ absolute_url('/assets/js/app.js') }}"></script>
<script src="{{ absolute_url('/assets/js/site.js') }}"></script>

{% endblock %}