	{% extends  'base.html.twig' %}

		{% block stylesheets %}

		<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />-->
		<script src="https://cdn.linearicons.com/free/1.0.0/svgembedder.min.js"></script>
		<link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
		<!-- CSS Files -->
		<link href="{{ absolute_url('/assets/sweetalert2/dist/sweetalert2.min.css') }}" rel="stylesheet" />
		<link href="{{ absolute_url('/assets/css/now-ui-kit.min.css') }}" rel="stylesheet" />
		<link href="{{ absolute_url('/assets/css/bootstrap.min.css') }}" rel="stylesheet" />
		<link href="{{ absolute_url('/animate/animate.min.css') }}" rel="stylesheet" />
		<link href="{{ absolute_url('/assets/loadbar/css/loading-bar.css') }}" rel="stylesheet" />
		<link href="{{ absolute_url('/assets/select2-develop/dist/css/select2.min.css') }}" rel="stylesheet" />
		<link href="{{ absolute_url('/assets/swiper/dist/css/swiper.min.css') }}" rel="stylesheet" />
		<link href="{{ absolute_url('/css/loading.css') }}" rel="stylesheet" />
		<link href="{{ absolute_url('/css/loading-btn.css') }}" rel="stylesheet" />
		<link href="{{ absolute_url('/css/style.css') }}" rel="stylesheet" />
    
	{% endblock %}

	{% block body %}
	
	<div class="page-header page-header-inscription">
		<div class="page-header-image animated pulse" data-parallax="true" style="background-image: url('/assets/img/photos/slide-inscription.jpg'); background-position: 0 50px !important;">
		</div>
		<div class="row">
			<div class="col-12 p-0">
				<div class="contenair-header-menu">
					
					<nav class="navbar navbar-expand bg-gray py-0 navbar-head">
					  <div class="container border-0">
						<div class="d-flex flex-column flex-md-row w-100 align-items-center justify-content-center justify-content-sm-around">
							<div class="d-flex flex-sm-row w-100 flex-column justify-content-sm-around align-items-center justify-content-center">
								<a class="text-decoration-none" href="{{ path('home_page') }}">
								  <img class="logo" src="{{ absolute_url('/assets/img/logo.png') }}"></img>
								</a>
							
								<ul class="navbar-nav mt-2 mt-lg-0">
									<li class="nav-item active">
									  <a class="nav-link" href="javascript:void();"><span class="d-flex align-content-baseline"><span class="lnr lnr-phone-handset text-wite bg-warning p-1"></span> <span class="bg-darkgray p-1 text-nowrap" style="font-size: 15px;">(102) 6666 8888</span></span></a>
									</li>
									<li class="nav-item">
									  <a class="nav-link" href="javascript:void()"><span class="d-flex align-content-baseline"><span class="lnr lnr-envelope text-wite bg-warning p-1"></span> <span class="bg-darkgray p-1 text-nowrap text-lowercase" style="font-size: 15px;">info@thememove.com</span></span></a>
									</li>
								</ul>
							</div>
							<div class="inscription-group-boutton d-flex flex-column flex-sm-row justify-content-center align-items-center  text-center w-sm-75 w-100">
								<span class="mr-1">
									<button class="btn btn-round show-form-pro-mouseclick-11 bg-gray font-weight-bold text-warning border-warning text-nowrap" type="button">
										<i class="">🔒</i> Se connecter
									</button>
								</span>
								<span class="">
									<a href="{{ path('inscription_particulier_page') }}" class="btn btn-round bg-warning text-white font-weight-bold text-nowrap">
										<i class="">👷🏾</i>  Inscription gratuite
									</a>
								</span>
							</div>
						</div>
					  </div>
					</nav>
					<!-- Navbar menu end here -->
					  
					  <!-- ############################# NAVBAR HERE LARGE -->
						
					<div class=" navbar bg-darkgray navbar-expand-lg fix-top py-0 navbar-menu">
					  <div class="container">
						<button type="button" class="navbar-toggler btn-toggle-menu" data-toggle="collapse" data-target=".navbar-collapse">☰</button>
						<div class="navbar-collapse collapse">
						  <ul class="nav navbar-nav">
						<li class="nav-item"><a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">Types des travaux</a>
								<ul class="dropdown-menu megamenu">
									<div class="row">
										<li class="col-12 col-sm-4 text-center pb-4">
											<ul><li class="h6 text-warning border-bottom border-warning">INSTALLER</li></ul>
											<ul class="row text-centert" style=" list-style-type: none;">

												<div class="col-4 p-0">
													<li class="dropdown-header">Categorie-1</li>
													<li><a href="{{ path('post_ask_devis_page', {'article': 1}) }}">Article-1</a>
													</li>
													<li><a href="{{ path('post_ask_devis_page', {'article': 2}) }}">Article-2</a>
													</li>
													<li class="divider"></li>
												</div>
										
												<div class="col-12">
													<li><a href="{{ path('view_all_tavaux_page') }}" class="text-warning pt-2">Voir tous les articles >></a></li>
												</div>

											</ul>
										</li>
										<li class="col-12 col-sm-4 text-center pb-4">
											<ul><li class="h6 text-warning border-bottom border-warning">RENOVER</li></ul>
											<ul class="row text-centert" style=" list-style-type: none;">

												<div class="col-4 p-0">
													<li class="dropdown-header">Categorie-1</li>
													<li><a href="{{ path('post_ask_devis_page', {'article': 1}) }}">Article-1</a>
													</li>
													<li><a href="{{ path('post_ask_devis_page', {'article': 2}) }}">Article-2</a>
													</li>
													<li class="divider"></li>
												</div>
										
												<div class="col-12">
													<li><a href="{{ path('view_all_tavaux_page') }}" class="text-warning pt-2">Voir tous les articles >></a></li>
												</div>

											</ul>
									  </li>
									  <li class="col-12 col-sm-4 text-center pb-4">
											<ul><li class="h6 text-warning border-bottom border-warning">AMENAGER SON INTERIEUR</li></ul>
											<ul class="row text-centert" style=" list-style-type: none;">

												<div class="col-4 p-0">
													<li class="dropdown-header">Categorie-1</li>
													<li><a href="{{ path('post_ask_devis_page', {'article': 1}) }}">Article-1</a>
													</li>
													<li><a href="{{ path('post_ask_devis_page', {'article': 2}) }}">Article-2</a>
													</li>
													<li class="divider"></li>
												</div>
										
												<div class="col-12">
													<li><a href="{{ path('view_all_tavaux_page') }}" class="text-warning pt-2">Voir tous les articles >></a></li>
												</div>

											</ul>
									  </li>
									  <li class="col-12 col-sm-4 text-center pb-4">
											<ul><li class="h6 text-warning border-bottom border-warning">AMENAGER SON EXTERIEUR</li></ul>
											<ul class="row text-centert" style=" list-style-type: none;">

												<div class="col-4 p-0">
													<li class="dropdown-header">Categorie-1</li>
													<li><a href="{{ path('post_ask_devis_page', {'article': 1}) }}">Article-1</a>
													</li>
													<li><a href="{{ path('post_ask_devis_page', {'article': 2}) }}">Article-2</a>
													</li>
													<li class="divider"></li>
												</div>
										
												<div class="col-12">
													<li><a href="{{ path('view_all_tavaux_page') }}" class="text-warning pt-2">Voir tous les articles >></a></li>
												</div>

											</ul>
									  </li>
									  <li class="col-12 col-sm-4 text-center pb-4">
											<ul><li class="h6 text-warning border-bottom border-warning">CONSTRUIRE</li></ul>
											<ul class="row text-centert" style=" list-style-type: none;">

												<div class="col-4 p-0">
													<li class="dropdown-header">Categorie-1</li>
													<li><a href="{{ path('post_ask_devis_page', {'article': 1}) }}">Article-1</a>
													</li>
													<li><a href="{{ path('post_ask_devis_page', {'article': 2}) }}">Article-2</a>
													</li>
													<li class="divider"></li>
												</div>
										
												<div class="col-12">
													<li><a href="{{ path('view_all_tavaux_page') }}" class="text-warning pt-2">Voir tous les articles >></a></li>
												</div>

											</ul>
									  </li>
									</div>
								</ul>
							</li>
							<li class="nav-item"><a href="{{ path('guide_price_page') }}" class="nav-link">Guide de prix</a>
							</li>
							<li class="nav-item"><a href="{{ path('how_to_step_page') }}" class="nav-link">Comment ça marche</a>
							</li>
							<li class="nav-item"><a href="{{ path('particulier_dashbord') }}" class="nav-link particular-dashbord-access">Gérer mon espace particulier</a>
							</li>
						  </ul>
						</div>
					  </div>
					</div>
					<!-- ############################# END NAVBAR HERE LARGE -->
					 <!-- Progress barr slid scroll -->
						<div class="progress-container fixed-top">
							<div class="progress-bar" id="myBar"></div>
						</div> 
					  
				</div>
			</div>
		</div>
		<!-- End Row for Menu header -->
		
		<!-- Begin for row content header parallax -->
		<div class="row d-flex justify-content-center font-weight-light" style="">
			<!-- ############# Begin slide beside -->
			<div class="col-8" style="padding-top: 4em;">
				<div class="container border-0">
					<div class="w-100 d-flex flex-column pb-4 justify-content-center">
						<div class="h4 text-text-white text-uppercase">
							Trouver des travaux de professionnel
						</div>
					</div>
				</div>
			</div>
			<!-- ############# End slide beside -->
			
			<!-- ############# Begin form search -->
			<div class="col-10" style="padding-top: 1em;">
				<div class="container bg-dark pl-0 h-auto" style="box-shadow: 5px 5px 5px black;">
					
					<form action>
						<div class="form-group">
							
							<div class="d-flex flex-column flex-sm-row w-100 justify-content-center">
								<input type="text" class="form-control m-2" placeholder="Quel métier?" style="height: 45px;">
								<input type="text" class="form-control m-2" placeholder="Votre ville ou département" style="height: 45px;">
								<div class="input-group-append input-group-append-find-artisant bg-warning text-center">
								  <a class="btn btn-warning border-0 text-center text-nowrap w-100">Recherche</a>
								</div>
							</div>
							
						</div>
					</form>
				</div>
			</div>
			<!-- ############# End form search-->
		</div>
	</div>
	<!--END HEADER-->
	

	<div class="jumbotron bg-transparent">
		<main class="section-1 section-main" style="background-attachment: fixed;">
			<!--Begin section  of the list ads by artisan-->
			<section class="bg-gray">
				<div Class="row bg-white">
					<div class="col-12">
							<a href="{{ path('find_chantier_page') }}" class="btn btn-success float-right text-decoration-none border-0 text-center text-nowrap mr-5">Je suis un professionnel</a>
					</div>
					<div class="col-12 d-flex flex-column text-center">
						<span class="h6">Nos travaux disponibles</span>
						<span class="small">Ces travaux représentent leur experience professionnel. Et si c'était vous ?</span>
					</div>
					<!--Triangle in find artisant section-->
					<div class="triangle triangle-pro-space pt-4" style="width: 100%; height: 4px; background: white; box-shadow: 0px 0px 0px 0px !important"> </div>
				</div>
				<div class="container">
					<div class="row py-5">
						<div class="col-12 col-sm-6 col-lg-4 my-2">
							<div class="img-new-pro-container bg-white rounded">
								<div class="img-new-pro-content d-flex flex-column rounded-top" style="background-image: url(/assets/img/photos/jardin/jardin-1.jpg); width: 100%; height: 250px;">
									<div class="bg-transparent w-100" style="">
										<a href="{{ path('view_art_cat_galery_page') }}" class="btn bg-success icon-pro-img-over d-none text-decoration-none float-right m-2">
											<span class="lnr lnr-eye icon-popular-ask-eyes"></span>
										</a>
									</div>
									<div class="h-100 d-flex flex-column align-items-center justify-content-center">
										<a class="btn-warning btn-pro-emotion-heart p-3 rounded-circle">
											<span class="lnr lnr-apartment icon-catego-circle-midle"></span>
										</a>
										<span class="h6 text-white p-2">Construction & Renovation</span>
									</div>
									<div class="bg-transparent d-flex align-items-end justify-content-end h-auto w-100 pb-3" style=""><a class="btn bg-darkgray icon-pro-img-over d-none m-2">vote(3215)</a></div>
								</div>
							</div>
						</div>
						<div class="col-12 col-sm-6 col-lg-4 mobile-top-position my-2">
							<div class="img-new-pro-container bg-white rounded">
								<div class="img-new-pro-content d-flex flex-column rounded-top" style="background-image: url(/assets/img/photos/jardin/jardin-1.jpg); width: 100%; height: 250px;">
									<div class="bg-transparent w-100" style="">
										<a href="{{ path('view_art_cat_galery_page') }}" class="btn bg-success icon-pro-img-over text-decoration-none d-none float-right m-2">
											<span class="lnr lnr-eye icon-popular-ask-eyes"></span>
										</a>
									</div>
									<div class="h-100 d-flex flex-column align-items-center justify-content-center">
										<a class="btn-success btn-pro-emotion-heart p-3 rounded-circle">
											<span class="lnr lnr-laptop-phone icon-catego-circle-midle"></span>
										</a>
										<span class="h6 text-white p-2">Ordinateur & mobile services</span>
									</div>
									<div class="bg-transparent d-flex align-items-end justify-content-end h-auto w-100 pb-3" style=""><a class="btn bg-darkgray icon-pro-img-over d-none m-2">vote(3215)</a></div>
								</div>
							</div>
						</div>
						<div class="col-12 d-flex justify-content-center pt-4">
							<a class="btn btn-warning btn-more-all-chantier ld ld-ext-right running" href="{{ path('view_all_tavaux_page') }}"> <i class="ld ld-ring ld-spin"></i> Voir plus</a>
						</div>	
					</div>
				</div>
			</section>
			<!--End section  of the list ads by artisan-->
			
			<!--Begin section the Presse Talk US -->
			<section id="" class="bg-transparent">
			<div class="container  bg-white">
				<div class="row d-flex justify-content-center py-5">
					<div class="col-12 text-center">
						<h5 class="text-uppercase">Restez connecté</h5>
						<div class="text-secondary"><p class=" subtitle ">
							Pour être certain de ne rater aucun chantier, téléchargez l’application mobile pour suivre les projets lorsque vous êtes en déplacement.
						</div>
					</div>
					<div class="col-12 col-sm-6 lg-8 text-center">
						<img class="" src="{{ absolute_url('/assets/img/photos/app-mobile.png') }}"></img>
					</div>
					<div class="col-12 col-sm-6 lg-4 d-flex flex-column justify-content-center text-secondary">
						<a class="btn btn-outline-secondary d-flex flex-row text-center align-items-center">
							<span class="pro-icon mb-3">
								<span class="icon-message-pro">
									<object type="image/svg+xml" data="{{ absolute_url('/assets/icon/apple_icon-icons.com_62745.svg') }}" class="icon-message-pro icon-bike">
										apple
									</object>
								</span>
							</span>
							<span class="">
								<span class="text-center ">Disponible sur <span/><br>
								<span class="font-weight-capitalize">App Store<span/>
							<span/>
						</a>
						<a class="btn btn-outline-secondary d-flex flex-row align-items-center">
							<span class="pro-icon mb-3">
								<span class="icon-message-pro">
									<object type="image/svg+xml" data="{{ absolute_url('/assets/icon/Google_Play_icon-icons.com_66988.svg') }}" class="icon-message-pro icon-bike">
										play
									</object>
								</span>
							</span>
							<span class="text-center ">
								<span class="">Disponible sur <span/><br>
								<span class="font-weight-capitalize">Google Play<span/>
							<span/>
						</a>
					</div>
				</div>
			</div>
			</section>
			<!--End section the Presse Talk US  -->
				
		</main>
			
		<!-- Begin footer page -->
		{% include "./page/footer/footer.html.twig" %}
		<!-- END footer page -->

	</div>

{% endblock %}

{% block javascripts %}

<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>-->
<!-- MESSAGE NTIFICATION -->
<script src="{{ absolute_url('/assets/sweetalert2/dist/sweetalert2.all.min.js') }}"></script>
<script src="{{ absolute_url('/assets/sweetalert2/dist/sweetalert2.min.js') }}"></script>
<!--Local-->
<script src="{{ absolute_url('/assets/loadbar/js/loading-bar.js') }}"></script>
<script src="{{ absolute_url('/assets/js/core/jquery.min.js') }}"></script>
<script src="{{ absolute_url('/assets/js/core/bootstrap.min.js') }}"></script>
<script src="{{ absolute_url('/assets/js/now-ui-kit.min.js') }}"></script>
<script src="{{ absolute_url('/assets/js/core/popper.min.js') }}"></script>
<script src="{{ absolute_url('/assets/js/plugins/bootstrap-switch.js') }}"></script>
<script src="{{ absolute_url('/assets/js/plugins/nouislider.min.js') }}"></script>
<script src="{{ absolute_url('/assets/swiper/dist/js/swiper.min.js') }}"></script>
<script src="{{ absolute_url('/assets/select2-develop/dist/js/select2.full.min.js') }}"></script>
<script src="{{ absolute_url('/assets/select2-develop/dist/js/select2.min.js') }}"></script>
<script src="https://www.google.com/recaptcha/api.js?render=6Lcr-qsUAAAAAPrCqD5Yk1iDIw9xBtzP6KSackqm"></script>
<script src="{{ absolute_url('/assets/js/app.js') }}"></script>

{% endblock %}