
<div class="col-12 col-md-4 d-none d-md-block">
    <div class="container-menu">	
        <div class="menu-container-left">
									
        </div>
        <div class="menu-container-left">
								
            <div class="card bg-transparent card-profil">
                <div class="d-flex justify-content-center">
                
                    <div class="circle">
                    <!-- User Profile Image -->
                    <img class="profile-pic" 
                        src="{% if user.getProfilImage() == null %}
                        {{ absolute_url('/uploads/profil/avatar.png') }}
                        {% else %}
                        {{ absolute_url('/uploads/profil/' ~ user.getProfilImage()) }}
                        {% endif %}">
                    <!-- Default Image -->
                    <!-- <i class="fa fa-user fa-5x"></i> -->
                    </div>
                    <div class="p-image">
                        <span class="lnr lnr-camera upload-button d-none text-warning" style="font-size: 32px;"></span>
                        <form id="form-upload-profil">
                            <input class="file-upload" name="file-upload" type="file" accept="image/*"/>
                        </form>
                    </div>
                                  
                </div>
                <div class="card-body text-secondary text-center">
                   {{ user.getEmail() }} <br>
                    <a href="{{ path('particulier_password_edit') }}" class="text-warning"> > Modifier mon mot de passe</a>
                </div>

            </div>
							
            <div class="card bg-darkgray">
                <div class="card-title bg-warning w-100 h4 p-2"><span class="lnr lnr-list float-left"></span>&nbsp; Menu</div>
            <div class="card-body px-0 bg-transparent">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item list-item-particular-left bg-transparent"><a href="{{ path('particulier_ask_project_devis') }}" class="text-decoration-none"><span class="float-left lnr "></span>Mes demandes devis  <span class="d-inline rounded-circle badge badge-success text-white small">{{ nbDevis }}</span></a></li>
                        <li class="list-group-item list-item-particular-left bg-transparent"><a href="{{ path('particulier_ads_postule') }}" class="text-decoration-none">Mes projets postulés <span class="d-inline rounded-circle badge badge-primary border-0 text-white small">{{ nbPost }}</span></a></li>
                        <li class="list-group-item list-item-particular-left bg-transparent"><a href="{{ path('particulier_projects_valid_finish') }}" class="text-decoration-none">Mes projets validés &nbsp; <span class="position-absolute"><span class="d-inline lnr lnr-envelope"  style="font-size: 25px; !important"></span><span class="d-inline rounded-circle position-absolute badge badge-danger text-white small" style="left: 18px;top: -1px;">{{ nbMyProject }}</span> </span></a></li>
                        <li class="list-group-item list-item-particular-left bg-transparent"><a href="{{ path('particulier_dashbord') }}" class="text-decoration-none">Nos nouvaux professionnels <span class="d-inline rounded-circle badge badge-primary border-0 text-white small">{{ nbPros }}</span></a></li>
                    </ul>
            </div>
            </div>
									
            <div class="card">
                <div class="card-header bg-darkgray p-1 text-white"> <h4 class="card-title"><span class="lnr lnr-construction float-left"></span> &nbsp; Le chantier du moi</h4></div>
                <div class="card-body bg-warning">
                    <div class="row">
                        <div class="col-6 h-100">
                            <img class="" src="{{ absolute_url('/assets/img/photos/head-1.jpg') }}"></img>
                            <div class="d-block text-uppercase text-center pt-2">Avant</div>
                        </div>
                        <div class="col-6 h-100">
                            <img class="" src="{{ absolute_url('/assets/img/photos/head-1.jpg') }}"></img>
                            <div class="d-block text-uppercase text-center pt-2">Après</div>
                        </div>
                    </div>
                </div>
            </div>
									
            <div class="card">
                <div class="card-header bg-darkgray text-warning px-2 font-weight-bold"> <div class="card-title h4"><span class="lnr lnr-construction float-left"></span> &nbsp; Trouvez des professionnels dans votre région</div></div>
                <div class="card-body text-italic text-center cart-map-container">
                   <p class="text-warning">Profitez! plus de 5 demandes de devis, avec postulé des annonces,</p>
                    <p class="text-success"> pour meilleur d'offre à 250€/an d'abonement!</p>
                </div>
            </div>
									
        </div>
        <div class="menu-container-left">
									
        </div>
        <div class="menu-container-left">
									
        </div>
    </div>
</div>