{{ form_start(form) }}

<div>
    <label  class="">Emoji Avant</label>
    <p for="emoji_code" class="form-control col-lg-12">
        {% autoescape %}                                                
            {{ emoji.code  | raw }}
        {% endautoescape %}
    </p>
    <label  class="">Emoji Apres</label>
    <p class="">
        {% autoescape %}                                                
            <p id="emoji_apres" class="form-control col-lg-12">
            </p>

        {% endautoescape %}
    </p>
    
</div>

    {{ form_widget(form) }}

    <hr>
    
    <div class="btn btn-info btn_vis_emoji" >Visualiser</div>
    <div class="btn btn-warning btn_annuler_emoji" >Annuler</div>


    <button class="btn btn-success btn_save_emoji" style="display:none" >{{ button_label|default('Enregistrer') }}</button>

{{ form_end(form) }}
