<div class="row">
    <div class="col-12 p-0">
			
        <div class="contenair-header-menu">
            <nav class="navbar navbar-expand bg-gray py-1 navbar-head ">
            <div class="container border-0">
                <div class="d-flex flex-column flex-md-row w-100 align-items-center justify-content-center justify-content-sm-around">
                    <div class="d-flex flex-sm-row w-100 flex-column justify-content-sm-around align-items-center justify-content-center">
                        <a class="text-decoration-none" href="{{ absolute_url('/') }}">
                        <img class="logo" src="{{ absolute_url('/assets/img/logo.png') }}"></img>
                        </a>

                        <ul class="navbar-nav mt-2 mt-lg-0">
                            <li class="nav-item">
                            <a class="nav-link" href="javascript:void();"><span class="d-flex align-content-baseline"><span class="lnr lnr-phone-handset text-wite bg-warning p-1"></span> <span class="bg-darkgray p-1 text-nowrap" style="font-size: 15px;">(102) 6666 8888</span></span></a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" href="javascript:void()"><span class="d-flex align-content-baseline"><span class="lnr lnr-envelope text-wite bg-warning p-1"></span> <span class="bg-darkgray p-1 text-nowrap text-lowercase" style="font-size: 15px;">info@thememove.com</span></span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="inscription-group-boutton d-flex flex-column flex-sm-row justify-content-center align-items-center  text-center w-sm-75 w-100">
                        <span class="mr-1">
                            <a href="{{ path('pro_devis_receved_lists') }}" class="font-weight-bold d-flex flex-md-row flex-column align-items-center text-decoration-none text-success border-warning text-nowrap">
                                <div class="bg-danger rounded-circle text-center mx-1" style="width: 32px; height: 32px;"><span class="text-white" style="line-height:32px;">{{ numberDevis }}</span></div><div class="small font-weight-bold">Demandes devis</div>
                            </a>
                        </span>
                        <span class="">
                            <a href="{{ path('logout') }}" class="btn-outline-wrning rounded text-decoration-none text-warning font-weight-bold text-nowrap">
                                <i class="">👷🏾</i> Se déconecter
                            </a>
                        </span>
                    </div>
                </div>
            </div>
            </nav>
            <!-- Navbar menu end here -->

            <!-- ############################# NAVBAR HERE LARGE -->

            <div class=" navbar bg-darkgray navbar-expand-lg fix-top py-0 navbar-menu">
            <div class="container"> 
                <button type="button" class="navbar-toggler btn-toggle-menu" data-toggle="collapse" data-target=".navbar-collapse">☰</button>
                <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                   <li class="nav-item"><a href="{{ path('nos_tarif_page') }}" class="nav-link">Nos Tarif</a>
                    </li>
                    <li class="nav-item"><a href="{{ path('how_to_step_page') }}" class="nav-link">Comment ça marche ?</a>
                    </li>
                    <li class="nav-item"><a href="{{ path('site_create_page') }}" class="nav-link">Créer mon site internet</a>
                    </li>
                    <li class="nav-item"><a href="{{ path('pro_talk_us') }}" class="nav-link">Parlez à nous</a>
                    </li>
                </ul>
                </div>
            </div>
            </div>
            <!-- ############################# END NAVBAR HERE LARGE -->
            <!-- Progress barr slid scroll -->
                <div class="progress-container fixed-top">
                    <div class="progress-bar" id="myBar"></div>
                </div>

        </div>
    </div>
</div>
<!-- End Row for Menu header -->