<!-- Begin menu left litle mobile left -->
<div class="col-sm-4 mt-4 p-0 d-none d-sm-block d-xl-none">
    <div class=" h-100">
								
        <div class="card card-profil profil-particular bg-transparent">
           
            <div class="d-flex justify-content-center">
                
                <div class="circle">
                <!-- User Profile Image -->
                <img class="profile-pic" 
                    src="{% if user.getProfilImage() == null %}
                    {{ absolute_url('/uploads/profil/avatar.png') }}
                    {% else %}
                    {{ absolute_url('/uploads/profil/' ~ user.getProfilImage()) }}
                    {% endif %}">
                <!-- Default Image -->
                <!-- <i class="fa fa-user fa-5x"></i> -->
                </div>
                <div class="p-image">
                    <span class="lnr lnr-camera upload-button d-none text-warning" style="font-size: 32px;"></span>
                    <form id="form-upload-profil">
                        <input class="file-upload" name="file-upload" type="file" accept="image/*"/>
                    </form>
                </div>
                                  
            </div>
           
            <div class="card-body text-warning text-center">
                {{ user.getEmail() }}
                <p><a href="{{ path('pro_password_edit') }}" class="text-warning small"> > Modifier mon mot de passe </a></p>
            </div>
        </div>
								
        <div class="card">
            <div class="card-header bg-white text-center text-warning"> <h6 class="card-title mt-2"><span class="lnr lnr-construction float-left"></span> &nbsp;MENU</h6></div>
            <div class="card-body p-0">	
                <ul class=" bg-darkgray px-2" style="list-style-type: none;">
                <li class="d-block">
                    <a class="btn-warning btn w-100 border-0 text-nowrap" href="{{ path('pro_dashbord') }}">Accueil</a>
                </li>
                <li class="d-block">
                    <a class="bg-white btn w-100 text-dark text-nowrap border-0" href="{{ path('pro_dispos_projects') }}">
                        Projet disponibles
                    </a>
                </li>
                <li class="d-block">
                    <a class="bg-white btn w-100 text-dark text-nowrap border-0" href="{{ path('pro_devis_receved_lists') }}">Demande devis</a>
                </li>
                <li class="d-block">
                    <a class="bg-white btn w-100 text-wrap text-dark text-nowrap border-0" href="{{ path('pro_projects_accepted') }}">Mes projets</a>
                </li>
                <li class="d-block">
                    <a class="bg-white btn w-100 text-wrap text-dark text-nowrap border-0" href="{{ path('pro_evaluations') }}">Mes évaluations</a>
                </li>
                <li class="d-block">
                    <a class="bg-white btn w-100 text-wrap text-dark text-nowrap border-0" href="{{ path('pro_show_profil') }}">Mon profil</a>
                </li>
                <li class="d-block">
                    <a class="bg-white btn w-100 text-wrap text-dark text-nowrap border-0" href="{{ path('pro_services') }}">Mes Services</a>
                </li>
                </ul>
            </div>
        </div>
								
        {# <div class="card d-none d-lg-block">
            <div class="card-header bg-darkgray p-1 text-white"> <h6 class="card-title" style="font-size: 1.2em !important;"><span class="lnr lnr-map-marker" style="font-size: 32px;"></span> &nbsp; Ma zone géographique</h6></div>
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-12 h-100">
                        <div id="container-map2">
                           
                        </div>
                        <div class="d-block text-uppercase text-center pt-2">
                            <a href="{{path('pro_geolocation_map_edit')}}" class="btn btn-warning text-decoration-none">Modifier ma zone géographique</a>
                        </div>
                    </div>
                </div>
            </div>
        </div> #}
								
        <div class="card">
            <div class="card-header bg-warning p-1 text-center text-white">
                <img class="animated fadeIn infinite delay-1s" src="{{ absolute_url('/uploads/themes/them-2.png') }}" style="">
            </div>
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-12 d-flex" style="background: linear-gradient(-70deg, #fa7c30 30%, rgba(0, 0, 0, 0) 30%), url('/uploads/themes/htem-1.png'); height: 350px; background-size: cover; background-blend-mode: overlay; background-color: currentColor; background-position: center center; background-repeat: no-repeat;">
                        <div class="w-100 align-self-center text-italic text-center">
                            <h6 class="card-title text-warning text-uppercase">Nos meilleurs d'offres </h6>
                            <p class="text-warning font-weight-bold py-4 animated infinite bounce delay-2s">Insription 100% gratuit,<br>
                                Profitez! le pack d'offre d'abonement
                                à partir de 350€/an!<br>
                                Bouster votre visibilité par tout!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>
<!-- End menu left litle mobile left -->

<!-- Begin colonne left of sreen large -->
<div class="col-12 col-md-4 pt-4 d-none d-xl-block">
    <div class="menu-container-pro-left">
        <div class="card card-profil profil-particular bg-transparent">
            <div class="d-flex justify-content-center">
                
                <div class="circle">
                <!-- User Profile Image -->
                <img class="profile-pic" 
                    src="{% if user.getProfilImage() == null %}
                    {{ absolute_url('/uploads/profil/avatar.png') }}
                    {% else %}
                    {{ absolute_url('/uploads/profil/' ~ user.getProfilImage()) }}
                    {% endif %}">
                <!-- Default Image -->
                <!-- <i class="fa fa-user fa-5x"></i> -->
                </div>
                <div class="p-image">
                    <span class="lnr lnr-camera upload-button d-none text-warning" style="font-size: 32px;"></span>
                    <form id="form-upload-profil">
                        <input class="file-upload" name="file-upload" type="file" accept="image/*"/>
                    </form>
                </div>
                                  
            </div>
            
            <div class="card-body text-secondary p-0 text-center">
                {{ user.getEmail() }}
                <p><a href="{{ path('pro_password_edit') }}" class="text-warning small"> > Modifier mon mot de passe </a></p>
            </div>
        </div>
								
        {# <div class="card d-none d-lg-block">
            <div class="card-header bg-darkgray p-1 text-white text-uppercase"> <h6 class="card-title"><span class="lnr lnr-map-marker" style="font-size: 32px;"></span></span> &nbsp; Ma zone géographique</h6></div>
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-12 h-100">
                        <div id="container-map1">
                           
                        </div>
                        <div class="d-block text-uppercase text-center pt-2">
                            <a href="{{ path('pro_geolocation_map_edit') }}" class="btn btn-warning text-decoration-none">Modifier ma zone géographique</a>
                        </div>
                    </div>
                </div>
            </div>
        </div> #}
								
        <div class="card">
            <div class="card-header bg-warning p-1 text-center text-white">
                <img class="animated fadeIn infinite delay-1s" src="{{ absolute_url('/uploads/themes/them-2.png') }}" style="">
            </div>
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-12 d-flex" style="background: linear-gradient(-70deg, #fa7c30 30%, rgba(0, 0, 0, 0) 30%), url('/uploads/themes/htem-1.png'); height: 350px; background-size: cover; background-blend-mode: overlay; background-color: currentColor; background-position: center center; background-repeat: no-repeat;">
                       
                        <div class="w-100 align-self-center text-italic text-center">
                            <p class="text-warning font-weight-bold animated infinite bounce delay-2s">Insription 100% gratuit,<br>
                            Profitez! le pack d'offre d'abonement
                             à partir de 350€/an!<br>
                            Bouster votre visibilité par tout!
                            </p>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>
<!-- End colnne left  of screen large-->