<!-- Begin menu left litle mobile left -->
<div class="col-sm-4 mt-4 p-0 d-none d-sm-block d-xl-none">
    <div class=" h-100">
								
        <div class="card profil-particular bg-transparent">
           
            <div class="d-flex justify-content-center">
                
                <div class="circle">
                <!-- User Profile Image -->
                <img class="profile-pic" 
                    src="{% if user.getProfilImage() == null %}
                    {{ absolute_url('/uploads/profil/avatar.png') }}
                    {% else %}
                    {{ absolute_url('/uploads/profil/' ~ user.getProfilImage()) }}
                    {% endif %}">
                <!-- Default Image -->
                <!-- <i class="fa fa-user fa-5x"></i> -->
                </div>
                <div class="p-image">
                    <span class="lnr lnr-camera upload-button d-none text-warning" style="font-size: 32px;"></span>
                    <form id="form-upload-profil">
                        <input class="file-upload" name="file-upload" type="file" accept="image/*"/>
                    </form>
                </div>
                                  
            </div>
           
            <div class="card-body text-warning text-center">
                {{ user.getEmail() }}
                <p><a href="{{ path('pro_password_edit') }}" class="text-warning small"> > Modifier mon mot de passe <a></p>
            </div>
        </div>
								
        <div class="card">
            <div class="card-header bg-white text-center text-warning"> <h5 class="card-title mt-2"><span class="lnr lnr-construction float-left"></span> &nbsp;MENU</h5></div>
            <div class="card-body pt-0">	
                <ul class=" bg-darkgray px-2" style="list-style-type: none;">
                <li class="d-block">
                    <a class="btn-warning btn w-100 border-0 text-nowrap" href="{{ path('pro_dashbord') }}">Accueil</a>
                </li>
                <li class="d-block">
                    <a class="bg-white btn w-100 text-dark text-nowrap border-0" href="{{ path('pro_dispos_projects') }}">
                        Projet disponibles
                    </a>
                </li>
                <li class="d-block">
                    <a class="bg-white btn w-100 text-dark text-nowrap border-0" href="{{ path('pro_devis_receved_lists') }}">Demande devis</a>
                </li>
                <li class="d-block">
                    <a class="bg-white btn w-100 text-wrap text-dark text-nowrap border-0" href="{{ path('pro_projects_accepted') }}">Mes projets</a>
                </li>
                <li class="d-block">
                    <a class="bg-white btn w-100 text-wrap text-dark text-nowrap border-0" href="{{ path('pro_evaluations') }}">Mes évaluations</a>
                </li>
                <li class="d-block">
                    <a class="bg-white btn w-100 text-wrap text-dark text-nowrap border-0" href="{{ path('pro_show_profil') }}">Mon profil</a>
                </li>
                <li class="d-block">
                    <a class="bg-white btn w-100 text-wrap text-dark text-nowrap border-0" href="{{ path('pro_services') }}">Mes Services</a>
                </li>
                </ul>
            </div>
        </div>
								
        <div class="card">
            <div class="card-header bg-darkgray p-1 text-white"> <h5 class="card-title"><span class="lnr lnr-construction float-left"></span> &nbsp; Ma zone géographique</h5></div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 h-100">
                        <img class="" src="{{ absolute_url('/assets/img/photos/head-1.jpg') }}"></img>
                        <div class="d-block text-uppercase text-center pt-2">Avant</div>
                    </div>
                </div>
            </div>
        </div>
								
        <div class="card">
            <div class="card-header bg-darkgray p-1 text-white"> <h5 class="card-title"><span class="lnr lnr-construction float-left"></span> &nbsp; Mon conseiller</h5></div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 h-100">
                        <img class="" src="{{ absolute_url('/assets/img/photos/head-1.jpg') }}"></img>
                        <div class="d-block text-uppercase text-center pt-2">Avant</div>
                    </div>
                </div>
            </div>
        </div>
								
        <div class="card">
            <div class="card-header p-2 font-weight-bold"> <h5 class="card-title"><span class="lnr lnr-construction float-left"></span> &nbsp; Nos meilleurs d'offres</h5></div>
            <div class="card-body text-italic text-center bg-warning">
                <p class="text-white">Insription 100% gratuit,<br>
                Profitez! la meilleur pack d'offre à 350€/an d'abonement!<br>
                Bouster votre visibilité patout!
                </p>
            </div>
        </div>
								
    </div>
</div>
<!-- End menu left litle mobile left -->

<!-- Begin colonne left of sreen large -->
<div class="col-12 col-md-4 pt-4 d-none d-xl-block">
    <div class="menu-container-pro-left">
        <div class="card profil-particular bg-transparent">
            <div class="position-absolute" style="left: 80px; top: 20px;"><span class="lnr-pencil-edit-profil-particular float-right mr-1 d-none bg-warning rounded-circle p-2"><span class="lnr lnr-pencil"></span></span></div>
            <div class="w-100 bg-darkgray rounded-top d-flex justify-content-center"><img class="card-img-top rounded-circle" style="min-width: 115px;max-width: 115px; min-height: 115px; max-height: 115px;" src="{{ absolute_url('/assets/img/photos/devenir-chef-equipe-btp.jpg') }}" alt="Card image cap"></img></div>
            <div class="card-body text-secondary text-center">
                florent.tata@gmail.com
            </div>
        </div>
								
        <div class="card">
            <div class="card-header bg-darkgray p-1 text-white text-uppercase"> <h5 class="card-title"><span class="lnr lnr-construction float-left"></span> &nbsp; Ma zone géographique</h5></div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 h-100">
                        <img class="" src="{{ absolute_url('/assets/img/photos/head-1.jpg') }}"></img>
                        <div class="d-block text-uppercase text-center pt-2">Avant</div>
                    </div>
                </div>
            </div>
        </div>
								
        <div class="card">
            <div class="card-header bg-darkgray p-1 text-white text-uppercase"> <h5 class="card-title"><span class="lnr lnr-construction float-left"></span> &nbsp; Mon conseiller</h5></div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 h-100">
                        <img class="" src="{{ absolute_url('/assets/img/photos/head-1.jpg') }}"></img>
                        <div class="d-block text-uppercase text-center pt-2">Avant</div>
                    </div>
                </div>
            </div>
        </div>
								
        <div class="card">
            <div class="card-header p-2 font-weight-bold text-uppercase"> <h5 class="card-title"><span class="lnr lnr-construction float-left"></span> &nbsp; Nos meilleurs d'offres</h5></div>
            <div class="card-body text-italic text-center bg-warning">
                <p class="text-white">Insription 100% gratuit,<br>
                Profitez! la meilleur pack d'offre à 350€/an d'abonement!<br>
                Bouster votre visibilité patout!
                </p>
            </div>
            <div class=" border-0 p-0 bg-white text-center pb-4">
                <a class="btn btn-warning">Je veux profiter de l'offre</a>
            </div>
        </div>
    </div>
</div>
<!-- End colnne left  of screen large-->