<div class="d-none d-xl-block col-xl-12 h-auto">
    <div class=" mt-2 bg-darkgray">
        <ul class="nav bg-darkgray px-2 d-flex flex-column flex-lg-row align-items-center justify-content-lg-around">
        <li class="nav-item">
            <a class="nav-link d-lg-inline btn-warning btn-pro-dashbord-menu border-0" href="{{ path('pro_dashbord') }}">Accueil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-lg-inline bg-white btn-pro-dashbord-menu text-dark border-0" href="{{ path('pro_devis_receved_lists') }}">Demande devis</a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-lg-inline bg-white btn-pro-dashbord-menu text-dark border-0" href="{{ path('pro_dispos_projects') }}">Projet disponibles</a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-lg-inline bg-white btn-pro-dashbord-menu text-dark border-0" href="{{ path('pro_projects_accepted') }}">Mes projets</a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-lg-inline bg-white btn-pro-dashbord-menu text-dark border-0" href="{{ path('pro_evaluations') }}">Mes évaluations</a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-lg-inline bg-white btn-pro-dashbord-menu text-dark border-0" href="{{ path('pro_show_profil') }}">Mon profil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-lg-inline bg-white btn-pro-dashbord-menu text-dark border-0" href="{{ path('pro_services') }}">Mes Services</a>
        </li>
        </ul>
    </div>
</div>