{% extends 'base.html.twig' %}

{% block title %}ModePrix{% endblock %}

{% block body %}
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ mode_prix.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ mode_prix.prixTitle }}</td>
            </tr>
            <tr>
                <th>Déscription</th>
                <td>{{ mode_prix.prixDescription }}</td>
            </tr>
            <tr>
                <th>Image</th>

                <td>
                    <div class="card-body">
                        <div class="text-center">
                            <img class="img-fluid img-fluid shadow" style="width: 60rem;"  src="{{ absolute_url('/uploads/images/') }}{{ mode_prix.prixImage }}" alt="">
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th>Prix Globale</th>
                <td>{{ mode_prix.prixGlobale }}</td>
            </tr>
            <tr>
                <th>Prix Moyen</th>
                <td>{{ mode_prix.prixMoyen }}</td>
            </tr>
            <tr>
                <th>Prix Haut Gamme</th>
                <td>{{ mode_prix.prixHautGamme }}</td>
            </tr>
            <tr>
                <th>Date de creation</th>
                <td>{{ mode_prix.prixDateCrea ? mode_prix.prixDateCrea|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>
    
{% endblock %}
