{% extends 'base.html.twig' %}

{% block title %}Devis{% endblock %}

{% block body %}

    <table class="table">
        <tbody>
            <tr>
                <th>#</th>
                <td>{{ devi.id }}</td>
            </tr>
            <tr>
                <th>Détail</th>
                <td>{{ devi.detailProject }}</td>
            </tr>
            
            <tr>
                <th>Nom</th>
                <td>{{ devi.userName }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ devi.firstName }}</td>
            </tr>
            <tr>
                <th>Mobile</th>
                <td>{{ devi.phoneNumber }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ devi.email }}</td>
            </tr>
            <tr>
                <th>ZipCode</th>
                <td>{{ devi.zipCode }}</td>
            </tr>
            <tr>
                <th>Condition</th>
                <td>{{ devi.isAcceptedCondition ? 'Accepté' : 'Non' }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ devi.civility }}</td>
            </tr>
            <tr>
                <th>Demande</th>
                <td>{{ devi.isAskDemande ? 'Accepté' : 'Non' }}</td>
            </tr>
            <tr>
                <th>Date de création</th>
                <td>{{ devi.dateCrea ? devi.dateCrea|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
