{% extends  'base.html.twig' %}

    {% block stylesheets %}

    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />-->
    <script src="https://cdn.linearicons.com/free/1.0.0/svgembedder.min.js"></script>
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <!-- CSS Files -->
    <link href="{{ absolute_url('/assets/sweetalert2/dist/sweetalert2.min.css') }}" rel="stylesheet" />
    <link href="{{ absolute_url('/assets/css/now-ui-kit.min.css') }}" rel="stylesheet" />
    <link href="{{ absolute_url('/assets/css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ absolute_url('/animate/animate.min.css') }}" rel="stylesheet" />
    <link href="{{ absolute_url('/assets/loadbar/css/loading-bar.css') }}" rel="stylesheet" />
    <link href="{{ absolute_url('/assets/select2-develop/dist/css/select2.min.css') }}" rel="stylesheet" />
    <link href="{{ absolute_url('/assets/swiper/dist/css/swiper.min.css') }}" rel="stylesheet" />
    <link href="{{ absolute_url('/assets/form-multistep/form-step.css') }}" rel="stylesheet" />
    <link href="{{ absolute_url('/css/loading.css') }}" rel="stylesheet" />
    <link href="{{ absolute_url('/css/loading-btn.css') }}" rel="stylesheet" />
    <link href="{{ absolute_url('/css/style.css') }}" rel="stylesheet" />

    <style>
        /* Set the size of the div element that contains the map */
        #map {
            height: 400px;  /* The height is 400 pixels */
            width: 100%;  /* The width is the width of the web page */
        }

        .slider {
        -webkit-appearance: none;
        width: 100%;
        height: 14px;
        background: #d3d3d3;
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
        }

        .slider:hover {
        opacity: 1;
        }

        .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 20px;
        height: 20px;
        background: #4CAF50;
        cursor: pointer;
        border-radius: 50%;
        }

        .slider::-moz-range-thumb {
        width: 20px;
        height: 20px;
        background: #4CAF50;
        cursor: pointer;
        border-radius: 50%;
        }

        /** CSS THEMES
            warning dark : rgb(255, 144, 0)
            warning claire : #ffc107
            gray dark: rgb(119, 119, 119) ou #777
            gray claire : rgb(240, 240, 240) ou #bfbfbf
            white claire : rgb(248, 248, 248) ou #ffffff
            black claire: rgba(0, 0, 0, 95%)
            black dark : #000000

        **/
        .navbar, .bg-grey {
            background: {{ themesColor['HEADER']['HEADER_FONT_COUL_1'].Color != null ? themesColor['HEADER']['HEADER_FONT_COUL_1'].Color : 'rgb(240, 240, 240)' }} !important;
            color: {{ themesColor['HEADER']['HEADER_TEXT_COUL_1'].Color != null ? themesColor['HEADER']['HEADER_TEXT_COUL_1'].Color : 'rgb(248, 248, 248)' }} !important;
        }
        .navbar-mega, .sidepanel, .bg-darkgray {
            background: {{ themesColor['HEADER']['HEADER_FONT_COUL_2'].Color != null ? themesColor['HEADER']['HEADER_FONT_COUL_2'].Color : '#777'}} !important;
            color: {{ themesColor['HEADER']['HEADER_TEXT_COUL_2'].Color != null ? themesColor['HEADER']['HEADER_TEXT_COUL_1'].Color : 'rgb(248, 248, 248)' }} !important;
        }

        button, .bg-warning, .icon-sondage, .triangle {
            background: {{ themes['BUTTON_FOND_COLOR'].colorFond != null ? themes['BUTTON_FOND_COLOR'].colorFond : 'rgb(255, 144, 0)' }} !important;
            color: {{ themes['BUTTON_TEXT_COLOR'].colorFond != null ? themes['BUTTON_TEXT_COLOR'].colorFond : ' rgb(248, 248, 248)' }} !important;
        }
        .triangle::after {
            border-color: transparent transparent {{ themes['BUTTON_FOND_COLOR'].colorFond != null ? themes['BUTTON_FOND_COLOR'].colorFond : 'rgb(255, 144, 0)' }} {{ themes['BUTTON_FOND_COLOR'].colorFond != null ? themes['BUTTON_FOND_COLOR'].colorFond : 'rgb(255, 144, 0)' }} !important;
        }

        .man-young-container .text-title {
            color: {{ themesColor['TEXT_TITLE']['TEXT_TITLE_COLOR_3'].Color != null ? themesColor['TEXT_TITLE']['TEXT_TITLE_COLOR_3'].Color : ' #ffc107' }} !important;
        }
        .man-young-container .text-desc {
            color: {{ themesColor['TEXT_DESCRIPTION']['TEXT_DESCRIPTION_COLOR_1'].Color != null ? themesColor['TEXT_DESCRIPTION']['TEXT_DESCRIPTION_COLOR_1'].Color : ' rgb(248, 248, 248)' }} !important;
        }
        .text-dark {
            color: {{ themesColor['TEXT_TITLE']['TEXT_TITLE_COLOR_2'].Color != null ? themesColor['TEXT_TITLE']['TEXT_TITLE_COLOR_2'].Color : ' #ffc107' }} !important;
        }
        p, .text-secondary {
            color: {{ themesColor['TEXT_DESCRIPTION']['TEXT_DESCRIPTION_COLOR_2'].Color != null ? themesColor['TEXT_DESCRIPTION']['TEXT_DESCRIPTION_COLOR_2'].Color : ' rgb(248, 248, 248)' }} !important;
        }
        .text-warning {
            color: {{ themesColor['TEXT_TITLE']['TEXT_TITLE_COLOR_3'].Color != null ? themesColor['TEXT_TITLE']['TEXT_TITLE_COLOR_3'].Color : ' #ffc107' }} !important;
        }
        .text-white {
            color: {{ themesColor['TEXT_TITLE']['TEXT_TITLE_COLOR_1'].Color != null ? themesColor['TEXT_TITLE']['TEXT_TITLE_COLOR_1'].Color : ' #ffffff' }} !important;
        }
        .page-header-image {
            background-blend-mode: overlay !important;
            background-color: {{ themes['BUTTON_FOND_COLOR'].colorFond != null ? themes['BUTTON_FOND_COLOR'].colorFond : 'rgba(255, 144, 0, 50%)' }} !important;
        }
        .section-footer {
            background-image: url(/uploads/themes/{{ themes['FOOTER'].imageFond != null ? themes['FOOTER'].imageFond : 'footer_bg.jpg'}}) !important;
            background-color: {{ themes['FOOTER'].colorFond != null ? themes['FOOTER'].colorFond : 'rgba(19, 19, 19, 95%)'}}) !important;
            background-blend-mode: overlay !important;
        }
    </style>

    {% endblock %}

    {% block body %}

    <div class="page-header page-header-image-gallery page-headers-pros">
        <div class="page-header-image animated pulse" data-parallax="true" style="background-image: url('/uploads/themes/{{ themes['SPACE_PRO'].imageFond != null ? themes['SPACE_PRO'].imageFond : 'slide-inscription.jpg' }}'); background-position: 0 50px !important;">
        </div>

        <!--Begin heder-menu pro space -->
        {% include "./pro/menu/header-menu.html.twig" %}
        <!-- End header-menu pro space -->

        <!-- Begin for row content header parallax -->
        <div class="row d-flex justify-content-center font-weight-light">
            <!-- ############# Begin slide beside -->
            <div class="col-12 col-md-8" style="padding-top: 1em;">
                <div class="container border-0">
                    <div class="w-100 d-flex flex-column pb-4 justify-content-center">
                        <div class="h4 text-white text-uppercase">
                            Bienvenu dans l'espace professionel
                        </div>
                    </div>
                </div>
            </div>
            <!-- ############# End slide beside -->
        </div>
    </div>
    <!--END HEADER-->


    <div class="jumbotron bg-transparent">
        <main class="section-1 section-main bg-white">
            <!--Begin section  of the list ads by artisan-->
            <section class="bg-transparent">
                <div class="container">
                    <div Class="row">

                        <!-- Begin menu top pro -->
                        {% include "./pro/menu/top-menu.html.twig" %}
                        <!-- End menu top pro -->

                        <!-- Begin menu left pro -->
                        {% include "./pro/menu/left-menu.html.twig" %}
                        <!-- End menu left pro-->

                        <div class="col-12 col-sm-8 pt-4">
                            <div class="container-content-pro-space-right">
							
                                <!--BEGIN MY CORDONNE-->
                                <div class="card text-center">
                                    <div class="card-header p-2 font-weight-bold bg-darkgray">
                                        <h5 class="text-uppercase">Modifiez votre zone de prescription</h5>
                                    </div>
                                    <div class="card-body">
										
                                        <!-- Modal body -->
                                        <div class="pt-2">
                                            <form id="form-zone-kilometer-update-pro">
                                               
                                                <div class="form-group mb-3">
                                                    <label class="">Dimenssion de prescription souhaitée (en Km)</label>
                                                    <input  id="myRange" type="range" min="1" max="100" value="{{ user.getKilometer() }}" class="slider">
                                                </div>
                                                <div class="form-group mb-3">
                                                   <div id="append-kilometer"><label>Distance à :</label><span  class="font-weight-bold"> {{ user.getKilometer() }} </span> Km</div>
                                                    <input id="zone_kilometer" type="hidden" value="{{ user.getKilometer() }}" name="zone_kilometer">
                                                </div>
                                               
                                                <a class="btn btn-warning btn-zone-kilometer-update-pro w-100"> Modifier </a>
                                                <!-- <button type="button" class="btn btn-annule btn-danger float-right" data-dismiss="modal">Annuler</button> -->
                                            </form>
                                        </div>
                                        <!-- Modal footer -->
										
                                    </div>
                                    <!-- <div class="card-footer text-muted pb-4"> -->
									 
                                    <!-- </div> -->
                                </div>
                                <!-- END MY CORDONNE -->

                                <!--BEGIN MY MAP EDIT-->
                                <div class="card">
                                    <div class="card-header bg-darkgray p-1 text-white text-uppercase"> <h6 class="card-title"><span class="lnr lnr-map-marker" style="font-size: 32px;"></span></span> &nbsp; Ma zone de prescription</h6></div>
                                    <div class="card-body p-0">
                                        <div class="row">
                                            <div class="col-12 h-100">
                                                <div id="container-map4">
                                                    <div id="map"></div>
                                                </div>
                                                <div class="d-block text-uppercase text-center pt-2">
                                                    <a href="" class="btn btn-warning text-decoration-none">Modifier ma zone géographique</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- END MY MAP EDIT -->

                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--End section  of the list ads by artisan-->
	
            <!--Begin section the Presse Talk US -->
            <section id="" class="bg-transparent">
            <div class="container  bg-white">
                <div class="row d-flex justify-content-center py-4">
                    <div class="col-12 text-center">
                        <h5 class="text-uppercase">Restez connecté</h5>
                        <div class="text-secondary small"><p class=" subtitle ">
                            Pour être certain de ne rater aucun chantier, téléchargez l’application mobile pour suivre les projets lorsque vous êtes en déplacement.
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 lg-8 text-center">
                        <img class="" src="{{ absolute_url('/assets/img/photos/app-mobile.png') }}"></img>
                    </div>
                    <div class="col-12 col-sm-6 lg-4 d-flex flex-column justify-content-center text-secondary">
                        <a class="btn btn-outline-secondary d-flex flex-row text-center align-items-center">
                            <span class="pro-icon mb-3">
                                <span class="icon-message-pro">
                                    <object type="image/svg+xml" data="{{ absolute_url('/assets/icon/apple_icon-icons.com_62745.svg') }}" class="icon-message-pro icon-bike">
                                        apple
                                    </object>
                                </span>
                            </span>
                            <span class="">
                                <span class="text-center ">Disponible sur <span/><br>
                                <span class="font-weight-capitalize">App Store<span/>
                            <span/>
                        </a>
                        <a class="btn btn-outline-secondary d-flex flex-row align-items-center">
                            <span class="pro-icon mb-3">
                                <span class="icon-message-pro">
                                    <object type="image/svg+xml" data="{{ absolute_url('/assets/icon/Google_Play_icon-icons.com_66988.svg') }}" class="icon-message-pro icon-bike">
                                        play
                                    </object>
                                </span>
                            </span>
                            <span class="text-center ">
                                <span class="">Disponible sur <span/><br>
                                <span class="font-weight-capitalize">Google Play<span/>
                            <span/>
                        </a>
                    </div>
                </div>
            </div>
            </section>
            <!--End section the Presse Talk US  -->

        </main>

        {% include "./pro/footer/footer.html.twig" %}

    </div>

{% endblock %}

{% block javascripts %}

<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>-->
<!-- MESSAGE NTIFICATION -->
<script src="{{ absolute_url('/assets/sweetalert2/dist/sweetalert2.all.min.js') }}"></script>
<script src="{{ absolute_url('/assets/sweetalert2/dist/sweetalert2.min.js') }}"></script>
<!--Local-->
<script src="{{ absolute_url('/assets/loadbar/js/loading-bar.js') }}"></script>
<script src="{{ absolute_url('/assets/js/core/jquery.min.js') }}"></script>
<script src="{{ absolute_url('/assets/js/core/bootstrap.min.js') }}"></script>
<script src="{{ absolute_url('/assets/js/now-ui-kit.min.js') }}"></script>
<script src="{{ absolute_url('/assets/js/core/popper.min.js') }}"></script>
<script src="{{ absolute_url('/assets/js/plugins/bootstrap-switch.js') }}"></script>
<script src="{{ absolute_url('/assets/js/plugins/nouislider.min.js') }}"></script>
<script src="{{ absolute_url('/assets/swiper/dist/js/swiper.min.js') }}"></script>
<script src="{{ absolute_url('/assets/select2-develop/dist/js/select2.full.min.js') }}"></script>
<script src="{{ absolute_url('/assets/select2-develop/dist/js/select2.min.js') }}"></script>
<script src="{{ absolute_url('/assets/js/app.js') }}"></script>
<script src="{{ absolute_url('/assets/js/map.js') }}"></script>
<script src="{{ absolute_url('/assets/js/pro.js') }}"></script>
<script src="{{ absolute_url('/assets/form-multistep/form-step.js') }}"></script>

{% endblock %}