	{% extends  'base.html.twig' %}

	{% block stylesheets %}

	<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />-->
	<script src="https://cdn.linearicons.com/free/1.0.0/svgembedder.min.js"></script>
	<link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
	<!-- CSS Files -->
	<link href="{{ absolute_url('/assets/sweetalert2/dist/sweetalert2.min.css') }}" rel="stylesheet" />
	<link href="{{ absolute_url('/assets/css/now-ui-kit.min.css') }}" rel="stylesheet" />
	<link href="{{ absolute_url('/assets/css/bootstrap.min.css') }}" rel="stylesheet" />
	<link href="{{ absolute_url('/animate/animate.min.css') }}" rel="stylesheet" />
	<link href="{{ absolute_url('/assets/loadbar/css/loading-bar.css') }}" rel="stylesheet" />
	<link href="{{ absolute_url('/assets/select2-develop/dist/css/select2.min.css') }}" rel="stylesheet" />
	<link href="{{ absolute_url('/assets/swiper/dist/css/swiper.min.css') }}" rel="stylesheet" />
	<link href="{{ absolute_url('/assets/form-multistep/form-step.css') }}" rel="stylesheet" />
	<link href="{{ absolute_url('/css/loading.css') }}" rel="stylesheet" />
	<link href="{{ absolute_url('/css/loading-btn.css') }}" rel="stylesheet" />
	<link href="{{ absolute_url('/css/style.css') }}" rel="stylesheet" />

	<style>
	/* Set the size of the div element that contains the map */
	#map1, #map2 {
		height: 400px;  /* The height is 400 pixels */
		width: 100%;  /* The width is the width of the web page */
	}
		/** CSS THEMES
			warning dark : rgb(255, 144, 0)
			warning claire : #ffc107
			gray dark: rgb(119, 119, 119) ou #777
			gray claire : rgb(240, 240, 240) ou #bfbfbf
			white claire : rgb(248, 248, 248) ou #ffffff
			black claire: rgba(0, 0, 0, 95%)
			black dark : #000000

		**/
		.navbar, .bg-grey {
			background: {{ themesColor['HEADER']['HEADER_FONT_COUL_1'].Color != null ? themesColor['HEADER']['HEADER_FONT_COUL_1'].Color : 'rgb(240, 240, 240)' }} !important;
			color: {{ themesColor['HEADER']['HEADER_TEXT_COUL_1'].Color != null ? themesColor['HEADER']['HEADER_TEXT_COUL_1'].Color : 'rgb(248, 248, 248)' }} !important;
		}
		.navbar-mega, .sidepanel, .bg-darkgray {
			background: {{ themesColor['HEADER']['HEADER_FONT_COUL_2'].Color != null ? themesColor['HEADER']['HEADER_FONT_COUL_2'].Color : '#777'}} !important;
			color: {{ themesColor['HEADER']['HEADER_TEXT_COUL_2'].Color != null ? themesColor['HEADER']['HEADER_TEXT_COUL_1'].Color : 'rgb(248, 248, 248)' }} !important;
		}

		button, .bg-warning, .icon-sondage, .triangle {
			background: {{ themes['BUTTON_FOND_COLOR'].colorFond != null ? themes['BUTTON_FOND_COLOR'].colorFond : 'rgb(255, 144, 0)' }} !important;
			color: {{ themes['BUTTON_TEXT_COLOR'].colorFond != null ? themes['BUTTON_TEXT_COLOR'].colorFond : ' rgb(248, 248, 248)' }} !important;
		}
		.triangle::after {
			border-color: transparent transparent {{ themes['BUTTON_FOND_COLOR'].colorFond != null ? themes['BUTTON_FOND_COLOR'].colorFond : 'rgb(255, 144, 0)' }} {{ themes['BUTTON_FOND_COLOR'].colorFond != null ? themes['BUTTON_FOND_COLOR'].colorFond : 'rgb(255, 144, 0)' }} !important;
		}

		.man-young-container .text-title {
			color: {{ themesColor['TEXT_TITLE']['TEXT_TITLE_COLOR_3'].Color != null ? themesColor['TEXT_TITLE']['TEXT_TITLE_COLOR_3'].Color : ' #ffc107' }} !important;
		}
		.man-young-container .text-desc {
			color: {{ themesColor['TEXT_DESCRIPTION']['TEXT_DESCRIPTION_COLOR_1'].Color != null ? themesColor['TEXT_DESCRIPTION']['TEXT_DESCRIPTION_COLOR_1'].Color : ' rgb(248, 248, 248)' }} !important;
		}
		.text-dark {
			color: {{ themesColor['TEXT_TITLE']['TEXT_TITLE_COLOR_2'].Color != null ? themesColor['TEXT_TITLE']['TEXT_TITLE_COLOR_2'].Color : ' #ffc107' }} !important;
		}
		p, .text-secondary {
			color: {{ themesColor['TEXT_DESCRIPTION']['TEXT_DESCRIPTION_COLOR_2'].Color != null ? themesColor['TEXT_DESCRIPTION']['TEXT_DESCRIPTION_COLOR_2'].Color : ' rgb(248, 248, 248)' }} !important;
		}
		.text-warning {
			color: {{ themesColor['TEXT_TITLE']['TEXT_TITLE_COLOR_3'].Color != null ? themesColor['TEXT_TITLE']['TEXT_TITLE_COLOR_3'].Color : ' #ffc107' }} !important;
		}
		.text-white {
			color: {{ themesColor['TEXT_TITLE']['TEXT_TITLE_COLOR_1'].Color != null ? themesColor['TEXT_TITLE']['TEXT_TITLE_COLOR_1'].Color : ' #ffffff' }} !important;
		}
		.page-header-image {
			background-blend-mode: overlay !important;
			background-color: {{ themes['BUTTON_FOND_COLOR'].colorFond != null ? themes['BUTTON_FOND_COLOR'].colorFond : 'rgba(255, 144, 0, 50%)' }} !important;
		}
		.section-footer {
			background-image: url(/uploads/themes/{{ themes['FOOTER'].imageFond != null ? themes['FOOTER'].imageFond : 'footer_bg.jpg'}}) !important;
			background-color: {{ themes['FOOTER'].colorFond != null ? themes['FOOTER'].colorFond : 'rgba(19, 19, 19, 95%)'}}) !important;
			background-blend-mode: overlay !important;
		}
	</style>

	{% endblock %}

	{% block body %}

	<div class="page-header page-header-image-gallery page-headers-pros">
		<div class="page-header-image animated pulse" data-parallax="true" style="background-image: url('/uploads/themes/{{ themes['SPACE_PRO'].imageFond != null ? themes['SPACE_PRO'].imageFond : 'slide-inscription.jpg' }}'); background-position: 0 50px !important;">
		</div>

		<!--Begin heder-menu pro space -->
		{% include "./pro/menu/header-menu.html.twig" %}
		<!-- End header-menu pro space -->

		<!-- Begin for row content header parallax -->
		<div class="row d-flex justify-content-center font-weight-light">
			<!-- ############# Begin slide beside -->
			<div class="col-12 col-md-8" style="padding-top: 1em;">
				<div class="container border-0">
					<div class="w-100 d-flex flex-column pb-4 justify-content-center">
						<div class="h4 text-white text-uppercase">
							Bienvenu dans l'espace professionel
						</div>
					</div>
				</div>
			</div>
			<!-- ############# End slide beside -->
		</div>
	</div>
	<!--END HEADER-->


	<div class="jumbotron bg-transparent">
		<main class="section-1 section-main bg-white">
			<!--Begin section  of the list ads by artisan-->
			<section class="bg-transparent">
				<div class="container">
					<div Class="row">

						<!-- Begin menu top pro -->
						{% include "./pro/menu/top-menu.html.twig" %}
						<!-- End menu top pro -->

						<!-- Begin menu left pro -->
						{% include "./pro/menu/left-menu.html.twig" %}
						<!-- End menu left pro-->

						<div class="col-12 col-sm-8 pt-4">
							<div class="container-content-pro-space-right">
								<!--BEGIN MY CORDONNE-->
								<div class="card text-center">
									<div class="card-header p-2 font-weight-bold bg-darkgray">
										<h5 class="text-uppercase">MES COORDONNÉES</h5>
									</div>
									<div class="card-body">
										<div class="row d-flex justify-content-center">
											<div class="col-12 col-md-10 text-secondary">
												<p class="small"><span class="font-weight-bold ">Nom: {{ user.getUsername() }} </span></p>
												<p class="small"><span class="font-weight-bold">Prénom: {{ user.getFirstname() }} </span></p>
												<p class="small"><span class="font-weight-bold">Téléphone: {{ user.getMobile() }} </span></p>
												<p class="small"><span class="font-weight-bold">E-mail: {{ user.getEmail() }} </span></p>
												<p class="small"><span class="font-weight-bold">Code postal: {{ user.getZipCode() }} </span></p>
												<p class="small"><span class="font-weight-bold">Adresse: {{ user.getUserCity().getVilleNomReel() }} </span></p>
												<p class="small"><span class="font-weight-bold">Mon société: {{ user.getCompanyName() }} </span></p>
												<p class="small"><span class="font-weight-bold">Date de création : {{ user.getDateCrea() | date('d/m/y H:m:s')}} </span></p>
											</div>
										</div>
									</div>
								    <div class="card-footer text-muted pb-4">
									 <a href="{{ path('pro_cordonation_edit') }}" class="btn-outline-secondary text-decoration-none text-secondary text-center" style="font-size: 28px !important; padding: 4px; font-weight: bold; border: 4px solid;border-radius: 4px;"><span class="lnr lnr-pencil text-warning" style="font-size: 28px; font-weight: bold;"></span></a>
								    </div>
								</div>
								<!-- END MY CORDONNE -->
								
								<!-- BEGIN DESRIPTION COMPANY-->
								<div class="card text-center">
									<div class="card-header p-2 font-weight-bold bg-darkgray">
										<h5 class="text-uppercase">DESCRIPTION DE MON ENTREPRISE</h5>
									</div>
									<div class="card-body">
										<div class="row">
											<div class="col-12">
												<div class="d-block"><h5 class="text-uppercase">MES DOCUMENTS OFFICIELS</h5></div>
												<div class="d-block pb-2">
													<p class="text-secondary small">
														Vous avez 2 fois plus de chance de signer un projet en important vos documents légaux !
													</p>
													<div class="d-flex flex-wrap pb-2 justify-content-center">
														
														{% if documents != null %}
															{% for document in documents %}
															<a class="m-2" href="{{ path('pro_download_file', {id: document.getName(), nameActually: document.getTitle()} )}}" title="{{ document.getTitle() }}">
																<img class="" src="{{ absolute_url('/uploads/logo/icon-pdf.jpg') }}" style="width: 50px ; height: 50px;" alt="pdf document" />
															</a>
															{% endfor %}
															{% else %}
															<span class="lnr lnr-file-empty text-secondary" style="font-size: 64px;" title="Kbis" alt="Kbis"></span>
															<span class="lnr lnr-file-empty text-secondary" style="font-size: 64px;" title="Kbis" alt="Kbis"></span>
															<span class="lnr lnr-file-empty text-secondary" style="font-size: 64px;" title="Kbis" alt="Kbis"></span>
															<span class="lnr lnr-file-empty text-secondary" style="font-size: 64px;" title="Kbis" alt="Kbis"></span>
															<span class="">	
																<a class="text-decoration-none" href="{{ path('pro_document_file_edit') }}"><span class="lnr lnr-file-add text-warning" style="font-size: 64px;" title="Kbis" alt="Kbis"></span></a>
															</span>
														{% endif %}

													</div>
												</div>
											</div>
											<div class="col-12">
												<div class="d-block"><h5 class="text-uppercase">MES LABELS QUALITÉ</h5></div>
												<div class="d-block pb-2">
													<p class="text-secondary small">
														Gagnez en visibilité et en crédibilité en important vos labels qualité !
													</p>
													<div class="d-flex flex-wrap justify-content-center">
														
														{% if labels != null %}
															{% for label in labels %}
															<a class="m-2" href="{{ path('pro_download_file', {id: label.getName()} )}}" title="{{ label.getTitle() }}">
																<img class="" src="{{ absolute_url('/uploads/profil/' ~ label.getName()) }}" style="width: 65px ; height: 65px;" alt="pdf document" />
															</a>
															{% endfor %}
															{% else %}
															<span class="lnr lnr-license text-secondary m-1" style="font-size: 64px;" title="Kbis" alt="Kbis"></span>
															<span class="lnr lnr-license text-secondary m-1" style="font-size: 64px;" title="Kbis" alt="Kbis"></span>
															<span class="lnr lnr-license text-secondary m-1" style="font-size: 64px;" title="Kbis" alt="Kbis"></span>
															<span class="lnr lnr-license text-secondary m-1" style="font-size: 64px;" title="Kbis" alt="Kbis"></span>
															
															<a href="{{ path('pro_document_file_edit') }}">
																<span class="lnr lnr-file-add text-warning m-1" style="font-size: 64px;" title="Kbis" alt="Kbis"></span>
															</a>
														{% endif %}
														
													</div>
												</div> 
											</div>
										</div>
									</div>
								    <div class="card-footer text-muted pb-4">
									 <a href="{{ path('pro_document_file_edit') }}" class="btn-outline-secondary text-text-decoration-none text-secondary text-center" style="font-size: 28px !important; padding: 4px; font-weight: bold; border: 4px solid;border-radius: 4px;"><span class="lnr lnr-pencil text-warning" style="font-size: 28px; font-weight: bold;"></span></a>
								    </div>
								</div>
								<!-- END DESRIPTION COMPANY -->
								
								<!-- BEGIN CHANTIERS RÉALISÉS IMAGES-->
								<div class="card text-center">
									<div class="card-header p-2 font-weight-bold bg-darkgray">
										<h5 class="text-uppercase">IMAGES CHANTIERS RÉALISÉS</h5>
									</div>
									<div class="card-body">
										<p class="text-secondary small">
											Gagnez en visibilité et en crédibilité en important vos images des chantiers réalisés !
										</p>
										
										<div class="row text-center text-lg-left">
											
											{% if images != null %}
												{% for image in images %}
													<div class="col-lg-3 col-md-4 col-6 p-1">
														<a href="#" class="d-block mb-4 h-100">
															<img class="img-fluid img-thumbnail" src="{{ absolute_url('/uploads/images/' ~ image.getName) }}" title="{{ image.getArticleTitle().getArticleTitle() }}" alt="">
														</a>
													</div>
												{% endfor %}
											{% endif %}
											
										</div>

									</div>
								    <div class="card-footer text-muted pb-4">
									 <a href="{{ path('pro_image_realize_edit') }}" class="btn-outline-secondary text-secondary text-center" style="font-size: 28px !important; padding: 4px; font-weight: bold; border: 4px solid;border-radius: 4px;"><span class="lnr lnr-pencil text-warning" style="font-size: 28px; font-weight: bold;"></span></a>
								    </div>
								</div>
								<!-- END CHANTIERS RÉALISÉS IMAGES -->
								
								<!-- BEGIN BEGIN CHANTIERS RÉALISÉS VIDEOS-->
								<div class="card text-center">
									<div class="card-header p-2 font-weight-bold bg-darkgray">
										<h5 class="text-uppercase">VIDEOS CHANTIERS RÉALISÉS</h5>
									</div>
									<div class="card-body">
										<p class="text-secondary small">
											Gagnez en visibilité et en crédibilité en important vos videos des chantiers réalisés!
										</p>
										{% if videos|length > 0 %}
										<div class="row text-center pt-2">
											
											{% for video in videos %}
												<div class="col-lg-3 col-md-4 col-6 p-1">
													<div class="embed-responsive embed-responsive-16by9">
													<iframe class="embed-responsive-item" width="300" height="300" src=" {{video.getName}}" allowfullscreen></iframe>
													</div>
													<p class="">{{ video.getArticleTitle().getArticleTitle() }}</p>
												</div>
											{% endfor %}
										</div>
										{% else %}
										<div class="d-flex flex-wrap justify-content-center">
											<span class="lnr lnr-film-play text-secondary m-1" style="font-size: 64px;" title="Kbis" alt="Kbis"></span>
											<span class="lnr lnr-film-play text-secondary m-1" style="font-size: 64px;" title="Kbis" alt="Kbis"></span>
											<span class="lnr lnr-film-play text-secondary m-1" style="font-size: 64px;" title="Kbis" alt="Kbis"></span>
											<span class="lnr lnr-film-play text-secondary m-1" style="font-size: 64px;" title="Kbis" alt="Kbis"></span>
											<span class="lnr lnr-file-add text-warning m-1" style="font-size: 64px;" title="Kbis" alt="Kbis"></span>
										</div>
										{% endif %}
									</div>
								    <div class="card-footer text-muted pb-4">
									 <a href="{{ path('pro_video_realize_edit') }}" class="btn-outline-secondary text-decoration-none text-secondary text-center" style="font-size: 28px !important; padding: 4px; font-weight: bold; border: 4px solid;border-radius: 4px;"><span class="lnr lnr-pencil text-warning" style="font-size: 28px; font-weight: bold;"></span></a>
								    </div>
								</div>
								<!-- END BEGIN CHANTIERS RÉALISÉS VIDEOS -->
								
								<div class="card">
									<div class="card-header bg-darkgray p-1 text-white text-uppercase"> <h6 class="card-title"><span class="lnr lnr-map-marker" style="font-size: 32px;"></span></span> &nbsp; Ma zone géographique</h6></div>
									<div class="card-body">
										<div class="row">
											<div class="col-12 h-100">
												<div id="map">
												</div>
												<div class="d-block text-uppercase text-center pt-2">
													<a href="{{ path('pro_geolocation_map_edit') }}" class="btn btn-warning text-decoration-none">Modifier ma zone géographique</a>
												</div>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</section>
			<!--End section  of the list ads by artisan-->
	
			<!--Begin section the Presse Talk US -->
			<section id="" class="bg-transparent">
			<div class="container  bg-white">
				<div class="row d-flex justify-content-center py-4">
					<div class="col-12 text-center">
						<h5 class="text-uppercase">Restez connecté</h5>
						<div class="text-secondary small"><p class=" subtitle ">
							Pour être certain de ne rater aucun chantier, téléchargez l’application mobile pour suivre les projets lorsque vous êtes en déplacement.
						</div>
					</div>
					<div class="col-12 col-sm-6 lg-8 text-center">
						<img class="" src="{{ absolute_url('/assets/img/photos/app-mobile.png') }}"></img>
					</div>
					<div class="col-12 col-sm-6 lg-4 d-flex flex-column justify-content-center text-secondary">
						<a class="btn btn-outline-secondary d-flex flex-row text-center align-items-center">
							<span class="pro-icon mb-3">
								<span class="icon-message-pro">
									<object type="image/svg+xml" data="{{ absolute_url('/assets/icon/apple_icon-icons.com_62745.svg') }}" class="icon-message-pro icon-bike">
										apple
									</object>
								</span>
							</span>
							<span class="">
								<span class="text-center ">Disponible sur <span/><br>
								<span class="font-weight-capitalize">App Store<span/>
							<span/>
						</a>
						<a class="btn btn-outline-secondary d-flex flex-row align-items-center">
							<span class="pro-icon mb-3">
								<span class="icon-message-pro">
									<object type="image/svg+xml" data="{{ absolute_url('/assets/icon/Google_Play_icon-icons.com_66988.svg') }}" class="icon-message-pro icon-bike">
										play
									</object>
								</span>
							</span>
							<span class="text-center ">
								<span class="">Disponible sur <span/><br>
								<span class="font-weight-capitalize">Google Play<span/>
							<span/>
						</a>
					</div>
				</div>
			</div>
			</section>
			<!--End section the Presse Talk US  -->

		</main>

		{% include "./pro/footer/footer.html.twig" %}

	</div>

{% endblock %}

{% block javascripts %}

<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>-->
<!-- MESSAGE NTIFICATION -->
<script src="{{ absolute_url('/assets/sweetalert2/dist/sweetalert2.all.min.js') }}"></script>
<script src="{{ absolute_url('/assets/sweetalert2/dist/sweetalert2.min.js') }}"></script>
<!--Local-->
<script src="{{ absolute_url('/assets/loadbar/js/loading-bar.js') }}"></script>
<script src="{{ absolute_url('/assets/js/core/jquery.min.js') }}"></script>
<script src="{{ absolute_url('/assets/js/core/bootstrap.min.js') }}"></script>
<script src="{{ absolute_url('/assets/js/now-ui-kit.min.js') }}"></script>
<script src="{{ absolute_url('/assets/js/core/popper.min.js') }}"></script>
<script src="{{ absolute_url('/assets/js/plugins/bootstrap-switch.js') }}"></script>
<script src="{{ absolute_url('/assets/js/plugins/nouislider.min.js') }}"></script>
<script src="{{ absolute_url('/assets/swiper/dist/js/swiper.min.js') }}"></script>
<script src="{{ absolute_url('/assets/select2-develop/dist/js/select2.full.min.js') }}"></script>
<script src="{{ absolute_url('/assets/select2-develop/dist/js/select2.min.js') }}"></script>
<script src="{{ absolute_url('/assets/js/app.js') }}"></script>
<script src="{{ absolute_url('/assets/js/pro.js') }}"></script>
<script src="{{ absolute_url('/assets/file-upload/myfile.js') }}"></script>

{% endblock %}