{% extends 'base.html.twig' %}

{% block title %}Fonction{% endblock %}

{% block body %}
    <table class="table">
        <tbody>
            <tr>
                <th>#</th>
                <td>{{ fonction.id }}</td>
            </tr>
            <tr>
                <th>Fonction</th>
                <td>{{ fonction.fonctionName }}</td>
            </tr>
            <tr>
                <th>Date de création</th>
                <td>{{ fonction.dateCrea ? fonction.dateCrea|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('fonction_index') }}">back to list</a>

    <a href="{{ path('fonction_edit', {'id': fonction.id}) }}">edit</a>

    {{ include('fonction/_delete_form.html.twig') }}
{% endblock %}
