
{% extends  'base.html.twig' %}

{% block stylesheets %}

  <title>Orange-Travaux ( Admin )</title>

  <!-- Custom fonts for this template-->
    <link href="{{ absolute_url('/assets/vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" />

  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

	<!-- Custom styles for this template-->
    <link href="{{ absolute_url('/assets/css/sb-admin-2.min.css') }}" rel="stylesheet" />

	
	<link href="{{ absolute_url('/assets/vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet">
	
  <style>
      .card-header {
          background-color: #fcd42f4a;
      }
      #wrapper{
       background-color:#ececec;
      }
      
      
	    
		@media screen  and  (max-width: 680px){
			
			#sidebarToggleTop{
				display: block;
			}
			
			.row_menu {
				display: block;
				position: relative;    
				visibility: visible;
			}
			
			.icon_menu {
				font-size: 3em;
			}
			.menu_nav {
				display: none;	
				color: #fff;					
				background-color: RGBa(29, 197, 151, 0.97);	
				
				
				text-align: center;
				padding: 12px 0;
			}
			.card-body {
				font-size: 95%;
			}
			
			div {
				font-size: 95%;
			}
			
			.img_logo{
				height: 15px;			
			}
			
			.head_title{
				font-size: 15px;			
			}
			
		}
		
		@media screen  and  (min-width: 680px){
			.row_menu {
				display: none;
			}
			
			#sidebarToggleTop{
				display: none;
			}
			
			.sticky-footer {
				display: none;
			}
		}
	  
    </style>
    
{% endblock %}

{% block body %}


<body id="page-top">

	<!--Begin head_bar api_admin space -->
	{% include "./admin/api_admin/head_bar.html.twig" %}
	<!--End head_bar api_admin space -->

  <!-- Page Wrapper -->
  <div id="wrapper" >

	<!--Begin nav_bar api_admin space -->
	{% include "./admin/api_admin/nav_bar.html.twig" %}
	<!--End nav_bar api_admin space -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" style="background-color:#ececec"; class="mt-5 d-flex flex-column">
	</br>

      <!-- Main Content -->
      <div id="content">
	  
        <!-- Begin Page Content -->
        <div class="container-fluid">

		  <!-- Divider -->
		  <hr class="sidebar-divider">

          <!-- Content Row -->
          <div class="row">

		<!-- Content Column -->      	

	  {% if abonnements != null %}							
		{% for lst in abonnements %}
	
			<!-- Modal suppression Abonnement -->
			<div class="modal fade" id="myModal_sup_abonnement_{{ lst.getId() }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">									
							<h4 class="modal-title" id="myModalLabel">
							Confirmer la suppression: [Abonnement]
							</h4>
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
							</button>
						</div>
						<div class="modal-body">
							<span class="font-weight-bold " >ID:</span>{{ lst.getId() }}</br>
							<span class="font-weight-bold " >Client (Nom - Email):</span>
								</br>{{ lst.getCustomerId().getName() }}
								</br> {{ lst.getCustomerId().getEmail() }}</br>
								
							<span class="font-weight-bold " >Date de payement:</span>{{ lst.getDatePayement() | date('d/m/y H:m:s') }}</br>
							<span class="font-weight-bold " >Date d'exipartion:</span>{{ lst.getDateExpire() | date('d/m/y H:m:s')  }}
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
							data-dismiss="modal">
								NON
							</button>
							
							<a href="{{ path('delete_abonnement', {id: lst.id}) }}" class="text-reset">
								<button type="button" class=" btn btn-success">
									OUI
								</button>
							</a>
						</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- end /.modal suppression Abonnement -->

			{% endfor %}
		{% else %}
			<li class="text-center"><li>                                     
		{% endif %}	
								
            <!-- DataTales Example -->
            <div class="col-12 mb-12">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Listes des Abonner :</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                        <table class="table table-bordered display" id="" width="100%" cellspacing="0">
                            <thead class="bg-warning text-dark">
                            <tr>
                                <th>#</th>
                                <th>Client (Nom - Email)</th>
                                <th>Service</th>
                                <th>Date de payement</th>
								                <th>Date d'expiration</th>
                                <th>Action</th>
								
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>   
								                <th>#</th>
                                <th>Client (Nom - Email)</th>
                                <th>Service</th>
                                <th>Date de payement</th>
								                <th>Date d'expiration</th>
                                <th>Action</th>
                            </tr>
                            </tfoot>
                            <tbody class="text-center">
                                      
                                {% for lst in abonnements %}
                                    <tr>
                                        <td>{{ lst.id }}</td>
                                        <td>{{ lst.getCustomerId().getName() }} </br> {{ lst.getCustomerId().getEmail() }}</br></td>
                                        <td>{{ lst.getCustomerId().getName() }} </br> {{ lst.getCustomerId().getEmail() }}</br></td>
                                        <td>{{ lst.datePayement ? lst.datePayement|date('Y-m-d H:i:s') : '' }}</td>
                                        <td>{{ lst.dateExpire ? lst.dateExpire|date('Y-m-d H:i:s') : '' }}</td>
                                        <td>
                                            <button class="btn btn-danger" data-toggle="modal" data-target="#myModal_sup_abonnement_{{ lst.getId() }}" type="button" title="Supprimer"><i class="fa fa-times"></i>
                                            </button>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="4">AUCUN RESULTAT!</td>
                                    </tr>
                                {% endfor %}
                                                                        
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
            </div>

        
          </div>


        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->


    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>


</br></br></br>
		<footer class="" style="position: fixed;z-index: 1;bottom: 0;">
				<div class="">								
				  <!-- Scroll to Top Button-->
				  <a href="/admin/">
					  <div class="btn-circle btn-secondary" style="z-index: 2;display: inline;">
						<i class="fas fa-home">Menu</i>
					  </div>				  
				  </a>
				</div>
			</footer>

</body>
	{% endblock %}

	{% block javascripts %}

  <!-- Bootstrap core JavaScript-->
  <script src="{{ absolute_url('/assets/vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ absolute_url('/assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{{ absolute_url('/assets/vendor/jquery-easing/jquery.easing.min.js') }}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{{ absolute_url('/assets/js/sb-admin-2.min.js') }}"></script>



  <!-- Page level plugins -->
  <script src="{{ absolute_url('/assets/vendor/datatables/jquery.dataTables.min.js') }}"></script>
  <script src="{{ absolute_url('/assets/vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>
  
	
	<script>
	
		$('.nav-item').removeClass('active');
		$('.nav_abonnement').addClass('active');
		

		$(document).ready(function() {
			$('table.display').DataTable();
		} );

	</script>


	{% endblock %}