<<<<<<< HEAD

{% extends  'base.html.twig' %}

{% block stylesheets %}

  <title>Orange-Travaux ( Admin )</title>

  <!-- Custom fonts for this template-->
    <link href="{{ absolute_url('/assets/vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" />

  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
    <link href="{{ absolute_url('/assets/css/sb-admin-2.min.css') }}" rel="stylesheet" />

  <style>
      .card-header {
          background-color: #fcd42f4a;
      }
      #wrapper{
        background-color: #777;
      }
    </style>
    
		
{% endblock %}

{% block body %}


<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper" style="background-color: #777">

	<!--Begin nav_bar api_admin space -->
	{% include "./admin/api_admin/nav_bar.html.twig" %}
	<!--End nav_bar api_admin space -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" style="background-color:#ececec"; class="d-flex flex-column">


      <!-- Main Content -->
      <div id="content">
	  
		<!--Begin head_bar api_admin space -->
		{% include "./admin/api_admin/head_bar.html.twig" %}
		<!--End head_bar api_admin space -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

		  <!-- Divider -->
		  Particulier :
		  <hr class="sidebar-divider">

          <!-- Content Row -->
          <div class="row">

            <!-- Earnings (Monthly) Card Example -->

            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="h5 mb-0 font-weight-bold text-gray-800">Nombres de Visiteurs</div>                                   
                    </div>

                    <div class="col-auto">
                      <i class="fa fa-5x fa-eye text-gray-300"></i>
                    </div>
                    </br>
                    
                    <div class="row no-gutters align-items-center">             
                      <div class="col mr-2 text-xs text-warning text-uppercase mb-1"></div>           
                      <div class="col mr-2 h1 font-weight-bold text-warning text-uppercase mb-1"></div>
                    </div>        
                    
                    <div class="row no-gutters align-items-center">                        
                      <div class="col mr-2 text-xs text-warning text-uppercase mb-1">TOTALE</div>
                      <div class="col mr-2 h1 font-weight-bold text-warning text-uppercase mb-1">---</div>
                    </div>        

                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="h5 mb-0 font-weight-bold text-gray-800">Demandes de devis envoyer</div>      
                    </div>
                    
					<a class="col nav-link btn" href="dem_devis">
                      <i class="fas fa-envelope fa-5x text-gray-300"></i>
                    </a>
                    </br>

                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2 text-xs text-success text-uppercase mb-1"></div>           
                      <div class="col mr-2 h1 font-weight-bold  text-success text-uppercase mb-1"> </div>
                    </div>        
                    
                    <div class="row no-gutters align-items-center">                        
                      <div class="col mr-2 text-xs  text-success text-uppercase mb-1">TOTALE</div>
                      <div class="col mr-2 h1 font-weight-bold  text-success text-uppercase mb-1">{{numberDevis}}</div>
                    </div>   
                    
                  </div>
                </div>
              </div>
            </div>

            
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="h5 mb-0 font-weight-bold text-gray-800">Nombre de Professionnels Inscript</div>                      
                    </div>
					<a class="col nav-link btn" href="lst_in_pro">
						  <i class="fas fa fa-5x  fa-users  fa-2x text-gray-300"></i>
						</a>
						

                    <div class="row no-gutters align-items-center">                        
                      <div class="col mr-2 text-xs text-info  text-uppercase mb-1">TOTALE</div>
                      <div class="col mr-2 h1 font-weight-bold  text-info s text-uppercase mb-1">{{numberPro}}</div>
                    </div>                                           
                  </div>
                </div>
              </div>
            </div>
            
            
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-secondary  shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="h5 mb-0 font-weight-bold text-gray-800">Nombre de projets postulés par les client</div>      
                      </div>
					  <a class="col nav-link btn" href="dem_devis">
                        <i class="fas fa-envelope fa-5x text-gray-300"></i>
                      </a>
                      </br>  
                      
                      <div class="row no-gutters align-items-center">                        
                        <div class="col mr-2 text-xs  text-secondary  text-uppercase mb-1">TOTALE // table poste</div>
                        <div class="col mr-2 h1 font-weight-bold  text-secondary  text-uppercase mb-1">{{numberAbon}}</div>
                      </div>   
                      
                    </div>
                  </div>
                </div>
              </div>
  
          </div>
		  
		  
		  <!-- Divider -->
		  Activiter :
		  <hr class="sidebar-divider">
		  
          <!-- Content Row -->
          <div class="row">
		  
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-danger shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="h5 mb-0 font-weight-bold text-gray-800">Type</div>      
                    </div>
                    
					<a class="col nav-link btn" href="#">
                    </a>
                    </br>

                    <div class="row no-gutters align-items-center">             
                      <div class="col mr-2 text-xs text-danger text-uppercase mb-1"></div>           
                      <div class="col mr-2 h1 font-weight-bold  text-danger text-uppercase mb-1"> </div>
                    </div>        
                    
                    <div class="row no-gutters align-items-center">                        
                      <div class="col mr-2 text-xs  text-warning text-uppercase mb-1">TOTALE</div>
                      <div class="col mr-2 h1 font-weight-bold  text-danger text-uppercase mb-1">{{numberType}}</div>
                    </div>   
                    
                  </div>
                </div>
              </div>
            </div>
            
			
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="h5 mb-0 font-weight-bold text-gray-800">Article</div>      
                    </div>
                    
					          <a class="col nav-link btn" href="#"></a>
                    </br>

                    <div class="row no-gutters align-items-center">             
                      <div class="col mr-2 text-xs text-primary text-uppercase mb-1"></div>           
                      <div class="col mr-2 h1 font-weight-bold  text-primary text-uppercase mb-1"> </div>
                    </div>        
                    
                    <div class="row no-gutters align-items-center">                        
                      <div class="col mr-2 text-xs  text-primary text-uppercase mb-1">TOTALE</div>
                      <div class="col mr-2 h1 font-weight-bold  text-primary text-uppercase mb-1">{{numberArt}}</div>
                    </div>   
                    
                  </div>
                </div>
              </div>
            </div>
            
			
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="h5 mb-0 font-weight-bold text-gray-800">Catégorie</div>      
                    </div>
                    
					<a class="col nav-link btn" href="#">
                    </a>
                    </br>

                    <div class="row no-gutters align-items-center">             
                      <div class="col mr-2 text-xs text-success text-uppercase mb-1"></div>           
                      <div class="col mr-2 h1 font-weight-bold  text-success text-uppercase mb-1"> </div>
                    </div>        
                    
                    <div class="row no-gutters align-items-center">                        
                      <div class="col mr-2 text-xs  text-success text-uppercase mb-1">TOTALE</div>
                      <div class="col mr-2 h1 font-weight-bold  text-success text-uppercase mb-1">{{numberCat}}</div>
                    </div>   
                    
                  </div>
                </div>
              </div>
            </div>
            
			
          </div>

          <!-- Content Row -->
          <div class="row">

              <!-- Content Column -->
              <div class="col-lg-6 mb-4">
  
                <!-- Project Card Example -->
                <div class="card shadow mb-4">
                  <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Top 5 des activitées</h6>
                    
                  </div>
                  <div class="card-body">                  
                    <h4 class="small font-weight-bold">Plomberie-Sanitaire : 
                      <span class="float-right">                        
                        <a href="#" class="btn btn-primary btn-circle">
                          <i class="fab">60%</i>
                        </a>
                      </span>
                      
                      <span>
                        <a href="#" class="btn btn-primary btn-circle">
                          <i class="fab">60</i>
                        </a>
                      </span>
                    </h4>
                   
                    <div class="progress mb-4">
                      <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    
                    <h4 class="small font-weight-bold">Chauffe eau :
                      <span class="float-right">                        
                        <a href="#" class="btn btn-warning btn-circle">
                          <i class="fab">40%</i>
                        </a>
                      </span>
                      
                      <span>
                        <a href="#" class="btn btn-warning btn-circle">
                          <i class="fab">40</i>
                        </a>
                      </span>                      
                    </h4>
                    <div class="progress mb-4">
                      <div class="progress-bar bg-warning" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>

                    <h4 class="small font-weight-bold">Chaudiere : <span class="float-right"></span>
                     <span class="float-right">                        
                        <a href="#" class="btn btn-danger btn-circle">
                          <i class="fab">20%</i>
                        </a>
                      </span>
                      
                      <span>
                        <a href="#" class="btn btn-danger btn-circle">
                          <i class="fab">20</i>
                        </a>
                      </span>
                    </h4>
                    <div class="progress mb-4">
                      <div class="progress-bar bg-danger" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>

                                    
                  </div>
                </div>
  
              </div>
				  
				  <div class="col-lg-6 mb-4">
	  
					<!-- Illustrations -->
					<div class="card shadow mb-4">
					  <div class="card-header py-3">
						<h6 class="m-0 font-weight-bold text-primary">Menu</h6>
					  </div>
					  <div class="card-body">
					  
						<!-- Color System -->
					<div class="row">
					  <div class="col-lg-3 mb-3">
						<div class="card bg-primary text-white shadow">
						  <div class="card-body">                      
							<a href="config_site" class="text-white">
								<i class="fas  fa-fw   fa-cog fa-5x "></i>
							</a><hr>
							<div class="text-white-50 small">Configuration du site </div>
						  </div>
						</div>
					  </div>
					  <div class="col-lg-3 mb-3">
						<div class="card bg-success text-white shadow">
						  <div class="card-body">                        
							<a href="dem_devis" class="text-white">
								<i class="fa  fa-5x fa-fw fa-envelope"></i>
							</a><hr>
							<div class="text-white-50 small"> Demande devis </div>
						  </div>
						</div>
					  </div>
					  <div class="col-lg-3 mb-3">
						<div class="card bg-info text-white shadow">
						  <div class="card-body">
										  
							<a href="lst_in_pro" class="text-white">
								<i class="fa  fa-5x fa-fw fa-list-ol"></i>
							</a><hr>
								<div class="text-white-50 small">Professionnels</div>
						  </div>
						</div>
					  </div>
					  <div class="col-lg-3 mb-3">
						<div class="card bg-warning text-white shadow">
						  <div class="card-body">					  
							<a href="m_e_email" class="text-white">
								<i class="fa  fa-5x fa-fw fa-check-square"></i>
							</a><hr>
								<div class="text-white-50 small">Modes d’envoi d’email</div>
						  </div>
						</div>
					  </div>
					  <div class="col-lg-3 mb-3">
						<div class="card bg-danger text-white shadow">
						  <div class="card-body">
								<a href="trans" class="text-white">
									<i class="fab  fa-5x fa-fw fa-think-peaks"></i>
								</a><hr>
								<div class="text-white-50 small">Transaction</div>
						  </div>
						</div>
					  </div>                  
					  <div class="col-lg-3 mb-3">
						<div class="card bg-white  shadow">
							<div class="card-body" > 
							  <a href="client" class="text-dark">
								<i class="fa  fa-5x fa-fw fa-user-friends"></i>
							  </a><hr>
								<div class="text-dark-50 small">Client</div>
							</div>						
						</div>
					  </div>
					  <div class="col-lg-3 mb-3">
						<div class="card text-white shadow" style="background-color: deeppink;">
							<div class="card-body" > 
							  <a href="abonnement" class="text-white">
								<i class="fas  fa-5x fa-fw fa-bread-slice"></i>
							  </a><hr>
								<div class="text-white-50 small">Abonnement</div>
							</div>						
						</div>
					  </div>
					  
					  
					  <div class="col-lg-3 mb-3">
						<div class="card  text-dark shadow" style="background-color: yellow;">
							<div class="card-body" > 
							  <a href="service" class="text-dark">
								<i class="fab  fa-5x fa-fw fa-servicestack"></i>
							  </a><hr>
								<div class="text-dark-50 small">Service</div>
							</div>						
						</div>
					  </div>

					  <div class="col-lg-3 mb-3">
						<div class="card bg-secondary text-white shadow">
							<div class="card-body" > 
							  <a href="objet_devis" class="text-white">
								<i class=" fa-5x fas fa-fw fa-th"></i>
							  </a><hr>
								<div class="text-white-50 small">Objet Devis</div>
							</div>						
						</div>
					  </div>
					</div>
					  
					  </div>
					</div>
					
				  </div>


            <!-- Pie Chart -->
            <div class="col-xl-4 col-lg-5">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Revenue Sources</h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                      <div class="dropdown-header">Dropdown Header:</div>
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-pie pt-4 pb-2">
                    <canvas id="myPieChart"></canvas>
                  </div>
                  <div class="mt-4 text-center small">
                    <span class="mr-2">
                      <i class="fas fa-circle text-primary"></i> Direct
                    </span>
                    <span class="mr-2">
                      <i class="fas fa-circle text-success"></i> Social
                    </span>
                    <span class="mr-2">
                      <i class="fas fa-circle text-info"></i> Referral
                    </span>
					
                    <span class="mr-2">
                      <i class="fas fa-circle text-info"></i> Referral
                    </span>
					
                    <span class="mr-2">
                      <i class="fas fa-circle text-info"></i> Referral
                    </span>
					
                    <span class="mr-2">
                      <i class="fas fa-circle text-info"></i> Referral
                    </span>
					
                    <span class="mr-2">
                      <i class="fas fa-circle text-info"></i> Referral
                    </span>
                  </div>
                </div>
              </div>
            </div>
              <div class="card shadow mb-4">
                  <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Bar Chart</h6>
                  </div>
                  <div class="card-body">
                    <div class="chart-bar"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                      <canvas id="myBarChart" width="824" height="320" class="chartjs-render-monitor" style="display: block; width: 824px; height: 320px;"></canvas>
                    </div>
                    <hr>
                    Styling for the bar chart can be found in the <code>/js/demo/chart-bar-demo.js</code> file.
                  </div>
                </div>
            </div>
  
          <!-- Content Row -->

          <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-8 col-lg-7">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Earnings Overview</h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                      <div class="dropdown-header">Dropdown Header:</div>
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-area">
                    <canvas id="myAreaChart"></canvas>
                  </div>
                </div>
              </div>
            </div>
			
			
			

          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

		<!--Begin foot_bar api_admin space -->
		{% include "./admin/api_admin/foot_bar.html.twig" %}
		<!--End foot_bar api_admin space -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

</body>
	{% endblock %}

	{% block javascripts %}

  <!-- Bootstrap core JavaScript-->
  <script src="{{ absolute_url('/assets/vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ absolute_url('/assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{{ absolute_url('/assets/vendor/jquery-easing/jquery.easing.min.js') }}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{{ absolute_url('/assets/js/sb-admin-2.min.js') }}"></script>

  <!-- Page level plugins -->
  <script src="{{ absolute_url('/assets/vendor/chart.js/Chart.min.js') }}"></script>

  <!-- Page level custom scripts -->
  <script src="{{ absolute_url('/assets/js/demo/chart-area-demo.js') }}"></script>
  <script src="{{ absolute_url('/assets/js/demo/chart-pie-demo.js') }}"></script>
  <script src="{{ absolute_url('/assets/js/demo/chart-bar-demo.js') }}"></script>
  
	{% endblock %}
=======
{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'E:/PROJET-JAOD-AJOUM/orange-travaux/src/Controller/AdminController.php'|file_link(0) }}">src/Controller/AdminController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'E:/PROJET-JAOD-AJOUM/orange-travaux/templates/admin/index.html.twig'|file_link(0) }}">templates/admin/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
>>>>>>> e7df38c4d71ea2b1d454979bebf544300dc2f9c7
