
{% extends  'base.html.twig' %}

{% block stylesheets %}

  <title>Orange-Travaux ( Admin )</title>

  <!-- Custom fonts for this template-->
    <link href="{{ absolute_url('/assets/vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" />

  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    
	<script src="{{ absolute_url('/assets/sweetalert2/dist/sweetalert2.all.min.js') }}"></script>
  	<script src="{{ absolute_url('/assets/sweetalert2/dist/sweetalert2.min.js') }}"></script>

  <!-- Custom styles for this template-->
    <link href="{{ absolute_url('/assets/css/sb-admin-2.min.css') }}" rel="stylesheet" />

  <style>
    .card-header {
        background-color: #fcd42f4a;
    }
    #wrapper{
       background-color:#ececec;
    }
    
    .btn-success-1 {
        color: #fff;
        background-color: #1ae6592e;
        border-color: #1ae6592e;
        
    }
    .btn-info-1 {
        color: #fff;
        background-color: #36d0d069;
        border-color: #36d0d069;
    }
    .btn-secondary-1 {
        color: #fff;
        background-color: #8587962e;
        border-color: #8587962e;
    }
    .link-1{
        cursor: pointer;
    }
/* width */
	::-webkit-scrollbar {
	  width: 10px;
	}

	/* Track */
	::-webkit-scrollbar-track {
	  background: #f1f1f1; 
	}
	 
	/* Handle */
	::-webkit-scrollbar-thumb {
	  background: #888; 
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
	  background: #555; 
	}
	    
		@media screen  and  (max-width: 680px){
			
			#sidebarToggleTop{
				display: block;
			}
			
			.row_menu {
				display: block;
				position: relative;    
				visibility: visible;
			}
			
			.icon_menu {
				font-size: 3em;
			}
			.menu_nav {
				display: none;	
				color: #fff;					
				background-color: RGBa(29, 197, 151, 0.97);	
				
				
				text-align: center;
				padding: 12px 0;
			}
			.card-body {
				font-size: 95%;
			}
			
			div {
				font-size: 95%;
			}
			
			.img_logo{
				height: 15px;			
			}
			
			.head_title{
				font-size: 15px;			
			}
			
		}
		
		@media screen  and  (min-width: 680px){
			.row_menu {
				display: none;
			}
			
			#sidebarToggleTop{
				display: none;
			}
			
			.sticky-footer {
				display: none;
			}
		}
	  
  </style>
  
{% endblock %}

{% block body %}


<body id="page-top">

		<!--Begin head_bar api_admin space -->
		{% include "./admin/api_admin/head_bar.html.twig" %}
		<!--End head_bar api_admin space -->

  <!-- Page Wrapper -->
  <div id="wrapper">

	<!--Begin nav_bar api_admin space -->
	{% include "./admin/api_admin/nav_bar.html.twig" %}
	<!--End nav_bar api_admin space -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" style="background-color:#ececec"; class="mt-5 d-flex flex-column">
	</br>
      <!-- Main Content -->
      <div id="content">
	  </br>	
        <!-- Begin Page Content -->
        <div class="container">
			<div class="" >				
				<div class="row col-lg-12">
        
      
					<h4 class="" >MODE ACTIVER: </h4>
					<h3 style="display:none" class="btn-info mode_envoi_3" >		[3] Envoyer les devis à plusieurs personnes</h3>

					{% if option_email != null %}							
						{% for lst in option_email %}
							{% if lst.typekey() == 1 %}				
								<h3 class="btn-success mode_envoi_all" >	[1] Normalement </h3>
							{% endif %}	
							{% if lst.typekey()  == 2 %}							
								
								<h3 class=" btn-secondary mode_envoi_all" >	[2] Envoyer à une seule personne</h3>
								{% endif %}
							{% if lst.typekey()  == 3 %}									
								<h3 class="btn-info mode_envoi_all " >		[3] Envoyer les devis à plusieurs personnes</h3>                                
							{% endif %}	

                    {% endfor %}
					{% else %}
						<li class="text-center"> AUCUN RESULTAT!<li>                                     
					{% endif %}	

            
				</div>

			</div>
							
		  <!-- Divider -->		  
		  <hr class="sidebar-divider">

          <!-- Content Row 1 -->
          <div class="row">

			  <!-- Page Heading -->
			  <div class="col">
				 
				<div class="row">				
					<div class="row col-lg-8 text-center">        
						<div class="col-lg-4 mb-4" data-toggle="modal" data-target="#myModal_dev_norm">
							<div  class="link-1 envoyer_normale btn btn-success text-white shadow">
								<div class="card-body">
								    [1] Envoyer les devis normalement                     
								</div>
							</div>
						</div>
						<div class="col-lg-4 mb-4"  data-toggle="modal" data-target="#myModal_dev_personne">
							<div class="link-1 envoyer_one btn btn-secondary  text-white shadow">
								<div class="card-body">
								    [2] Envoyer les demandes à une seule personne                     
								</div>
							</div>
						</div>
						
						<div class="col-lg-4 mb-4">
							<div class="link-1 envoyer_plus btn btn-info text-white shadow">
								<div class="card-body">
								    [3] Envoyer les devis à plusieurs personnes
								</div>
							</div>
						</div>
					</div>  
				</div>  
							
			  </div>

			  
          </div>
          <!-- End Content Row 1 -->
          
		  
          <!-- Content Row 2 -->
          <div class="row ">

            <!-- Content Column -->
			

			<!-- Modal comfirmer mode  normalement -->
			<div class="modal fade" id="myModal_dev_norm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">									
							<h4 class="modal-title" id="myModalLabel">
							Confirmer la mode d'envoi: [Normalement]
							</h4>
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
							</button>
						</div>						
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
							data-dismiss="modal">
								NON
							</button>

							<a href="{{ path('setUpdateServiceActived') }}" class="text-reset">
								<button type="button" class=" btn btn-success">
									OUI
								</button>	
							</a>

						</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- end /.modal comfirmer mode normalement-->


            <!-- div class="envoyer_normale_row col-lg-5 mb-5">
              <!-- form numero email logo -- >
              <div class="card shadow mb-4">
                <div class="card-header btn-success-1 py-3" >
                  <h6 class="m-0 font-weight-bold text-primary">Envoyer les devis normalement : </h6>
                </div>
              </div>              
            </div -->
			
			
			<!-- Modal comfirmer mode une seule personne -->
			<div class="modal fade" id="myModal_dev_personne" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">									
							<h4 class="modal-title" id="myModalLabel">
								Sélectionner un Email:<br> [Une seule personne]			 				
							</h4>
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
							</button>
						</div>
						<div class="modal-body">
							<form id="form_email_one_personne" name="x_1">	
								<div class="form-group row">
								  <div class="col-sm-12 mb-3 mb-sm-0">                          
									<h4 class="small  font-weight-bold">Email:</h4>
								  </div>
								  <div class="col-sm-12 mb-3 mb-sm-0">                          
									<input type="email" class="form-control form-control-email-seul-perso" id="email_one_personne" placeholder="Adresse email" style="display:none">
									{% if listMails|length > 0 %}
										<select onChange="Lien()" id="select_email" name="x_2"  class="form-control" >
											<option class="select_x col-lg-12 ">--- Sélectioner ---</option>
											{% for x in listMails %}												
												<option value="{{ x.getUserId().getId() }}" class="col-lg-12 ">{{ x.getUserId().getEmail() }}</option>
											{% endfor %}
										</select>
										{% else %}
										<li class="text-center"> AUCUN RESULTAT!<li>                                     
									{% endif %}	

								  </div>                                                  
								</div>
							</form>	
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
							data-dismiss="modal">
								NON
							</button>
							<button data-toggle="modal" style="display:none" data-target="#myModal_confirm_dev_personne" type="submit" class="confirmer_seul_pers btn btn-success" data-dismiss="modal">
								CONTINUER
							</button>
							
						</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- end /.modal comfirmer les devis normalement-->

			<div class="modal fade" id="myModal_confirm_dev_personne" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">									
							<h4 class="modal-title" id="myModalLabel">
								Confirmer la mode d'envoi:</br> [Une seule personne]
							</h4>
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
							</button>
						</div>
						<div class="modal-body">						
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"	data-dismiss="modal">
								NON
							</button>
							
							<div id="valider_email">
								
							</div>
						</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- end /.modal comfirmer les devis normalement-->

			<!-- Modal comfirmer mode  normalement -->
			<div class="modal fade" id="myModal_sup_pro_envoi_email" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">									
							<h4 class="modal-title" id="myModalLabel">
							Confirmer la suppression d'email: [Envoyer plusieurs]
							</h4>
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
							</button>
						</div>						
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
							data-dismiss="modal">
								NON
							</button>
							<button type="button" class=" btn btn-success">
								OUI
							</button>
						</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- end /.modal comfirmer mode normalement-->


            </br>
            <div class="envoyer_plus_row col-lg-12 mb-8" style="display:none">
              <!-- form numero email logo -->
              <div class="card shadow mb-4">
                <div class="card-header btn-info-1 py-3">
                  	<h6 class="m-0 font-weight-bold text-primary">Envoyer les devis à plusieurs personnes :
					</h6>
                </div>
				
                <div class="card-body">
                  <div class="text-center">
                      <div class="table-responsive">
						<table class="table table-bordered display" id="" width="100%" cellspacing="0">
							<thead class="bg-warning text-dark">
							<tr>
								<th></th>
								<th>#</th>
								<th>Client (Email)</th>
								<th>Catégorie</th>
								<th>Date de Création</th>
								<th>Action</th>                  
							</tr>
							</thead>
								<tfoot>
								<tr>
									<td></td>
									<th>#</th>
									<th>Client Email</th>
									<th>Catégorie</th>
									<th>Date de Création</th>
									<th>Action</th>
								</tr>
								</tfoot>
								<tbody>							
								{% if list_serv|length > 0 %}							
									{% for lst in list_serv %}
									<tr>
										<td>
											<input  {{ lst.getIsActived == true ? "checked=true"  }} data-id="{{ lst.id  }}" type="checkbox" class="form-control customSwitch" id="customSwitch{{ lst.id  }}">
										</td>
										<td>{{ lst.getId() }}</td>
										<td>
											<button type="button" class="col btn btn-outline-secondary tooltip-viewport-bottom" title="" data-original-title=" {{ lst.userId.companyName() }} </br> {{ lst.getUserId().getMobile() }} </br>  {{ lst.getUserId().getCompanyDateCrea() }}">{{ lst.getUserId().getEmail() }}</button>
										</td>
										
										<td>
											<button type="button" class="col btn btn-outline-secondary tooltip-viewport-bottom" title="" data-original-title=" {{ lst.categoryId.description }}  </br>  {{ lst.categoryId().getCategDateCrea() | date('d/m/y H:m:s') }}">{{ lst.categoryId.categTitle }}</button>
										</td>
										<td>{{ lst.getDateCrea() | date('d/m/y H:m:s') }}</td>
										<td class="text-center">
										
										<div class="btn  btn-danger" data-toggle="modal" data-target="#myModal_sup_service" onclick="show_modal_delete_service({{ lst.getId() }})" title="Supprimer le service">
											<i class="fa fa-times"></i>
										</div>
									</td>
										
									</tr>
										{% endfor %}
									{% else %}
										<li class="text-center"> AUCUN RESULTAT!<li>                                     
									{% endif %}	
									
								
								</tbody>
							</table>
                        </div>
                  </div>
               </div>
              </div>              
            </div>
            
            <!-- End Content Column -->   
          </div> 
          
          <!-- End Content Row 2 -->
				  
        </div>
        <!-- /.container -->

      </div>
      <!-- End of Main Content -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>


</br></br></br>
		<footer class="" style="position: fixed;z-index: 1;bottom: 0;">
				<div class="">								
				  <!-- Scroll to Top Button-->
				  <a href="/admin/">
					  <div class="btn-circle btn-secondary" style="z-index: 2;display: inline;">
						<i class="fas fa-home">Menu</i>
					  </div>				  
				  </a>
				</div>
			</footer>
</body>
	{% endblock %}

	{% block javascripts %}

  <!-- Bootstrap core JavaScript-->
  <script src="{{ absolute_url('/assets/vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ absolute_url('/assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{{ absolute_url('/assets/vendor/jquery-easing/jquery.easing.min.js') }}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{{ absolute_url('/assets/js/sb-admin-2.min.js') }}"></script>
  <script src="{{ absolute_url('/assets/js/admin/admin_envoi_email.js') }}"></script>


  

  <!-- Page level plugins -->
  
  <script src="{{ absolute_url('/assets/vendor/datatables/jquery.dataTables.min.js') }}"></script>
  <script src="{{ absolute_url('/assets/vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>
  
	
	{% endblock %}
	
	
	
	
	