
{% extends  'base.html.twig' %}

{% block stylesheets %}

  <title>Orange-Travaux ( Admin )</title>

  <!-- Custom fonts for this template-->
    <link href="{{ absolute_url('/assets/vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" />

  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

	<!-- Custom styles for this template-->
    <link href="{{ absolute_url('/assets/css/sb-admin-2.min.css') }}" rel="stylesheet" />

	
	<link href="{{ absolute_url('/assets/vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet">
	
  <style>
      .card-header {
          background-color: #fcd42f4a;
      }
      #wrapper{
       background-color:#ececec;
      }
    </style>
    
{% endblock %}

{% block body %}


<body id="page-top">

		<!--Begin head_bar api_admin space -->
		{% include "./admin/api_admin/head_bar.html.twig" %}
		<!--End head_bar api_admin space -->

  <!-- Page Wrapper -->
  <div id="wrapper" >

	<!--Begin nav_bar api_admin space -->
	{% include "./admin/api_admin/nav_bar.html.twig" %}
	<!--End nav_bar api_admin space -->

    <div id="content-wrapper" style="background-color:#ececec"; class="mt-5 d-flex flex-column">
	</br>
      <!-- Main Content -->
      <div id="content">
	  
        <!-- Begin Page Content -->
        <div class="container-fluid">

			<!-- Divider -->
				<h3 class="chg_title_objet">Préstation</h3>
			<hr class="sidebar-divider">
				
				<div class="row" style="justify-content: space-evenly">				

							<div class="active_row_type link-1 btn btn-success text-white shadow">
								<div class="card-body">
									Préstation                    
								</div>
							</div>

							<div class="active_row_categorie link-1 btn  text-dark shadow" style="background-color: yellow;">
								<div class="card-body">
									Catégorie
								</div>
							</div>


							<div class="active_row_souscategorie link-1 btn btn-info text-white shadow">
								<div class="card-body">
									Sous-categorie
								</div>
							</div>


							<div class="active_row_article link-1 btn text-white btn-secondary  shadow" >
								<div class="card-body">
									Article
								</div>
							</div>

							<div class="active_row_mode_prix link-1 btn btn-warning text-dark shadow" >
								<div class="card-body">
									Mode Prix
								</div>
							</div>
				</div>
				
					</br> 
      
          <!-- Content Row Type de prestation-->
          <div class="row row_type">

			<!-- Content Column -->    
			
            <!-- DataTales Example -->
			


			<!-- Modal suppression type -->
			<div class="modal fade" id="myModal_sup_type" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">				
    				<div class="modal-content">
						<div class="modal-header">									
							<h4 class="modal-title" id="myModalLabel">
							Confirmer la suppression: [Préstation]
							</h4>
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
							</button>
						</div>
						<div class="modal-body">
							<div id="load_modal_sup_type">
							</div>
						</div>
					</div>
				</div><!-- /.modal-dialog -->
			</div><!-- end /.modal suppression type-->				


			<!-- Modal edit type-->
			<div class="modal fade" id="myModal_add_type" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title" id="myModalLabel">
							Ajouter nouveau: [Préstation]
							</h4>
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
							</button>
						</div>
						<div class="modal-body">		
							<div class="card-body">
								<form class="form_edit_type">
								
								
									<div class="form-group row">
									  <div class="col-sm-12 mb-3 mb-sm-0">                          
										<h4 class="small  font-weight-bold">Type (PRESTATION):</h4>
									  </div>
									  <div class="col-sm-12 mb-3 mb-sm-0">                          
										<input type="text" class="form-control form-control-user _title_type" id="_title_type" placeholder="Type du prestation">
									  </div>                                                  
									</div>									
									<div class="form-group row">
										<div class="col-sm-6 mb-3 mb-sm-0" >
											<!-- Button trigger modal -->
											<button type="button" class="btn btn-default" data-dismiss="modal">
												Annuler
											</button>
										</div>
										<div class="col-sm-6 mb-3 mb-sm-0" >
											<button class="btn btn-register-type btn-success btn-user btn-block" OnClick="javascript:window.location.reload()">
												ENREGISTRER
											</button>
										</div>
									</div>					
								</form>								
						   </div>
						</div>
						
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- End /.modal Edit type -->


			<!-- Modal edit type-->
			<div class="modal fade" id="myModal_edit_type" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title" id="myModalLabel">
							Modification: [Préstation]
							</h4>
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
							</button>
						</div>
						<div class="modal-body">									
							<div class="card-body">
								<div id="load_modal_edit_type">

								</div>	
						   </div>
						</div>
						
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- End /.modal Edit type -->


            <div class="col-12 mb-8" id="api_type_table_load">
            </div>
			
			
			<!-- End Content Column -->   

          </div>
			<!-- End Content Row Type de prestation-->


          <!-- Content Row Catégorie -->
        <div class="row row_mode_prix" style="display:none">
            <div class="col-12 mb-8" id="api_mode_prix_table_load">
            </div>


				

			<!-- Modal edit Mode Prix-->
			<div class="modal fade" id="myModal_edit_prix" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">									
							<h4 class="modal-title" id="myModalLabel">
							Modification: [Mode Prix]
							</h4>
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
							</button>
						</div>
						<div class="modal-body">
							<div class="card-body">
								<div id="load_modal_edit_mode_prix">                          
								</div>							
						   </div>
							
						</div>
						
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- End /.modal  Mode Prix -->




			
			<!-- Modal suppression Catégorie -->
			<div class="modal fade" id="myModal_sup_prix" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">									
							<h4 class="modal-title" id="myModalLabel">
							Confirmer la suppression: [Mode Prix]
							</h4>
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
							</button>
						</div>
						<div class="modal-body">
							<div class="" id="load_modal_sup_prix">
							
							</div>

						</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- end /.modal suppression Catégorie-->
		
		</div>

          <!-- Content Row Catégorie -->
          <div class="row row_categorie" style="display:none">



            <div class="col-12 mb-8" id="api_category_table_load">
            </div>
			
			
			<!-- Modal suppression Catégorie -->
			<div class="modal fade" id="myModal_sup_cat" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">									
							<h4 class="modal-title" id="myModalLabel">
							Confirmer la suppression: [Catégorie]
							</h4>
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
							</button>
						</div>
						<div class="modal-body">
							<div class="" id="load_modal_sup_cat">
							</div>
						</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- end /.modal suppression Catégorie-->
		
		
			<!-- Modal edit Catégorie-->
			<div class="modal fade" id="myModal_add_cat" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">									
							<h4 class="modal-title" id="myModalLabel">
							Ajouter nouveau: [Catégorie]
							</h4>
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
							</button>
						</div>
						<div class="modal-body">
							<div class="card-body">
								<form>
								
									<div class="form-group row">
									  <div class="col-sm-12 mb-3 mb-sm-0">                          
										<h4 class="small  font-weight-bold">Nom (Categorie):</h4>
									  </div>
									  <div class="col-sm-12 mb-3 mb-sm-0">                          
										<input type="text" class="form-control form-control-user" id="_title_cat" placeholder="Nom du categorie">
									  </div>                                                  
									</div>
										
									<div class="form-group row">
									  <div class="col-sm-12 mb-3 mb-sm-0">                          
										<h4 class="small  font-weight-bold">Description:</h4>
									  </div>
									  <div class="col-sm-12 mb-3 mb-sm-0">                          
										<input type="text" class="form-control form-control-user" id="_desc_cat" placeholder="Description du categorie">
									  </div>                                                  
									</div>
									
									<!-- Button trigger modal -->
									<button type="button" class="btn btn-default" data-dismiss="modal">
										Annuler
									</button>
									<button class="btn btn-register-categorie btn-success btn-user btn-block" OnClick="javascript:window.location.reload()">
										ENREGISTRER
									</button>
																	
								</form>								
						   </div>
							
						</div>
						
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- End /.modal Edit Catégorie -->


				

			<!-- Modal edit Catégorie-->
			<div class="modal fade" id="myModal_edit_cat" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">									
							<h4 class="modal-title" id="myModalLabel">
							Modification: [Catégorie]
							</h4>
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
							</button>
						</div>
						<div class="modal-body">
							<div class="card-body">
								<div id="load_modal_edit_cat">                          
								</div>							
						   </div>
							
						</div>
						
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- End /.modal Edit Catégorie -->





		{% if list_cat != null %}							
			{% for lst in list_cat %}
			<!-- Modal afficher type-->
			<div class="modal fade" id="myModal_aff_cat_{{ lst.getId() }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">									
							<h4 class="modal-title" id="myModalLabel">
								Détail du Catégorie:
							</h4>
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
							</button>
						</div>
						<div class="modal-body">
						
							<span class="font-weight-bold " >Type:</span>
							{{ lst.getCategTitle() }} <br>
							<span class="font-weight-bold " >Date de création:</span>
							{{ lst.getCategDateCrea() | date('d/m/y H:m:s') }}<br>
							<span class="font-weight-bold " >Description:</span>
							{{ lst.getDescription() }}<br>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-success"
							data-dismiss="modal">
								OK
							</button>
							
						</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- End /.modal afficher type -->
			{% endfor %}
		{% else %}
			<li class="text-center"></li>                                     
		{% endif %}	
									


			<!-- Content Column -->    
			

			<!-- End Content Column -->   

          </div>
          <!-- End Content Row Catégorie -->
		  
		  
	        <!-- Content Row SousCategory -->
          	<div class="row row_souscategory"  style="display:none">

				<!-- Modal suppression Sous Catégorie -->
				<div class="modal fade" id="myModal_sup_sous_cat" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">									
								<h4 class="modal-title" id="myModalLabel">
								Confirmer la suppression: [Catégorie]
								</h4>
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
								</button>
							</div>
							<div class="modal-body">
								<div class="" id="load_modal_sup_sous_cat">

								</div>
							</div>
						</div><!-- /.modal-content -->
					</div><!-- /.modal-dialog -->
				</div><!-- end /.modal suppression Sous Catégorie-->
				
				
				<!-- Modal edit Catégorie-->
				<div class="modal fade" id="myModal_edit_sous_cat" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">									
								<h4 class="modal-title" id="myModalLabel">
								Modification: [Sous Catégorie]
								</h4>
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
								</button>
							</div>
							<div class="modal-body">
								<div class="card-body">
									<div id="load_modal_edit_sous_cat">                          
									</div>							
							</div>
								
							</div>
							
						</div><!-- /.modal-content -->
					</div><!-- /.modal-dialog -->
				</div><!-- End /.modal Edit Catégorie -->

				<!-- Load DataTable SousCat -->
				<div class="col-12 mb-8" id="api_souscategory_table_load">
					
				</div>


			</div>
			
			
		  <!-- Content Row -->
          <div class="row row_article"  style="display:none">

			<!-- Content Column -->    
			
			
			<!-- Modal suppression Article -->
			<div class="modal fade" id="myModal_sup_article" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">									
							<h4 class="modal-title" id="myModalLabel">
							Confirmer la suppression:
							</h4>
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
							</button>
						</div>
						<div class="modal-body">													
							<div id="load_modal_sup_article">
							</div>								
						</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- end /.modal suppression Article-->
			

			<!-- Modal edit type-->
			<div class="modal fade" id="myModal_add_article" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title" id="myModalLabel">
								Ajouter nouveau: [Article]
							</h4>
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
							</button>
						</div>
						<div class="modal-body">
							<div class="card-body">
								<form class="form_edit_type">
									<div class="form-group row">
									  <div class="col-sm-12 mb-3 mb-sm-0">
										<h4 class="small  font-weight-bold">Type (Article):</h4>
									  </div>
									  <div class="col-sm-12 mb-3 mb-sm-0">                          
										<input type="email" class="form-control form-control-user" id="_title_art" placeholder="Type du prestation">
									  </div>
									</div>

									<div class="form-group row">
									  <div class="col-sm-12 mb-3 mb-sm-0">                          
										<h4 class="small  font-weight-bold">Catégorie :</h4>
									  </div>
									  <div class="col-sm-12 mb-3 mb-sm-0">     
										<select class="form-control form-control-user" name="categorie_option" id="_cat_art" >
											
											{% if list_cat != null %}							
												{% for lst in list_cat %}
													<option  value="{{ lst.getId()}}">{{ lst.getCategTitle() }}</option>										  
												{% endfor %}
											{% else %}
												<button class=" btn btn-primary" data-toggle="modal" data-target="#myModal_add_cat"  type="button" title="Ajouter nouveaux Categorie"><i class="fa fa-plus"></i>
												</button>
											{% endif %}	
										  
										</select>									  										
									  </div>                                                  
									</div>
									
									<div class="form-group row">
										<div class="col-sm-6 mb-3 mb-sm-0" >
											<!-- Button trigger modal -->
											<button type="button" class="btn btn-default" data-dismiss="modal">
												Annuler
											</button>
										</div>
										<div class="col-sm-6 mb-3 mb-sm-0" >
											<button class="btn-register-article btn btn-success btn-user btn-block">
												Valider
											</button>
										</div>
									</div>					
								</form>								
						   </div>
						</div>
						
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- End /.modal Edit type -->
			

			<!-- Modal edit Article-->
			<div class="modal fade" id="myModal_edit_article" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">									
							<h4 class="modal-title" id="myModalLabel">
								Modification Article:
							</h4>
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
							</button>
						</div>
						<div class="modal-body">
							<div class="card-body">
								<div id="load_modal_edit_article">

								</div>		
							</div>
						   
						</div>
						
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- End /.modal Edit Article -->


		{% if list_art != null %}							
			{% for lst in list_art %}
			<!-- Modal edit Article-->
			<div class="modal fade" id="myModal_info_article_{{ lst.getId() }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">									
							<h4 class="modal-title" id="myModalLabel">
								Détail Article:
							</h4>
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
							</button>
						</div>
						<div class="modal-body">
							<span class="font-weight-bold " >Type:</span>{{ lst.getArticleTitle() }}
							<br>
							<span class="font-weight-bold " >Catégorie:</span>{{ lst.getArticleCategId().getCategTitle() }}<br>
							<span class="font-weight-bold " >Date de création:</span>{{ lst.getArticleDateCrea() | date('d/m/y H:m:s') }}<br>
							
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-success"
							data-dismiss="modal">
								OK
							</button>
						</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- End /.modal Edit Article -->

		{% endfor %}
	{% else %}
		<li class="text-center"></li>                                     
	{% endif %}

            <!-- DataTales Example -->
            <div class="col-12 mb-8" id="api_article_table_load">
                 
            </div>


			<!-- End Content Column -->   

          </div>
        
		</div>
        <!-- /.container-fluid -->



  
  	<form class="form_edit_type">
									
										<div class="form-group row">
										  <div class="col-sm-12 mb-3 mb-sm-0">                          
											<h4 class="small  font-weight-bold">ID:</h4>
										  </div>
										  <div class="col-sm-12 mb-3 mb-sm-0">                          
											<input type="email" class="form-control form-control-user" id="" placeholder="Identification">
										  </div>                                                  
										</div>
										
										<div class="form-group row">
										  <div class="col-sm-12 mb-3 mb-sm-0">                          
											<h4 class="small  font-weight-bold">Type (PRESTATION):</h4>
										  </div>
										  <div class="col-sm-12 mb-3 mb-sm-0">                          
											<input type="email" class="form-control form-control-user" id="" placeholder="Type du prestation">
										  </div>                                                  
										</div>

										<div class="form-group row">
										  <div class="col-sm-12 mb-3 mb-sm-0">                          
											<h4 class="small  font-weight-bold">Date de création:</h4>
										  </div>
										  <div class="col-sm-12 mb-3 mb-sm-0">                          
											<input type="email" class="form-control form-control-user" id="" placeholder="Date de création">
										  </div>                                                  
										</div>

										<div class="form-group row">
											<div class="col-sm-6 mb-3 mb-sm-0" >
												<!-- Button trigger modal -->
												<button type="button" class="btn btn-default" data-dismiss="modal">
													Annuler
												</button>
											</div>
											<div class="col-sm-6 mb-3 mb-sm-0" >
												<button class="btn btn-success btn-user btn-block">
													Valider
												</button>
											</div>
										</div>					
									</form>	
			
<form class="form_edit_type">
								
									<div class="form-group row">
									  <div class="col-sm-12 mb-3 mb-sm-0">                          
										<h4 class="small  font-weight-bold">ID:</h4>
									  </div>
									  <div class="col-sm-12 mb-3 mb-sm-0">                          
										<input type="email" class="form-control form-control-user" id="id_type" placeholder="Identification">
									  </div>                                                  
									</div>
									
									<div class="form-group row">
									  <div class="col-sm-12 mb-3 mb-sm-0">                          
										<h4 class="small  font-weight-bold">Type (Article):</h4>
									  </div>
									  <div class="col-sm-12 mb-3 mb-sm-0">                          
										<input type="email" class="form-control form-control-user" id="nom_type" placeholder="Type du prestation" value="" >
									  </div>                                                  
									</div>

									<div class="form-group row">
									  <div class="col-sm-12 mb-3 mb-sm-0">                          
										<h4 class="small  font-weight-bold">Catégorie :</h4>
									  </div>
									  <div class="col-sm-12 mb-3 mb-sm-0">                          
										
										<select class="form-control form-control-user" name="categorie_option" id="_cat_art" >
											
											
													<option  value=""></option>										  
												
												
												<button class=" btn btn-primary" data-toggle="modal" data-target="#myModal_add_cat"  type="button" title="Ajouter nouveaux Categorie"><i class="fa fa-plus"></i>
												</button>
												
										  
										</select>	
									  </div>                                                  
									</div>

									<div class="form-group row">
									  <div class="col-sm-12 mb-3 mb-sm-0">                          
										<h4 class="small  font-weight-bold">Date de création:</h4>
									  </div>
									  <div class="col-sm-12 mb-3 mb-sm-0">                          
										<input type="email" class="form-control form-control-user" id="date_creat_type" placeholder="Date de création" value="">
									  </div>
									</div>

									<div class="form-group row">
										<div class="col-sm-6 mb-3 mb-sm-0" >
											<!-- Button trigger modal -->
											<button type="button" class="btn btn-default" data-dismiss="modal">
												Annuler
											</button>
										</div>
										<div class="col-sm-6 mb-3 mb-sm-0" >
											<button class="btn btn-success btn-user btn-block">
												Valider
											</button>
										</div>
									</div>					
								</form>		


								
								<form class="form_edit_cat">
								
									<div class="form-group row">
									  <div class="col-sm-12 mb-3 mb-sm-0">                          
										<h4 class="small  font-weight-bold">ID:</h4>
									  </div>
									  <div class="col-sm-12 mb-3 mb-sm-0">                          
										<input type="email" class="form-control form-control-user" id="id_cat" placeholder="Identification">
									  </div>                                                  
									</div>
									
									<div class="form-group row">
									  <div class="col-sm-12 mb-3 mb-sm-0">                          
										<h4 class="small  font-weight-bold">Nom (Categorie):</h4>
									  </div>
									  <div class="col-sm-12 mb-3 mb-sm-0">                          
										<input type="text" class="form-control form-control-user" id="nom_cat" placeholder="Nom du categorie">
									  </div>                                                  
									</div>

									<div class="form-group row">
									  <div class="col-sm-12 mb-3 mb-sm-0">                          
										<h4 class="small  font-weight-bold">Date de création:</h4>
									  </div>
									  <div class="col-sm-12 mb-3 mb-sm-0">                          
										<input type="date" class="form-control form-control-user" id="date_creat_cat" placeholder="Date de création">
									  </div>                                                  
									</div>
									
													
									<div class="form-group row">
									  <div class="col-sm-12 mb-3 mb-sm-0">                          
										<h4 class="small  font-weight-bold">Description:</h4>
									  </div>
									  <div class="col-sm-12 mb-3 mb-sm-0">                          
										<input type="text" class="form-control form-control-user" id="desc_cat" placeholder="Nom du categorie">
									  </div>                                                  
									</div>

													
									<div class="form-group row">
									  <div class="col-sm-12 mb-3 mb-sm-0">                          
										<h4 class="small  font-weight-bold">Image:</h4>
									  </div>
									  <div class="col-sm-12 mb-3 mb-sm-0">                          
										<input type="text" class="form-control form-control-user" id="img_cat" placeholder="Nom du categorie">
									  </div>                                                  
									</div>
									
									
									
									<div class="form-group row">
									  <div class="col-sm-12 mb-3 mb-sm-0">                          
										<h4 class="small  font-weight-bold">Icon:</h4>
									  </div>
									  <div class="col-sm-12 mb-3 mb-sm-0">                          
										<input type="text" class="form-control form-control-user" id="icon_cat" placeholder="Nom du categorie">
									  </div>                                                  
									</div>
									
									
									
									<!-- Button trigger modal -->
									<button type="button" class="btn btn-default" data-dismiss="modal">
										Annuler
									</button>
									<span class="btn btn-success btn-user btn-block">
										Enregistrer
									</span>
																	
								</form>	


      </div>
      <!-- End of Main Content -->


    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

</body>
	{% endblock %}

	{% block javascripts %}

  <!-- Bootstrap core JavaScript-->
  <script src="{{ absolute_url('/assets/vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ absolute_url('/assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{{ absolute_url('/assets/vendor/jquery-easing/jquery.easing.min.js') }}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{{ absolute_url('/assets/js/sb-admin-2.min.js') }}"></script>



  <!-- Page level plugins -->
  <script src="{{ absolute_url('/assets/vendor/datatables/jquery.dataTables.min.js') }}"></script>
  <script src="{{ absolute_url('/assets/vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>
  <script src="{{ absolute_url('/assets/vendor/datatables/datatables-demo.js') }}"></script>



	<script>
	
		$(function () { $('#myModal').modal('hide')});
		
		
		// Call the dataTables jQuery plugin
		$(document).ready(function() {
		  $('#dataTable_acticle').DataTable();
		  $('#dataTable_type').DataTable();
		  
		});

	</script>
	
	<script>
	
		$('.nav-item').removeClass('active');
		$('.nav_objet_devis').addClass('active');
		
	</script>
		
  <script>
  

    // SAVE User Register
    jQuery('.btn-register-type').click( function() {
		
        //AJAX TO REGISTER USERS HERE
		$title = $('._title_type').val();
		
        jQuery.ajax({
            type: 'GET',
            url: '/admin/register_type/'+$title,
            dataType:'json'
        });
		
				
		
		$('.reload_page').click();
		
		
	});
	
	
	
	 // SAVE Article Register
    jQuery('.btn-register-categorie').click( function() {
		
        //AJAX TO REGISTER USERS HERE
		$title_cat = $('#_title_cat').val();
		$desc_cat = $('#_desc_cat').val();
		
        jQuery.ajax({
            type: 'GET',
            url: '/admin/register_cat/'+$title_cat+'/'+$desc_cat,
            dataType:'json'
        });
		
		$('.reload_page').click();

	});
	
	
	
	 // SAVE Article Register
    jQuery('.btn-register-article').click( function() {
		
        //AJAX TO REGISTER USERS HERE
		$title_article = $('#_title_art').val();
		$cat_article = $('#_cat_art').val();
		
		
        jQuery.ajax({
            type: 'GET',
            url: '/admin/register_article/'+$title_article+'/'+$cat_article,
            dataType:'json'
       	
        }).done(function(response){
				
				
            }).fail(function(){
            
					
                }).always(function(){
                    console.log("AJAX request finished!");
                });

		
		
	});
	
	
	</script>
	
  <script>
    // SAVE User Register
    jQuery('.btn-register-user').click( function() {

        var form_record = jQuery('.form-register-user');
        //Verify each input type is validity here
        var curInputs = form_record.find("input[type='text'],input[type='email'], select, input[type='tel'], input[type='number'], input[type='password']");
        for(var i=0; i<curInputs.length; i++){
            if (!curInputs[i].validity.valid || curInputs[i].value == ""){
                isValid = false;
                jQuery(curInputs[i]).closest(".form-group").addClass("has-error");
                var result = curInputs[i].placeholder != undefined ? curInputs[i].placeholder : jQuery('.select2-selection__placeholder').text();
                Swal.fire({
                html: '<span class="h2 text-warning text-center">Attention!</span><br><span class="text-warning small text-center">Veillez definir ' + result+ ' exacte</span>',
                type: 'warning',
                background: 'rgb(119, 119, 119)',
                backdrop: `rgba(0,0,123,0.4)`,
                confirmButtonColor: 'rgb(255, 144, 0)'
                }); 
                return false;
            }
        }

        //AJAX TO REGISTER USERS HERE
        jQuery.ajax({
            type: 'POST',
            url: '/register',
            contentType: false,
            processData: false,
            cache:false,
            dataType:'json',
            data: new FormData(form_record[0])
				
        }).done(function(response){
				
            Swal.fire({
                title: 'Reponse',
                text: response.infos,
                type: 'success',
                background: 'rgb(119, 119, 119)',
                backdrop: `rgba(0,0,123,0.4)`,
                confirmButtonColor: 'rgb(255, 144, 0)'
                });

                var form_record = jQuery('.form-register-user');
                //Verify each input type is validity here
                var curInputs = form_record.find("input[type='text'],input[type='email'], select, input[type='tel'], input[type='number'], input[type='password']");
                for(var i=0; i<curInputs.length; i++){
                    curInputs[i].value = '';
                }

				
            }).fail(function(){
            // Here you should treat the http errors (e.g., 403, 40
                Swal.fire({
                    title: 'Reponse',
                    text: 'Erreur dans le serveur interne!!',
                    type: 'error',
                    background: 'rgb(119, 119, 119)',
                    backdrop: `rgba(0,0,123,0.4)`,
                    confirmButtonColor: 'rgb(255, 144, 0)'
                    });
            
					
                }).always(function(){
                    console.log("AJAX request finished!");
                });

    })

  </script>
		
		
  
  
  
	<script>
	
		function load_api_mode_prix_table(){

                 var xhttp = new XMLHttpRequest();
                 xhttp.onreadystatechange = function() {
                     if (xhttp.readyState == 4 && xhttp.status == 200) {
                        document.getElementById("api_mode_prix_table_load").innerHTML = xhttp.responseText;
                    }
                 };
                 xhttp.open("GET", "objet_devis/api_mode_prix_table", true);
                 xhttp.send();
		}
		
		$('.active_row_mode_prix').click(function (){
			$('.chg_title_objet').text('Mode Prix');
			
			$('.row_mode_prix').removeAttr('style','display:none');
			
			
			$('.row_categorie').attr('style','display:none');
			$('.row_souscategory').attr('style','display:none');	
			$('.row_article').attr('style','display:none');		
			$('.row_type').attr('style','display:none');
			
			load_api_mode_prix_table();
			
		});



		function load_api_category_table(){

                 var xhttp = new XMLHttpRequest();
                 xhttp.onreadystatechange = function() {
                     if (xhttp.readyState == 4 && xhttp.status == 200) {
                        document.getElementById("api_category_table_load").innerHTML = xhttp.responseText;
                    }
                 };
                 xhttp.open("GET", "objet_devis/api_category_table", true);
                 xhttp.send();
		}
		
		$('.active_row_categorie').click(function (){
			$('.chg_title_objet').text('Catégorie');
			
			$('.row_categorie').removeAttr('style','display:none');
			
			$('.row_mode_prix').attr('style','display:none');
			$('.row_souscategory').attr('style','display:none');	
			$('.row_article').attr('style','display:none');		
			$('.row_type').attr('style','display:none');
			
			load_api_category_table();
			
		});

		

		
		function show_modal_delete_article($id){
			
                 var xhttp = new XMLHttpRequest();
                 xhttp.onreadystatechange = function() {
                     if (xhttp.readyState == 4 && xhttp.status == 200) {
                        document.getElementById("load_modal_sup_article").innerHTML = xhttp.responseText;
                    }
                 };
                 xhttp.open("GET", "../article/"+$id , true);
                 xhttp.send();
				 
		}


		


		function show_modal_edit_mode_prix($id){
                 var xhttp = new XMLHttpRequest();
                 xhttp.onreadystatechange = function() {
                     if (xhttp.readyState == 4 && xhttp.status == 200) {
                        document.getElementById("load_modal_edit_mode_prix").innerHTML = xhttp.responseText;
                    }
                 };
                 xhttp.open("GET", "../mode/prix/" , true);
                 xhttp.send();
				 
		}



		function show_modal_delete_mode_prix($id){
			
                 var xhttp = new XMLHttpRequest();
                 xhttp.onreadystatechange = function() {
                     if (xhttp.readyState == 4 && xhttp.status == 200) {
                        document.getElementById("load_modal_sup_prix").innerHTML = xhttp.responseText;
                    }
                 };
                 xhttp.open("GET", "../mode/prix/"+$id , true);
                 xhttp.send();
				 
		}


		
		
		function show_modal_delete_sous_categorie($id){
			
                 var xhttp = new XMLHttpRequest();
                 xhttp.onreadystatechange = function() {
                     if (xhttp.readyState == 4 && xhttp.status == 200) {
                        document.getElementById("load_modal_sup_sous_cat").innerHTML = xhttp.responseText;
                    }
                 };
                 xhttp.open("GET", "../sous/category/"+$id , true);
                 xhttp.send();
				 
		}

		function show_modal_delete_categorie($id){
			
                 var xhttp = new XMLHttpRequest();
                 xhttp.onreadystatechange = function() {
                     if (xhttp.readyState == 4 && xhttp.status == 200) {
                        document.getElementById("load_modal_sup_cat").innerHTML = xhttp.responseText;
                    }
                 };
                 xhttp.open("GET", "../category/"+$id , true);
                 xhttp.send();
				 
		}




		function show_modal_edit_article($id){
                 var xhttp = new XMLHttpRequest();
                 xhttp.onreadystatechange = function() {
                     if (xhttp.readyState == 4 && xhttp.status == 200) {
                        document.getElementById("load_modal_edit_article").innerHTML = xhttp.responseText;
                    }
                 };

                 xhttp.open("GET", "../article/"+$id+"/edit" , true);
                 xhttp.send();
				 
		}

		function load_api_article_table(){

                 var xhttp = new XMLHttpRequest();
                 xhttp.onreadystatechange = function() {
                     if (xhttp.readyState == 4 && xhttp.status == 200) {
                        document.getElementById("api_article_table_load").innerHTML = xhttp.responseText;
                    }
                 };
                 xhttp.open("GET", "objet_devis/api_article_table", true);
                 xhttp.send();
		}

		$('.active_row_article').click(function (){		
		
			$('.chg_title_objet').text('Article');
			

		
			$('.row_article').removeAttr('style','display:none');
			
			$('.row_mode_prix').attr('style','display:none');
			$('.row_souscategory').attr('style','display:none');	
			$('.row_categorie').attr('style','display:none');		
			$('.row_type').attr('style','display:none');

			load_api_article_table();
			
		});
		
		 


		function show_modal_delete_type($id){
			
                 var xhttp = new XMLHttpRequest();
                 xhttp.onreadystatechange = function() {
                     if (xhttp.readyState == 4 && xhttp.status == 200) {
                        document.getElementById("load_modal_sup_type").innerHTML = xhttp.responseText;
                    }
                 };
                 xhttp.open("GET", "../type/"+$id , true);
                 xhttp.send();
				 
		}



		function show_modal_edit_type($id){
                 var xhttp = new XMLHttpRequest();
                 xhttp.onreadystatechange = function() {
                     if (xhttp.readyState == 4 && xhttp.status == 200) {
                        document.getElementById("load_modal_edit_type").innerHTML = xhttp.responseText;
                    }
                 };
                 xhttp.open("GET", "../type/"+$id+"/edit" , true);
                 xhttp.send();
				 
		}




		function show_modal_edit_cat($id){
                 var xhttp = new XMLHttpRequest();
                 xhttp.onreadystatechange = function() {
                     if (xhttp.readyState == 4 && xhttp.status == 200) {
                        document.getElementById("load_modal_edit_cat").innerHTML = xhttp.responseText;
                    }
                 };
                 xhttp.open("GET", "../category/"+$id+"/edit" , true);
                 xhttp.send();
				 
		}


		
		


		function load_api_type_table(){

                 var xhttp = new XMLHttpRequest();
                 xhttp.onreadystatechange = function() {
                     if (xhttp.readyState == 4 && xhttp.status == 200) {
                        document.getElementById("api_type_table_load").innerHTML = xhttp.responseText;
                    }
                 };
                 xhttp.open("GET", "objet_devis/api_type_table", true);
                 xhttp.send();
		}

		load_api_type_table();

		$('.active_row_type').click(function (){
			
			$('.chg_title_objet').text('Préstation');
			
			
			$('.row_type').removeAttr('style','display:none');
			
			$('.row_mode_prix').attr('style','display:none');
			$('.row_article').attr('style','display:none');	
			$('.row_souscategory').attr('style','display:none');	
			$('.row_categorie').attr('style','display:none');
			
			load_api_type_table();
			
		});

		
		 


		function show_modal_edit_sous_categorie($id){
                 var xhttp = new XMLHttpRequest();
                 xhttp.onreadystatechange = function() {
                     if (xhttp.readyState == 4 && xhttp.status == 200) {
                        document.getElementById("load_modal_edit_sous_cat").innerHTML = xhttp.responseText;
                    }
                 };
                 xhttp.open("GET", "../category/"+$id+"/edit" , true);
                 xhttp.send();
				 
		}


		
		
		function load_api_souscategory_table(){

                 var xhttp = new XMLHttpRequest();
                 xhttp.onreadystatechange = function() {
                     if (xhttp.readyState == 4 && xhttp.status == 200) {
                        document.getElementById("api_souscategory_table_load").innerHTML = xhttp.responseText;
                    }
                 };
                 xhttp.open("GET", "objet_devis/api_souscategory_table", true);
                 xhttp.send();
		}

		load_api_type_table();

		$('.active_row_souscategorie').click(function (){
			$('.chg_title_objet').text('Sous Categorie');	

			$('.row_souscategory').removeAttr('style','display:none');
			
			$('.row_mode_prix').attr('style','display:none');
			$('.row_type').attr('style','display:none');			
			$('.row_article').attr('style','display:none');		
			$('.row_categorie').attr('style','display:none');
			
			load_api_souscategory_table();
			
		});

		
		 
		
		
		$('.link_prestation').click(function(){
			$('.active_row_type').click();
			
			$('.active_row_type').click();
		});
		$('.link_categorie').click(function(){
			$('.active_row_categorie').click();
			$('.active_row_categorie').click();
		});	
		$('.link_article').click(function(){
			$('.active_row_article').click();
			$('.active_row_article').click();
		});
	
		
	</script>
	

	{% endblock %}