
{% extends  'base.html.twig' %}

{% block stylesheets %}

  <title>Orange-Travaux ( Admin )</title>

  <!-- Custom fonts for this template-->
    <link href="{{ absolute_url('/assets/vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" />

  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

	<!-- Custom styles for this template-->
    <link href="{{ absolute_url('/assets/css/sb-admin-2.min.css') }}" rel="stylesheet" />

	
	<link href="{{ absolute_url('/assets/vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet">
	
  <style>
      .card-header {
          background-color: #fcd42f4a;
      }
      #wrapper{
        background-color: #777;
      }
    </style>
    
{% endblock %}

{% block body %}


<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper" style="background-color: #777">

	<!--Begin nav_bar api_admin space -->
	{% include "./admin/api_admin/nav_bar.html.twig" %}
	<!--End nav_bar api_admin space -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" style="background-color:#ececec"; class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">
	  
		<!--Begin head_bar api_admin space -->
		{% include "./admin/api_admin/head_bar.html.twig" %}
		<!--End head_bar api_admin space -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

		  <!-- Divider -->
		  <hr class="sidebar-divider">

          <!-- Content Row -->
          <div class="row">

		<!-- Content Column -->                  
 
		<!-- Modal suppression Catégorie -->
			<div class="modal fade" id="myModal_info_service" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">									
							<h4 class="modal-title" id="myModalLabel">
							Information du service :
							</h4>
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
							</button>
						</div>
						<div class="modal-body">
							<span class="font-weight-bold " >ID:</span> 1		<br>
							<span class="font-weight-bold " >Client (Email):</span> TOOTOW@gmail.com <br>
							<span class="font-weight-bold " >Date de création:</span> 2011/04/25<br>
							<span class="font-weight-bold " >Parametre:</span> <span  class="btn btn-secondary"  >Bloqué</span> 
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-danger" data-dismiss="modal"  data-toggle="modal" data-target="#myModal_sup_service" >
								SUPPRIMER
							</button>							
							<button type="button" class=" btn btn-success">
								OK
							</button>
						</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- end /.modal suppression Catégorie-->



 	<!-- Modal suppression Catégorie -->
			<div class="modal fade" id="myModal_sup_service" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">									
							<h4 class="modal-title" id="myModalLabel">
							Confirmer la suppression: [Catégorie]
							</h4>
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
							</button>
						</div>
						<div class="modal-body">
							<span class="font-weight-bold " >ID:</span> 1<br>
							<span class="font-weight-bold " >Nom:</span> Architecte-Construction<br>
							<span class="font-weight-bold " >Date de création:</span> 2011/04/25<br>
							<span class="font-weight-bold " >Description:</span> Description Architecte-Construction
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
							data-dismiss="modal">
								NON
							</button>
							<button type="button" class=" btn btn-success">
								OUI
							</button>
						</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- end /.modal suppression Catégorie-->




            <!-- DataTales Example -->
            <div class="col-10 mb-8">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Listes des Mails de demande de devis</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead class="bg-warning text-dark">
                            <tr>
                                <th>#</th>
                                <th>Client (Email)</th>
                                <th>Catégorie</th>
								<th>Date de Création</th>
                                <th>Action</th>                  
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>#</th>
                                <th>Client Email</th>
                                <th>Catégorie</th>
								<th>Date de Création</th>
                                <th>Action</th>
                            </tr>
                            </tfoot>
                            <tbody>							
							 {% if list_services != null %}							
                                {% for lst in list_services %}
							
                            <tr>
                                <td>{{ lst.getId() }}</td>
                                <td>{{ lst.getUserId().getEmail() }} 
									<button class="btn btn-info" data-toggle="modal" data-target="#myModal_info_service" type="button" title="Plus de Détail"><i class="fa fa-eye"></i>
                                    </button></br>
								</td>
                                <td>{{ lst.getCategoryId().getCategTitle() }}</td>
                                <td>{{ lst.getDateCrea() | date('d/m/y H:m:s') }}</td>								
                                <td class="text-center">
									{% if lst.getIsActived() == 1 %}
										<div class="btn btn-success">ACTIVER</div>
									{% else %}
										<div class="btn btn-dark">DESACTIVER</div>
									{% endif %}
								</td>
								
                            </tr>
								{% endfor %}
							{% else %}
								<li class="text-center"> AUCUN RESULTAT!<li>                                     
							{% endif %}	
							
							
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
            </div>

          </div>


        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

		<!--Begin foot_bar api_admin space -->
		{% include "./admin/api_admin/foot_bar.html.twig" %}
		<!--End foot_bar api_admin space -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

</body>
	{% endblock %}

	{% block javascripts %}

  <!-- Bootstrap core JavaScript-->
  <script src="{{ absolute_url('/assets/vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ absolute_url('/assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{{ absolute_url('/assets/vendor/jquery-easing/jquery.easing.min.js') }}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{{ absolute_url('/assets/js/sb-admin-2.min.js') }}"></script>



  <!-- Page level plugins -->
  <script src="{{ absolute_url('/assets/vendor/datatables/jquery.dataTables.min.js') }}"></script>
  <script src="{{ absolute_url('/assets/vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>
  <script src="{{ absolute_url('/assets/vendor/datatables/datatables-demo.js') }}"></script>

	
	
	<script>
	
		$('.nav-item').removeClass('active');
		$('.nav_service').addClass('active');
		
	</script>


	{% endblock %}