{% extends 'base.html.twig' %}

{% block title %}Services{% endblock %}

{% block body %}

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ service.id }}</td>
            </tr>
            <tr>
                <th>Client</th>
                <td>{{ service.userId.email }}</td>
            </tr>

            <tr>
                <th>Catégorie</th>
                <td>{{ service.categoryId.categTitle }}</td>
            </tr>
            
            <tr>
                <th>Activation</th>
                <td>{{ service.isActived ? 'Bloqué' : 'Non bloqué' }}</td>
            </tr>
                                

            <tr>
                <th>Date de création</th>
                <td>{{ service.dateCrea ? service.dateCrea|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
            NON
        </button>

        <form method="post" action="{{ path('services_delete', {'id': service.id}) }}" >
            <input class="btn btn-success" type="hidden" name="_method" value="DELETE">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ service.id) }}">            
            <button class="btn btn-success">Delete</button>
        </form>

    </div>
        
{% endblock %}
