{% extends 'base.html.twig' %}

{% block title %}Services{% endblock %}

{% block body %}

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ service.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ service.userid.username }}</td>
            </tr>

            <tr>
                <th>Categorie</th>
                <td>{{ service.CategoryId.CategTitle }}</td>
            </tr>

            <tr>
                <th>Activation</th>
                <td>{{ service.isActived ? 'Bloqué' : 'Non bloqué' }}</td>
            </tr>
            
            <tr>
                <th>Date de création</th>
                <td>{{ service.dateCrea ? service.dateCrea|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>
        
{% endblock %}
