    {% extends  'base.html.twig' %}

    {% block stylesheets %}

    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />-->
    <script src="https://cdn.linearicons.com/free/1.0.0/svgembedder.min.js"></script>
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <!-- CSS Files -->
    <link href="{{ absolute_url('/assets/sweetalert2/dist/sweetalert2.min.css') }}" rel="stylesheet" />
    <link href="{{ absolute_url('/assets/css/now-ui-kit.min.css') }}" rel="stylesheet" />
    <link href="{{ absolute_url('/assets/css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ absolute_url('/animate/animate.min.css') }}" rel="stylesheet" />
    <link href="{{ absolute_url('/assets/loadbar/css/loading-bar.css') }}" rel="stylesheet" />
    <link href="{{ absolute_url('/assets/select2-develop/dist/css/select2.min.css') }}" rel="stylesheet" />
    <link href="{{ absolute_url('/assets/swiper/dist/css/swiper.min.css') }}" rel="stylesheet" />
    <link href="{{ absolute_url('/assets/form-multistep/form-step.css') }}" rel="stylesheet" />
    <link href="{{ absolute_url('/css/loading.css') }}" rel="stylesheet" />
    <link href="{{ absolute_url('/css/loading-btn.css') }}" rel="stylesheet" />
    <link href="{{ absolute_url('/css/style.css') }}" rel="stylesheet" />
    
   {% endblock %}

    {% block body %}
    
    <div class="page-header page-header-image-gallery">
        <div class="page-header-image animated pulse" data-parallax="true" style="background-image: url('/assets/img/photos/slide-inscription.jpg'); background-position: 0 50px !important;">
        </div>

        <!--Begin header-menu particulier space-->
        {% include "./part/menu/header-menu.html.twig" %}
        <!--END left header-menu particulier space-->

        <!-- Begin for row content header parallax -->
        <div class="row d-flex justify-content-center font-weight-light">
            <!-- ############# Begin slide beside -->
            <div class="col-12 col-md-8" style="padding-top: 1em;">
                <div class="container border-0">
                    <div class="w-100 d-flex flex-column pb-4 justify-content-center">
                        <div class="h4 text-white text-uppercase">
                            Bienvenue dans l'espace particulier
                        </div>
                    </div>
                </div>
            </div>
            <!-- ############# End slide beside -->
        </div>
    </div>
    <!--END HEADER-->


    <div class="jumbotron bg-transparent">
        <main class="section-1 section-main bg-white">
            <!--Begin section  of the list ads by artisan-->
            <section class="bg-transparent mt-5">
                <div class="container">
                    <div Class="row d-flex justify-content-center">

                        <!--Begin left menu particulier space-->
                        {% include "./part/menu/left-menu.html.twig" %}
                        <!--END left menu particulier space-->

                        <div class="col-12 col-md-8">
                            <div class="contenair-content">	
                                <div class="content-container-right">
									
                                </div>
                                <div class="content-container-right">
									
                                    <!--Begin top menu total particulier space-->
                                    {% include "./part/menu/top-menu.html.twig" %}
                                    <!--END top menu total particulier space-->
									
                                    <!-- My list devis receved ection -->
                                    <div class="card">
                                    <div class="card-body">
                                        
                                        <div class="row py-5">
                                            <div class="col-12">
                                                <h5 class="text-center">NOS NOUVEAUX PREFESSIONNELS IDEAL</h5>
                                                <div class="text-center text-muted">Vous souhaitez réaliser des travaux et ne savez quel professionnel choisir ? Demandez des devis travaux auprès de notre réseau des nouveaux professionnels partout.
                                                </div>
                                            </div>
                                            {% if pros != null %}
                                                {% for pro in pros %}                                           
                                                    <div class="col-12 col-sm-6 col-lg-4 py-4">
                                                        <div class="img-new-pro-container d-flex flex-column align-items-center justify-content-center bg-white rounded">
                                                            <div class="img-new-pro-content rounded-top" style="background-image: url(/assets/img/photos/{{pro.getUserCategoryActivity().getImg()}}); width: 100%; height: 155px;">
                                                                <div class="w-100">
                                                                    <a class="btn-warning float-left m-1 p-2 small text-white">{{ pro.getUserCategoryActivity().getCategTitle() }}</a>
                                                                    <a class="btn btn-danger btn-pro-emotion-heart rounded-circle float-right m-1">
                                                                        <span class="lnr lnr-heart icon-pro-emotion-heart"></span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="img-pro-desc d-flex flex-row align-items-center justify-content-center  text-center py-2">
                                                                <div class="border border-secondary rounded-circle">
                                                                    <img class="pro-logo rounded-circle" src="{{ absolute_url('/assets/img/photos/' ~ pro.getLogo()) }} " style="width: 64px; height: auto;"></img>
                                                                </div>
                                                                <div class="d-flex flex-column align-items-center justify-content-center text-left">
                                                                    <span class="d-inline text-center">
                                                                        <a class="btn btn-outline-secondary m-2">En vedette</a>
                                                                        <a class="btn btn-outline-secondary m-2">vérifié</a>
                                                                    </span>
                                                                    <span class="text-center ml-1">
                                                                        <a href="{{ path('show_detail_pro_page', {id: pro.id}) }}" class="text-decoration-none text-secondary">{{ pro.getCompanyName() }}</a>
                                                                    </span>
                                                                    <span class="small text-center">
                                                                        <span class="pro-point-star p-1"><span class="lnr lnr-star icon-star-pro text-warning"></span><span class="lnr lnr-star icon-star-pro text-warning"></span><span class="lnr lnr-star icon-star-pro text-warning"></span><span class="lnr lnr-star-half icon-star-pro text-warning"></span></span>
                                                                        <span class="pro-like-percent text-secondary p-1"><span class="lnr lnr-thumbs-up icon-like-pro text-secondary"></span> 99% (1009 votes) </span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %} 
                                            {% else %}
                                                Aucun Nouveaux Professionnels
                                            {% endif %}
                                            <div class="col-12 d-flex justify-content-center">
                                                <a class="btn btn-warning btn-show-pro-all" href="{{ path('space_find_pro_page') }}">Voir tous les professionnels >></a>
                                            </div>						
                                        </div>

                                    </div>
                                    <!-- <img class="card-img-bottom" src="..." alt="Card image cap"> -->
                                    </div>
                                    <!-- End My list devis receverd section -->
								
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--End section  of the list ads by artisan-->
        </main>

        {% include "./part/footer/footer.html.twig" %}

    </div>

    {% endblock %}

    {% block javascripts %}

    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>-->
    <!-- MESSAGE NTIFICATION -->
    <script src="{{ absolute_url('/assets/sweetalert2/dist/sweetalert2.all.min.js') }}"></script>
    <script src="{{ absolute_url('/assets/sweetalert2/dist/sweetalert2.min.js') }}"></script>
    <!--Local-->
    <script src="{{ absolute_url('/assets/loadbar/js/loading-bar.js') }}"></script>
    <script src="{{ absolute_url('/assets/js/core/jquery.min.js') }}"></script>
    <script src="{{ absolute_url('/assets/js/core/bootstrap.min.js') }}"></script>
    <script src="{{ absolute_url('/assets/js/now-ui-kit.min.js') }}"></script>
    <script src="{{ absolute_url('/assets/js/core/popper.min.js') }}"></script>
    <script src="{{ absolute_url('/assets/js/plugins/bootstrap-switch.js') }}"></script>
    <script src="{{ absolute_url('/assets/js/plugins/nouislider.min.js') }}"></script>
    <script src="{{ absolute_url('/assets/swiper/dist/js/swiper.min.js') }}"></script>
    <script src="{{ absolute_url('/assets/select2-develop/dist/js/select2.full.min.js') }}"></script>
    <script src="{{ absolute_url('/assets/select2-develop/dist/js/select2.min.js') }}"></script>
    <script src="https://www.google.com/recaptcha/api.js?render=6Lcr-qsUAAAAAPrCqD5Yk1iDIw9xBtzP6KSackqm"></script>
    <script src="{{ absolute_url('/assets/js/app.js') }}"></script>
    <script src="{{ absolute_url('/assets/js/particular.js') }}"></script>
    <script src="{{ absolute_url('/assets/form-multistep/form-step.js') }}"></script>

    {% endblock %}