{% extends  'base.html.twig' %}

    {% block stylesheets %}

    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />-->
    <script src="https://cdn.linearicons.com/free/1.0.0/svgembedder.min.js"></script>
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <!-- CSS Files -->
    <link href="{{ absolute_url('/assets/sweetalert2/dist/sweetalert2.min.css') }}" rel="stylesheet" />
    <link href="{{ absolute_url('/assets/css/now-ui-kit.min.css') }}" rel="stylesheet" />
    <link href="{{ absolute_url('/assets/css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ absolute_url('/animate/animate.min.css') }}" rel="stylesheet" />
    <link href="{{ absolute_url('/assets/loadbar/css/loading-bar.css') }}" rel="stylesheet" />
    <link href="{{ absolute_url('/assets/select2-develop/dist/css/select2.min.css') }}" rel="stylesheet" />
    <link href="{{ absolute_url('/assets/swiper/dist/css/swiper.min.css') }}" rel="stylesheet" />
    <link href="{{ absolute_url('/assets/form-multistep/form-step.css') }}" rel="stylesheet" />
    <link href="{{ absolute_url('/css/loading.css') }}" rel="stylesheet" />
    <link href="{{ absolute_url('/css/loading-btn.css') }}" rel="stylesheet" />
    <link href="{{ absolute_url('/assets/menu/menu-large.css') }}" rel="stylesheet" />
    <link href="{{ absolute_url('/assets/menu/menu-mobile.css') }}" rel="stylesheet" />
    <link href="{{ absolute_url('/assets/autocomplete/autocomplete.css') }}" rel="stylesheet" />
    <link href="{{ absolute_url('/assets/carousel/slid.css') }}" rel="stylesheet" />
    <link href="{{ absolute_url('/css/style.css') }}" rel="stylesheet" />

    <style>
        .page-header-image-gallery {
            min-height: 100vh !important;
        }
        /** CSS THEMES
            warning dark : rgb(255, 144, 0)
            warning claire : #ffc107
            gray dark: rgb(119, 119, 119) ou #777
            gray claire : rgb(240, 240, 240) ou #bfbfbf
            white claire : rgb(248, 248, 248) ou #ffffff
            black claire: rgba(0, 0, 0, 95%)
            black dark : #000000

        **/
        .navbar, .bg-grey {
            background: {{ themesColor['HEADER']['HEADER_FONT_COUL_1'].Color != null ? themesColor['HEADER']['HEADER_FONT_COUL_1'].Color : 'rgb(240, 240, 240)' }} !important;
            color: {{ themesColor['HEADER']['HEADER_TEXT_COUL_1'].Color != null ? themesColor['HEADER']['HEADER_TEXT_COUL_1'].Color : 'rgb(248, 248, 248)' }} !important;
        }
        .navbar-mega, .sidepanel, .bg-darkgray {
            background: {{ themesColor['HEADER']['HEADER_FONT_COUL_2'].Color != null ? themesColor['HEADER']['HEADER_FONT_COUL_2'].Color : '#777'}} !important;
            color: {{ themesColor['HEADER']['HEADER_TEXT_COUL_2'].Color != null ? themesColor['HEADER']['HEADER_TEXT_COUL_1'].Color : 'rgb(248, 248, 248)' }} !important;
        }

        button, .bg-warning, .icon-sondage, .triangle {
            background: {{ themes['BUTTON_FOND_COLOR'].colorFond != null ? themes['BUTTON_FOND_COLOR'].colorFond : 'rgb(255, 144, 0)' }} !important;
            color: {{ themes['BUTTON_TEXT_COLOR'].colorFond != null ? themes['BUTTON_TEXT_COLOR'].colorFond : ' rgb(248, 248, 248)' }} !important;
        }
        .triangle::after {
            border-color: transparent transparent {{ themes['BUTTON_FOND_COLOR'].colorFond != null ? themes['BUTTON_FOND_COLOR'].colorFond : 'rgb(255, 144, 0)' }} {{ themes['BUTTON_FOND_COLOR'].colorFond != null ? themes['BUTTON_FOND_COLOR'].colorFond : 'rgb(255, 144, 0)' }} !important;
        }

        .man-young-container .text-title {
            color: {{ themesColor['TEXT_TITLE']['TEXT_TITLE_COLOR_3'].Color != null ? themesColor['TEXT_TITLE']['TEXT_TITLE_COLOR_3'].Color : ' #ffc107' }} !important;
        }
        .man-young-container .text-desc {
            color: {{ themesColor['TEXT_DESCRIPTION']['TEXT_DESCRIPTION_COLOR_1'].Color != null ? themesColor['TEXT_DESCRIPTION']['TEXT_DESCRIPTION_COLOR_1'].Color : ' rgb(248, 248, 248)' }} !important;
        }
        .text-dark {
            color: {{ themesColor['TEXT_TITLE']['TEXT_TITLE_COLOR_2'].Color != null ? themesColor['TEXT_TITLE']['TEXT_TITLE_COLOR_2'].Color : ' #ffc107' }} !important;
        }
        p, .text-secondary {
            color: {{ themesColor['TEXT_DESCRIPTION']['TEXT_DESCRIPTION_COLOR_2'].Color != null ? themesColor['TEXT_DESCRIPTION']['TEXT_DESCRIPTION_COLOR_2'].Color : ' rgb(248, 248, 248)' }} !important;
        }
        .text-warning {
            color: {{ themesColor['TEXT_TITLE']['TEXT_TITLE_COLOR_3'].Color != null ? themesColor['TEXT_TITLE']['TEXT_TITLE_COLOR_3'].Color : ' #ffc107' }} !important;
        }
        .text-white {
            color: {{ themesColor['TEXT_TITLE']['TEXT_TITLE_COLOR_1'].Color != null ? themesColor['TEXT_TITLE']['TEXT_TITLE_COLOR_1'].Color : ' #ffffff' }} !important;
        }
        .page-header-image {
            background-blend-mode: overlay !important;
            background-color: {{ themes['BUTTON_FOND_COLOR'].colorFond != null ? themes['BUTTON_FOND_COLOR'].colorFond : 'rgba(255, 144, 0, 50%)' }} !important;
        }
        .section-footer {
            background-image: url(/uploads/themes/{{ themes['FOOTER'].imageFond != null ? themes['FOOTER'].imageFond : 'footer_bg.jpg'}}) !important;
            background-color: {{ themes['FOOTER'].colorFond != null ? themes['FOOTER'].colorFond : 'rgba(19, 19, 19, 95%)'}}) !important;
            background-blend-mode: overlay !important;
        }
       
    </style>  
    
{% endblock %}

    {% block body %}
    
    <div class="page-header page-header-image-gallery">
        <div class="page-header-image animated pulse" data-parallax="true" style="background-image: url('/uploads/themes/{{ themes['SPACE_PARTICULIER'].imageFond != null ? themes['SPACE_PARTICULIER'].imageFond : 'pros-talk-us.jpg' }}'); background-position: 0 50px !important;">
        </div>
        
        <!--Begin header-menu particulier space-->
        {% include "./part/menu/header-menu.html.twig" %}
        <!--END left header-menu particulier space-->

        <!-- Begin for row content header parallax -->
        <div class="row d-flex justify-content-center font-weight-light">
            <!-- ############# Begin slide beside -->
            <div class="col-12 col-md-8" style="padding-top: 1em;">
                <div class="container particular-face border-0">
                    <div class="w-100 d-flex flex-column pb-4 justify-content-center">
                        <div class="h2 title-part text-white text-uppercase">
                            Bienvenue dans l'espace particulier
                        </div>
                    </div>
                </div>
            </div>
            <!-- ############# End slide beside -->
        </div>
    </div>
    <!--END HEADER-->


    <div class="jumbotron bg-transparent">
        <main class="section-1 section-main bg-white">
            <!--Begin section  of the list ads by artisan-->
            <section class="bg-transparent mt-5">
                <div class="container">
                    <div Class="row d-flex justify-content-center">

                        <!--Begin left menu particulier space-->
                        {% include "./part/menu/left-menu.html.twig" %}
                        <!--END left menu particulier space-->

                        <div class="col-12 col-md-8">
                            <div class="contenair-content">	
                                <div class="content-container-right">
									
                                </div>
                                <div class="content-container-right">
									
                                    <!--Begin top menu total particulier space-->
                                    {% include "./part/menu/top-menu.html.twig" %}
                                    <!--END top menu total particulier space-->

                                    <!-- My Ads Project section Detail-->
                                    <div class="card">
                                        <div class="card-body">
                                            <span class="lnr lnr-chevron-right float-left text-warning font-weight-bold"></span><h6 class="card-title d-inline text-uppercase">DETAIL DE VOTRE ANNONCE</h6>
                                            
                                            <div class="row d-flex justify-content-center py-1">
                                                <div class="col-12 col-md-10 bg-white text-secondary pb-2">
                                                    <p class=""><h6 class>Contact</h6></p>
                                                    <hr class="bg-darkgray" style="height: 1px;" />
                                                    {# <p class="">Prénom: </p> #}
                                                    <p class="">Nom: {{ detailPost.getPostUserId().getFirstname() }}</p>
                                                    <p class="">Téléphone:{{ detailPost.getPostUserId().getMobile() }}</p>
                                                    <p class="">E-mail: {{detailPost.getPostUserId().getEmail() }}</p>
                                                    <p class="">Ville: {{ detailPost.getPostUserId().getUserCity().getVilleNomReel() }}</p>
                                                    <p class="">Code postal: {{ detailPost.getPostUserId().getZipCode() }}</p>
                                                </div>
                                                <div class="col-12 col-md-10 bg-white text-secondary pb-2">
                                                    <p class=""><h6 class>Détails du chantier</h6></p>
                                                    <hr class="bg-darkgray" style="height: 1px;" />
                                                    <p class="">Type du projet:  {{ detailPost.getTypeId().getTitle() }}</p>
                                                    <p class="">Nature du projet: {{ detailPost.getArticleId() != null ? detailPost.getArticleId().getArticleTitle() : '' }}</p>
                                                    <p class="">Domaine de spécialisation: {{ detailPost.getCategoryId().getCategTitle() }}</p>

                                                </div>
                                                <div class="col-12 col-md-10 bg-white text-secondary pb-2">
                                                    <p class=""><h6 class>Informations pratiques</h6></p>
                                                    <hr class="bg-darkgray" style="height: 1px;" />
                                                    <p class="">Date de la demande:{{ detailPost.getPostAdsDateCrea() | date('d/m/y H:m:s') }}</p>
                                                    <p class="">Type d’habitation: Récent</p>
                                                    <p class="">Début du projet: {{detailPost.getPostAdsStartDate() | date('d/m/y') }}</p>
                                                </div>
                                                <div class="col-12 col-md-10 bg-white text-secondary pb-2">
                                                    <p class=""><h6 class>Description du projet: </h6></p>
                                                    <hr class="bg-darkgray" style="height: 1px;" />
                                                    <p class="">{{ detailPost.getPostAdsTravauxDescription() }}</p>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <!-- End My Ads Project section Detail -->
        
                                    <!-- My list cadidature of ads posted section -->
                                    <div class="card">
                                    <div class="card-body">
                                        <span class="lnr lnr-chevron-right float-left text-dark font-weight-bold"></span><h6 class="card-title d-inline text-uppercase">Les {{ nbResponsePosts }} candidatures de ce projet</h6>
                                            <ul class="list-group list-group-flush">
                                                                                                                                                                                                                                                                                                                                                                                                                                    
                                            {% if listResponsePosts != null %}
                                            {% for listResponsePost in listResponsePosts %}                                                                                   
                                            
                                                    <li class="list-group-item list-item-particular-left list-project-particular-2 bg-transparent text-center">
                                                        <div class="d-flex flex-column flex-sm-row align-items-center justify-content-center justify-sm-content-around">
                                                            
                                                            <div class="">
                                                            
                                                                {% if listResponsePost.getUserProId().getLogo() != null %}
                                                                <img class="rounded-circle" src="{{ absolute_url('/uploads/logo/' ~ listResponsePost.getUserProId().getLogo()) }} " style="width: 64px; height: auto;" style="height: 64px; width: 64px;"></img>
                                                                {% else %}
                                                                <img class="rounded-circle" src="{{ absolute_url('/uploads/logo/avatar-pro.png') }} " style="width: 64px; height: auto;" style="height: 64px; width: 64px;"></img>
                                                                {% endif %}
                                                            
                                                                <span class="d-block text-success small"><a data-message="{{ listResponsePost.getMessage() }}" href="javascript:void(0);" class="d-inline btn-link-view-letter-pro text-nowrap"> > Voir sa lettre <span class="badge badge-danger rounded">1</span></a></span>
                                                            </div>
                                                            <div class="">
                                                                <span class="d-block text-warning font-weight-bold"> {{ listResponsePost.getUserProId().getCompanyName() }} <small class="text-secondary text-capitalize font-weight-light">({{ listResponsePost.getUserProId().getFirstname() }})</small></span>
                                                                <span class="d-block">Mobile: <small class="text-secondary">{{ listResponsePost.getUserProId().getMobile() }}</small></span>
                                                                <span class="d-block">Mail: <small class="text-warning">{{ listResponsePost.getUserProId().getEmail() }}</small></span>
                                                                <span class="d-block py-2"><small class="text-warning"><a href="{{ path('show_detail_pro_page', {id: listResponsePost.getUserProId().getId()}) }}" class="btn-outline-warning btn-pro-bog-visite text-nowrap"> >visiter son blog</a></small></span>
                                                            </div>
                                                            <div class="">
                                                                <span class="d-block"></span>

                                                                {% if nbDevisPros != null %}
                                                                {% for key, nbDevisPro in nbDevisPros %}
                                                                    {% if key == listResponsePost.getUserProId().getId() %}
                                                                    <span class="d-block text-secondary">
                                                                    <small>
                                                                    {{ nbDevisPro ~ ' demandes de devis traitées' }}
                                                                    </small>
                                                                    </span>
                                                                    {% endif %}
                                                                {% endfor %}
                                                                {% else %}
                                                                    Ce pros n'a pas encore de demandes traitées!
                                                                {% endif %}
                                                                <!-- End list nobre devis pros -->

                                                                {% if nbEvaluationPros != null %}
                                                                {% for key, nbEvaluationPro in nbEvaluationPros %}
                                                                    {% if key == listResponsePost.getUserProId().getId() %}
                                                                    <span class="d-block text-secondary">
                                                                    <small>
                                                                    {{ nbEvaluationPro ~ ' avis reçus' }}
                                                                    </small>
                                                                    </span>
                                                                    {% endif %}
                                                                {% endfor %}
                                                                {% else %}
                                                                <span class="d-block text-secondary"><small>Ce pro n'a pas encore reçus d'avis</small></span>
                                                                {% endif %}

                                                                {% for key, partIsEvaluatePro in partIsEvaluatePros %}
                                                                    {% if key == listResponsePost.getUserProId().getId() and partIsEvaluatePro == false %}
                                                                    <span class="d-block text-secondary">
                                                                    <small>
                                                                        <span class="d-block alert-danger text-danger px-1"><small>Vous n'avez pas encore évalué ce pro!</small></span>
                                                                        {# <span class="d-block small"><a data-id="{{ listProsAcceptDev.getUserId().getId() }}" class="btn btn-warning btn-show-form-add-avis">Donner mon avis</a></span> #}
                                                                    </small>
                                                                    </span>
                                                                    {% endif %}
                                                                {% endfor %}
                                                                
                                                                <span class="d-block small"><a href="{{ path('post_ask_devis_page', {id: detailPost.getCategoryId().getId(), prosId: listResponsePost.getUserProId().getId()}) }}" class="btn btn-warning btn-ask-devis">Je demande un devis</a></span>
                                                            </div>
                                                        
                                                            <span class="d-none btn-action-particular-2 animated slideInRight">
                                                                <span class="d-inline d-sm-block bg-dark p-2"><span class="lnr lnr-eye"></span></span>
                                                                <span class="d-inline d-sm-block bg-danger p-2"><span class="lnr lnr-trash"></span></span>
                                                            </span>

                                                        </div>
                                                    </li>

                                            {% endfor %}
                                            {% else %}
                                                Pas encore des professionnels qui répondre votre demandes!
                                            {% endif %}
                                            </ul>
                                    </div>
                                    </div>
                                    <!-- End My list cadidature of ads posted section -->
					
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--End section  of the list ads by artisan-->
        </main>

        {% include "./part/footer/footer.html.twig" %}

    </div>

    {% endblock %}

    {% block javascripts %}

    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>-->
    <!-- MESSAGE NTIFICATION -->
    <script src="{{ absolute_url('/assets/sweetalert2/dist/sweetalert2.all.min.js') }}"></script>
    <script src="{{ absolute_url('/assets/sweetalert2/dist/sweetalert2.min.js') }}"></script>
    <!--Local-->
    <script src="{{ absolute_url('/assets/loadbar/js/loading-bar.js') }}"></script>
    <script src="{{ absolute_url('/assets/js/core/jquery.min.js') }}"></script>
    <script src="{{ absolute_url('/assets/js/core/bootstrap.min.js') }}"></script>
    <script src="{{ absolute_url('/assets/js/now-ui-kit.min.js') }}"></script>
    <script src="{{ absolute_url('/assets/js/core/popper.min.js') }}"></script>
    <script src="{{ absolute_url('/assets/js/plugins/bootstrap-switch.js') }}"></script>
    <script src="{{ absolute_url('/assets/js/plugins/nouislider.min.js') }}"></script>
    <script src="{{ absolute_url('/assets/swiper/dist/js/swiper.min.js') }}"></script>
    <script src="{{ absolute_url('/assets/select2-develop/dist/js/select2.full.min.js') }}"></script>
    <script src="{{ absolute_url('/assets/select2-develop/dist/js/select2.min.js') }}"></script>
    <script src="{{ absolute_url('/assets/menu/menu.js') }}"></script>
    <script src="{{ absolute_url('/assets/js/app.js') }}"></script>
    <script src="{{ absolute_url('/assets/js/particular.js') }}"></script>
    <script src="{{ absolute_url('/assets/form-multistep/form-step.js') }}"></script>

    {% endblock %}