{% extends  'base.html.twig' %}

    {% block stylesheets %}

    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />-->
    <script src="https://cdn.linearicons.com/free/1.0.0/svgembedder.min.js"></script>
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <!-- CSS Files -->
    <link href="{{ absolute_url('/assets/sweetalert2/dist/sweetalert2.min.css') }}" rel="stylesheet" />
    <link href="{{ absolute_url('/assets/css/now-ui-kit.min.css') }}" rel="stylesheet" />
    <link href="{{ absolute_url('/assets/css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ absolute_url('/animate/animate.min.css') }}" rel="stylesheet" />
    <link href="{{ absolute_url('/assets/loadbar/css/loading-bar.css') }}" rel="stylesheet" />
    <link href="{{ absolute_url('/assets/select2-develop/dist/css/select2.min.css') }}" rel="stylesheet" />
    <link href="{{ absolute_url('/assets/swiper/dist/css/swiper.min.css') }}" rel="stylesheet" />
    <link href="{{ absolute_url('/assets/form-multistep/form-step.css') }}" rel="stylesheet" />
    <link href="{{ absolute_url('/css/loading.css') }}" rel="stylesheet" />
    <link href="{{ absolute_url('/css/loading-btn.css') }}" rel="stylesheet" />
    <link href="{{ absolute_url('/css/style.css') }}" rel="stylesheet" />
    
{% endblock %}

    {% block body %}
    
    <div class="page-header page-header-image-gallery">
        <div class="page-header-image animated pulse" data-parallax="true" style="background-image: url('/assets/img/photos/slide-inscription.jpg'); background-position: 0 50px !important;">
        </div>
        
        <!--Begin header-menu particulier space-->
        {% include "./part/menu/header-menu.html.twig" %}
        <!--END left header-menu particulier space-->

        <!-- Begin for row content header parallax -->
        <div class="row d-flex justify-content-center font-weight-light">
            <!-- ############# Begin slide beside -->
            <div class="col-12 col-md-8" style="padding-top: 1em;">
                <div class="container border-0">
                    <div class="w-100 d-flex flex-column pb-4 justify-content-center">
                        <div class="h4 text-white text-uppercase">
                            Bienvenue dans l'espace particulier
                        </div>
                    </div>
                </div>
            </div>
            <!-- ############# End slide beside -->
        </div>
    </div>
    <!--END HEADER-->


    <div class="jumbotron bg-transparent">
        <main class="section-1 section-main bg-white">
            <!--Begin section  of the list ads by artisan-->
            <section class="bg-transparent mt-5">
                <div class="container">
                    <div Class="row d-flex justify-content-center">

                        <!--Begin left menu particulier space-->
                        {% include "./part/menu/left-menu.html.twig" %}
                        <!--END left menu particulier space-->

                        <div class="col-12 col-md-8">
                            <div class="contenair-content">	
                                <div class="content-container-right">
									
                                </div>
                                <div class="content-container-right">
									
                                    <!--Begin top menu total particulier space-->
                                    {% include "./part/menu/top-menu.html.twig" %}
                                    <!--END top menu total particulier space-->

                                    <!-- My Ads Project section Detail-->
                                    <div class="card">
                                        <div class="card-body">
                                            <span class="lnr lnr-chevron-right float-left text-warning font-weight-bold"></span><h6 class="card-title d-inline text-uppercase">DETAIL DE VOTRE ANNONCE</h6>
                                            
                                            <div class="row d-flex justify-content-center py-1">
                                                <div class="col-12 col-md-10 bg-white text-secondary pb-2">
                                                    <p class=""><h6 class>Contact</h6></p>
                                                    <hr class="bg-darkgray" style="height: 1px;" />
                                                    <p class="">Prénom: XXXXXX</p>
                                                    <p class="">Nom: XXXXXX</p>
                                                    <p class="">Téléphone: XXXXXX</p>
                                                    <p class="">E-mail: XXXXXX</p>
                                                    <p class="">Ville: XXXXXX</p>
                                                    <p class="">Code postal: XXXXXX</p>
                                                </div>
                                                <div class="col-12 col-md-10 bg-white text-secondary pb-2">
                                                    <p class=""><h6 class>Détails du chantier</h6></p>
                                                    <hr class="bg-darkgray" style="height: 1px;" />
                                                    <p class="">Nature du projet: XXXXXX</p>
                                                    <p class="">Domaine de spécialisatio: XXXXXX</p>
                                                    <p class="">Description du projet: <br> XXXXXX</p>
                                                </div>
                                                <div class="col-12 col-md-10 bg-white text-secondary pb-2">
                                                    <p class=""><h6 class>Informations pratiques</h6></p>
                                                    <hr class="bg-darkgray" style="height: 1px;" />
                                                    <p class="">Date de la demande: XXXXXX</p>
                                                    <p class="">Type de client: XXXXXX</p>
                                                    <p class="">Type d’habitation: Récent</p>
                                                    <p class="">Début du projet: Immédiat</p>
                                                </div>
                                                <div class="col-12 col-md-10 bg-white text-secondary pb-2">
                                                    <p class=""><h6 class>Informations supplémentaires</h6></p>
                                                    <hr class="bg-darkgray" style="height: 1px;" />
                                                    <p class="">La surface à aplanir(en m2):<br> XXXXXX</p>
                                                    <p class="">L'état du terrain ?: <br> XXXXXX</p>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <!-- End My Ads Project section Detail -->
        
                                    <!-- My list cadidature of ads posted section -->
                                    <div class="card">
                                    <div class="card-body">
                                        <span class="lnr lnr-chevron-right float-left text-dark font-weight-bold"></span><h6 class="card-title d-inline text-uppercase">Les +nombre+ candidatures de projet + titre d'un projet</h6>
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item list-item-particular-left list-project-particular-2 bg-transparent text-center">
                                                    <div class="d-flex flex-column flex-sm-row align-items-center justify-content-center justify-sm-content-around">
                                                        
                                                        <div class="">
                                                            <span class="d-block">Icon</span>
                                                            <span class="d-block text-success small"><a href="javascript:void(0);" class="d-inline btn-link-view-letter-pro text-nowrap"> > Voir sa lettre <span class="badge badge-danger rounded">1</span></a></span>
                                                        </div>
                                                        <div class="">
                                                            <span class="d-block text-warning font-weight-bold">Company-name here <small class="text-secondary font-weight-light">(Pro-name here)</small></span>
                                                            <span class="d-block">Mobile: <small class="text-secondary">+261348806399</small></span>
                                                            <span class="d-block">Mail: <small class="text-warning">florent.tata15@gmail.com</small></span>
                                                            <span class="d-block py-2"><small class="text-warning"><a class="btn-outline-warning btn-pro-bog-visite text-nowrap"> >visiter son blog</a></small></span>
                                                        </div>
                                                        <div class="">
                                                            <span class="d-block"></span>
                                                            <span class="d-block text-secondary"><small>144 demandes de devis traitées</small></span>
                                                            <span class="d-block text-secondary"><small>4 avis reçus</small></span>
                                                            <span class="d-block text-secondary"><small>Ce pro n'a pas encore reçus d'avis</small></span>
                                                            <span class="d-block alert-danger text-danger px-1"><small>Vous n'avez pas encore évalué ce pro!</small></span>
                                                            <span class="d-block small"><a data-ads="" class="btn btn-warning btn-ask-devis">Je demande un devis</a></span>
                                                        </div>
													
                                                        <span class="d-none btn-action-particular-2 animated slideInRight">
                                                            <span class="d-inline d-sm-block bg-dark p-2"><span class="lnr lnr-eye"></span></span>
                                                            <span class="d-inline d-sm-block bg-danger p-2"><span class="lnr lnr-trash"></span></span>
                                                        </span>

                                                    </div>
                                                </li>
                                            </ul>
                                    </div>
                                    </div>
                                    <!-- End My list cadidature of ads posted section -->
					
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--End section  of the list ads by artisan-->
        </main>

        {% include "./part/footer/footer.html.twig" %}

    </div>

    {% endblock %}

    {% block javascripts %}

    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>-->
    <!-- MESSAGE NTIFICATION -->
    <script src="{{ absolute_url('/assets/sweetalert2/dist/sweetalert2.all.min.js') }}"></script>
    <script src="{{ absolute_url('/assets/sweetalert2/dist/sweetalert2.min.js') }}"></script>
    <!--Local-->
    <script src="{{ absolute_url('/assets/loadbar/js/loading-bar.js') }}"></script>
    <script src="{{ absolute_url('/assets/js/core/jquery.min.js') }}"></script>
    <script src="{{ absolute_url('/assets/js/core/bootstrap.min.js') }}"></script>
    <script src="{{ absolute_url('/assets/js/now-ui-kit.min.js') }}"></script>
    <script src="{{ absolute_url('/assets/js/core/popper.min.js') }}"></script>
    <script src="{{ absolute_url('/assets/js/plugins/bootstrap-switch.js') }}"></script>
    <script src="{{ absolute_url('/assets/js/plugins/nouislider.min.js') }}"></script>
    <script src="{{ absolute_url('/assets/swiper/dist/js/swiper.min.js') }}"></script>
    <script src="{{ absolute_url('/assets/select2-develop/dist/js/select2.full.min.js') }}"></script>
    <script src="{{ absolute_url('/assets/select2-develop/dist/js/select2.min.js') }}"></script>
    <script src="https://www.google.com/recaptcha/api.js?render=6Lcr-qsUAAAAAPrCqD5Yk1iDIw9xBtzP6KSackqm"></script>
    <script src="{{ absolute_url('/assets/js/app.js') }}"></script>
    <script src="{{ absolute_url('/assets/js/particular.js') }}"></script>
    <script src="{{ absolute_url('/assets/form-multistep/form-step.js') }}"></script>

    {% endblock %}