	
    <button type="button" class="navbar-toggler btn-toggle-menu" data-toggle="collapse" data-target=".navbar-collapse">☰</button>
    <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li class="dropdown menu-large nav-item"> <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">INSTALLER</a>
        <ul class="dropdown-menu  megamenu">
        <div class="row">
        <li class="col-12 col-sm-7 text-center">
            <ul class="row" style=" list-style-type: none;">

                <div class="col-12 col-md-4 col-lg-3 p-0">
                <li class="dropdown-header">Categorie-1</li>
                <li><a href="{{ path('post_ask_devis_page') }}">Article-1</a>
                </li>
                <li><a href="{{ path('post_ask_devis_page') }}">Article-2</a>
                </li>
                <li class="divider"></li>
                </div>
								
                <div class="col-12 col-md-4 col-lg-3 p-0">
                <li class="dropdown-header">Categorie-2</li>
                <li><a href="{{ path('post_ask_devis_page') }}">Article-1</a>
                </li>
                <li><a href="{{ path('post_ask_devis_page') }}">Article-2</a>
                </li>
                <li class="divider"></li>
                </div>
									
            </ul>
        </li>
        <li class=" col-12 col-sm-5 dropdown-item">
            <div class="row">
                <div class="col-12 text-white pb-2 text-center">Les  plus populaires</div>
									
                <div class="col-12 col-md-6">
                    <div class="card d-flex flex-column align-content-center" style="width: 150; height: 120;">
                        <a href="#" class="thumbnail">
                        <img src="{{ absolute_url('/assets/img/photos/head-1.jpg') }}">
                        </a>
                        <a href="{{ path('post_ask_devis_page') }}" class="text-decoration-none text-warning">Nom de l'article-1 ici</a>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="card d-flex flex-column align-content-center" style="width: 150; height: 120;">
                        <a href="#" class="thumbnail">
                        <img src="{{ absolute_url('/assets/img/photos/head-1.jpg') }}">
                        </a>
                        <a href="{{ path('post_ask_devis_page') }}" class="text-decoration-none  text-warning">Nom de l'article-2 ici</a>
                    </div>
                </div>

            </div>
        </li>
        </div>
        </ul>
    </li>
    <li class="dropdown menu-large nav-item"> <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">RENOVER </a>
        <ul class="dropdown-menu megamenu">
        <div class="row">
        <li class="col-12 col-sm-7 text-center">
            <ul class="row" style=" list-style-type: none;">

                <div class="col-12 col-md-4 col-lg-3 p-0">
                <li class="dropdown-header">Categorie-1</li>
                <li><a href="{{ path('post_ask_devis_page') }}">Article-1</a>
                </li>
                <li><a href="{{ path('post_ask_devis_page') }}">Article-2</a>
                </li>
                <li class="divider"></li>
                </div>
								
                <div class="col-12 col-md-4 col-lg-3 p-0">
                <li class="dropdown-header">Categorie-2</li>
                <li><a href="{{ path('post_ask_devis_page') }}">Article-1</a>
                </li>
                <li><a href="{{ path('post_ask_devis_page') }}">Article-2</a>
                </li>
                <li class="divider"></li>
                </div>

            </ul>
        </li>
        <li class=" col-12 col-sm-5 dropdown-item">
            <div class="row">
                <div class="col-12 text-white pb-2 text-center">Les  plus populaires</div>
									
                <div class="col-12 col-md-6">
                    <div class="card d-flex flex-column align-content-center" style="width: 150; height: 120;">
                        <a href="#" class="thumbnail">
                        <img src="{{ absolute_url('/assets/img/photos/head-1.jpg') }}">
                        </a>
                        <a href="#" class="text-decoration-none text-warning">Nom de l'article-1 ici</a>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="card d-flex flex-column align-content-center" style="width: 150; height: 120;">
                        <a href="#" class="thumbnail">
                        <img src="{{ absolute_url('/assets/img/photos/head-1.jpg') }}">
                        </a>
                        <a href="#" class="text-decoration-none  text-warning">Nom de l'article-2 ici</a>
                    </div>
                </div>

            </div>
        </li>
        </div>
        </ul>
    </li>
    <li class="dropdown menu-large nav-item"> <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">Aménager son intérieur</a>
        <ul class="dropdown-menu megamenu">
        <div class="row">
        <li class="col-12 col-sm-7 text-center">
            <ul class="row" style=" list-style-type: none;">

                <div class="col-12 col-md-4 col-lg-3 p-0">
                    <li class="dropdown-header">Categorie-1</li>
                    <li><a href="{{ path('post_ask_devis_page') }}">Article-1</a>
                    </li>
                    <li><a href="{{ path('post_ask_devis_page') }}">Article-2</a>
                    </li>
                    <li class="divider"></li>
                </div>
								
                <div class="col-12 col-md-4 col-lg-3 p-0">
                    <li class="dropdown-header">Categorie-2</li>
                    <li><a href="{{ path('post_ask_devis_page') }}">Article-1</a>
                    </li>
                    <li><a href="{{ path('post_ask_devis_page') }}">Article-2</a>
                    </li>
                    <li class="divider"></li>
                </div>

            </ul>
        </li>
        <li class=" col-12 col-sm-5 dropdown-item">
            <div class="row">
                <div class="col-12 text-white pb-2 text-center">Les  plus populaires</div>
									
                <div class="col-12 col-md-6">
                    <div class="card d-flex flex-column align-content-center" style="width: 150; height: 120;">
                        <a href="#" class="thumbnail">
                        <img src="{{ absolute_url('/assets/img/photos/head-1.jpg') }}">
                        </a>
                        <a href="{{ path('post_ask_devis_page') }}" class="text-decoration-none text-warning">Nom de l'article-1 ici</a>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="card d-flex flex-column align-content-center" style="width: 150; height: 120;">
                        <a href="#" class="thumbnail">
                        <img src="{{ absolute_url('/assets/img/photos/head-1.jpg') }}">
                        </a>
                        <a href="{{ path('post_ask_devis_page') }}" class="text-decoration-none  text-warning">Nom de l'article-2 ici</a>
                    </div>
                </div>

            </div>
        </li>
        </div>
        </ul>
        </li>
        <li class="dropdown menu-large nav-item"> <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">Aménager son extérieur</a>
        <ul class="dropdown-menu megamenu">
        <div class="row">
        <li class="col-12 col-sm-7 text-center">
            <ul class="row" style=" list-style-type: none;">

                <div class="col-12 col-md-4 col-lg-3 p-0">
                    <li class="dropdown-header">Categorie-1</li>
                    <li><a href="{{ path('post_ask_devis_page') }}">Article-1</a>
                    </li>
                    <li><a href="{{ path('post_ask_devis_page') }}">Article-2</a>
                    </li>
                    <li class="divider"></li>
                </div>
								
                <div class="col-12 col-md-4 col-lg-3 p-0">
                    <li class="dropdown-header">Categorie-2</li>
                    <li><a href="{{ path('post_ask_devis_page') }}">Article-1</a>
                    </li>
                    <li><a href="{{ path('post_ask_devis_page') }}">Article-2</a>
                    </li>
                    <li class="divider"></li>
                </div>

            </ul>
        </li>
        <li class=" col-12 col-sm-5 dropdown-item">
            <div class="row">
                <div class="col-12 text-white pb-2 text-center">Les  plus populaires</div>
									
                <div class="col-12 col-md-6">
                    <div class="card d-flex flex-column align-content-center" style="width: 150; height: 120;">
                        <a href="#" class="thumbnail">
                        <img src="{{ absolute_url('/assets/img/photos/head-1.jpg') }}">
                        </a>
                        <a href="{{ path('post_ask_devis_page') }}" class="text-decoration-none text-warning">Nom de l'article-1 ici</a>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="card d-flex flex-column align-content-center" style="width: 150; height: 120;">
                        <a href="#" class="thumbnail">
                        <img src="{{ absolute_url('/assets/img/photos/head-1.jpg') }}">
                        </a>
                        <a href="{{ path('post_ask_devis_page') }}" class="text-decoration-none  text-warning">Nom de l'article-2 ici</a>
                    </div>
                </div>

            </div>
        </li>
        </div>
        </ul>
        </li>
        <li class="dropdown menu-large nav-item"> <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">Construire </a>
        <ul class="dropdown-menu megamenu">
        <div class="row">
        <li class="col-12 col-sm-7 text-center">
            <ul class="row" style=" list-style-type: none;">

                <div class="col-12 col-md-4 col-lg-3 p-0">
                    <li class="dropdown-header">Categorie-1</li>
                    <li><a href="{{ path('post_ask_devis_page') }}">Article-1</a>
                    </li>
                    <li><a href="{{ path('post_ask_devis_page') }}">Article-2</a>
                    </li>
                    <li class="divider"></li>
                </div>
								
                <div class="col-12 col-md-4 col-lg-3 p-0">
                    <li class="dropdown-header">Categorie-2</li>
                    <li><a href="{{ path('post_ask_devis_page') }}">Article-1</a>
                    </li>
                    <li><a href="{{ path('post_ask_devis_page') }}">Article-2</a>
                    </li>
                    <li class="divider"></li>
                </div>

            </ul>
        </li>
        <li class=" col-12 col-sm-5 dropdown-item">
            <div class="row">
                <div class="col-12 text-white pb-2 text-center">Les  plus populaires</div>
									
                <div class="col-12 col-md-6">
                    <div class="card d-flex flex-column align-content-center" style="width: 150; height: 120;">
                        <a href="#" class="thumbnail">
                        <img src="{{ absolute_url('/assets/img/photos/head-1.jpg') }}">
                        </a>
                        <a href="{{ path('post_ask_devis_page') }}" class="text-decoration-none text-warning">Nom de l'article-1 ici</a>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="card d-flex flex-column align-content-center" style="width: 150; height: 120;">
                        <a href="#" class="thumbnail">
                        <img src="{{ absolute_url('/assets/img/photos/head-1.jpg') }}">
                        </a>
                        <a href="{{ path('post_ask_devis_page') }}" class="text-decoration-none  text-warning">Nom de l'article-2 ici</a>
                    </div>
                </div>

            </div>
        </li>
        </div>
        </ul>
        </li>
        <li class="nav-item"><a href="{{ path('space_find_pro_page') }}" class="nav-link">Trouver un pro</a></li>
    </ul>
    </div>	
</div> 