{{ form_start(form) }}

    
    {{ form_row(form.nomsite, {
        label: 'Nom du site:'
    }) }}
    {{ form_row(form.nomsite) }}

    
    
    {{ form_row(form.email, {
        label: 'Email:'
    }) }}
    {{ form_row(form.email) }}

    
    {{ form_row(form.numphone, {
        label: 'Numero mobile:'
    }) }}
    {{ form_row(form.numphone) }}


    {{ form_row(form.image, {
        label: 'Image '
    }) }}
    {{ form_row(form.image) }}

    <hr>        
               
    <div class="col-lg-12 row">
        <div class="col-lg-6 mb-5">        
            <button class="btn btn-success">{{ button_label|default('Save') }}</button>
        </div>        
        <div class="col-lg-6 mb-5">
            <a class="btn btn-secondary" href="{{ path('configsite_index') }}">back to list</a>
        </div>        
    </div>        

    
{{ form_end(form) }}
