
{% extends  'base.html.twig' %}

{% block stylesheets %}

  <title> Orange-Travaux ( Admin )</title>

  <!-- Custom fonts for this template-->
    <link href="{{ absolute_url('/assets/vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" />

  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
    <link href="{{ absolute_url('/assets/css/sb-admin-2.min.css') }}" rel="stylesheet" />

  <style>
      .card-header {
          background-color: #fcd42f4a;
      }
      #wrapper{
       background-color:#ececec;
      }

      
	/* width */
	::-webkit-scrollbar {
	  width: 10px;
	}

	/* Track */
	::-webkit-scrollbar-track {
	  background: #f1f1f1; 
	}
	 
	/* Handle */
	::-webkit-scrollbar-thumb {
	  background: #888; 
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
	  background: #555; 
	}
      .card-header {
          background-color: #fcd42f4a;
      }
	  
      #wrapper{
       background-color:#ececec;
      }
	  
	  
	    
		@media screen  and  (max-width: 680px){
			
			#sidebarToggleTop{
				display: block;
			}
			
			.row_menu {
				display: block;
				position: relative;    
				visibility: visible;
			}
			
			.icon_menu {
				font-size: 3em;
			}
			.menu_nav {
				display: none;	
				color: #fff;					
				background-color: RGBa(29, 197, 151, 0.97);	
				
				
				text-align: center;
				padding: 12px 0;
			}
			.card-body {
				font-size: 95%;
			}
			.img_logo{
				height: 15px;			
			}
			
			.head_title{
				font-size: 15px;			
			}
			
			.row_collecton_show{
				display: none;
			}
			.row_activiter_show{
				display: none;
			}
			
			.row_stat_show{
				display: none;
			}
		}
		
		@media screen  and  (min-width: 680px){
			.row_menu {
				display: none;
			}
			
			#sidebarToggleTop{
				display: none;
			}
			
			.row_collecton_show{
				display: block;
			}
			.row_activiter_show{
				display: block;
			}
			
			.row_stat_show{
				display: block;
			}
		}
	  
	  

    </style>
    
{% endblock %}

{% block body %}


<body id="page-top">

		<!--Begin head_bar api_admin space -->
		{% include "./admin/api_admin/head_bar.html.twig" %}
		<!--End head_bar api_admin space -->

  <!-- Page Wrapper -->
  <div id="wrapper" >

	<!--Begin nav_bar api_admin space -->
	{% include "./admin/api_admin/nav_bar.html.twig" %}
	<!--End nav_bar api_admin space -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" style="background-color:#ececec"; class="mt-5 d-flex flex-column">
	</br>

      <!-- Main Content -->
      <div id="content">
	  
        <!-- Begin Page Content -->
        <div class="container-fluid">

		  <!-- Divider -->
		  <hr class="sidebar-divider">

          <!-- Content Row -->
          <div class="row">
          
            <!-- card visualisation numero email logo -->
            <div class="col-12 mb-5">              
              <div class="card shadow mb-4">                
                <div class="card-body ">
                  <div class="text-center  row">                                                            
                    <hr>
                    
                    {% for configsite in configsites %}

                    <div class="col-lg-6">
                      <div class="form-group row">     
                        <div class="col-sm-12 mb-3 mb-sm-0"></br></br></br></br>
                          <h4 class="small  font-weight-bold"><i class="fa fa-cog"></i> Email officielle [ {{ configsite.nomsite }} ] :</h4>
                          <h3 class="email_org text-primary font-weight-bold">{{ configsite.email }}</h3>
                          <h3 style="display:none" class="email_new text-success font-weight-bold"></h3>
                        </div>
                      </div>

                      <div class="form-group row">
                        <div class="col-sm-12 mb-3 mb-sm-0">
                          <h4 class="small  font-weight-bold"><i class="fa  fa-phone-alt"></i> Numero telephone:</h4>
                          <h1 class="numtel_org text-primary  font-weight-bold">{{ configsite.numphone }}</h1>
                          <h1 style="display:none" class="numtel_new text-success  font-weight-bold"></h1>
                        </div>                          
                      </div>
                      
                      <a href="{{ path('configsite_edit', {'id': configsite.id}) }}">
                          <div  class="btn btn-warning">
                              Modifier
                          </div>
                      </a>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group row">
                        <div class="col-sm-12 mb-3 mb-sm-0">
                          <h4 class="small  font-weight-bold"><i class="fa  fa-business-time "></i> Logo de l'entreprise:</h4>              
                          
                          <hr>                           
                          <img style="width: 30em;" class="img-fluid img-fluid shadow" src="{{ absolute_url('/uploads/logo/') }}{{ configsite.image }}">
                        </div>                          
                      </div>
                    </div>
                   

                      
                    <hr>                           
                    
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}

                  </div>
                </div>
              </div>
            </div><!-- End card visualisation numero email logo -->

            <!-- End Content Column -->   

          </div>
		  
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->


    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
  
</br></br></br>
		<footer class="" style="position: fixed;z-index: 1;bottom: 0;">
				<div class="">								
				  <!-- Scroll to Top Button-->
				  <a href="/admin/">
					  <div class="btn-circle btn-secondary" style="z-index: 2;display: inline;">
						<i class="fas fa-home">Menu</i>
					  </div>				  
				  </a>
				</div>
			</footer>

</body>

	{% endblock %}

	{% block javascripts %}


  <!-- Bootstrap core JavaScript-->
  <script src="{{ absolute_url('/assets/vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ absolute_url('/assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{{ absolute_url('/assets/vendor/jquery-easing/jquery.easing.min.js') }}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{{ absolute_url('/assets/js/sb-admin-2.min.js') }}"></script>


	<script>
  
		$(function () { $('#myModal').modal('hide')});
		/*$(function () { $('#myModal').on('hide.bs.modal', function () {
			alert('Hey, I heard you like modals...');})
		});*/
	</script>
	
	
	
	<script>
	
		$('.nav-item').removeClass('active');
		$('.nav_config_site').addClass('active');
		
		$('.visualiser').click(function (){
			//$('.email_org').text('modifier').addClass('text-success').removeClass('text-primary');			
			//$('.numtel_org').text('modifier').addClass('text-success').removeClass('text-primary');
			//$('.email_new').text('modifier').addClass('text-success').removeClass('text-primary');			
			//$('.numtel_new').text('modifier').addClass('text-success').removeClass('text-primary');
			
			$('.email_org').attr('style','display:none');
			$('.numtel_org').attr('style','display:none');
			
			var $email_config = $('#email_config').val();
			var $num_config = $('#numtel_config').val();
			
			$('.email_new').removeAttr('style','display:none').text($email_config);		
			$('.numtel_new').removeAttr('style','display:none').text($num_config);
			
		});
		
		
		$('.original').click(function (){			
			$('.email_org').removeAttr('style','display:none');
			$('.numtel_org').removeAttr('style','display:none');
			
			$('.email_new').attr('style','display:none');		
			$('.numtel_new').attr('style','display:none');
			
		});
		
		
	</script>




	{% endblock %}
    