<footer class="section-2 section-footer mt-5">
    <div class="container">
        <div class="row py-4 d-flex justify-content-center">
            {# <div class="col-12 col-sm-6 col-lg-4 d-flex flex-column align-items-center pb-4">
                <div class=" d-flex flex-column align-items-center text-white">
                    <div class="">Particuliers & Pro</div>
                    <div class="progress w-100 border-0" style="height: 2px;">
                    <div class="progress-bar bg-warning" style="width:70%"></div>
                    </div>	
                </div>
                <div class="service-content d-flex flex-column flex-sm-row justify-content-around pt-4">
                    <div class="particular-space d-flex flex-column align-items-center">
                        <span class="service-title text-warning">Services Particuliers</span>
                        <span class="">
                            <ul class="list-service list-group">
                                <li class="list-group-item bg-transparent border-0">
                                    <a class="no-decoration-link font-weight-normal text-white" href="#service-pro-and-artisant">service-part-1</a>
                                </li>
                                <li class="list-group-item bg-transparent border-0">
                                    <a class="no-decoration-link font-weight-normal text-white" href="#service-pro-and-artisant">service-part-2</a>
                                </li>
                            </ul>
                        </span>
                    </div>
                    <div class="professinal-space d-flex flex-column align-items-center">
                        <span class="service-title text-warning">Services Pro</span>
                        <span class="">
                            <ul class="list-service list-group">
                                <li class="list-group-item bg-transparent border-0">
                                    <a class="no-decoration-link font-weight-normal text-white" href="#service-pro-and-artisant">service-pro-1</a>
                                </li>
                                <li class="list-group-item bg-transparent border-0">
                                    <a class="no-decoration-link font-weight-normal text-white" href="#service-pro-and-artisant">service-pro-2</a>
                                </li>
                            </ul>
                        </span>
                    </div>
                </div>
            </div> #}
            <div class="col-12 col-sm-6 col-lg-8 d-flex flex-column align-items-center">
                <div class="d-flex flex-column align-items-center text-white">
                    <div class="text-uppercase">SERVICES</div>
                    <div class="progress w-100 border-0" style="height: 2px;">
                    <div class="progress-bar bg-warning" style="width:70%"></div>
                    </div>	
                </div>
                <div class="d-flex flex-wrap pt-4">
				{% if categories != null %}
                    {% for categ in categories %}
                    <div class="footer-menu-container m-2">
                        <div class="menu-category-title text-warning">
                            <a href="{{ path('view_all_tavaux_page', {id: categ.getId()}) }}" class="d-flex align-items-center">
                            <span class="lnr lnr-chevron-right text-warning mr-1" style="font-size: 12px;"></span>
                            <span class="text-warning">{{ categ.getCategTitle() }}</span>
                            </a>
                        </div>
                        {# <div class="list-group">
                            <ul class="list-article">

                                <li class="list-group-item bg-transparent border-0">
                                    <a class="no-decoration-link text-white font-weight-normal" href="#">
                                        <span class="lnr lnr-link-footer lnr-checkmark-circle"></span>
                                        item-1
                                    </a>
                                </li>

                            </ul>
                        </div> #}
                    </div>
                    {% endfor %}
                {% endif %}
				</div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 d-flex flex-column align-items-center justify-content-center pb-4">
                <div class="d-flex flex-column align-items-center text-white">
                    <div class="text-uppercase">Contactez-nous : (102) 6666 8888</div>
                    <div class="progress w-100 border-0" style="height: 2px;">
                    <div class="progress-bar bg-warning" style="width:70%"></div>
                    </div>				
                </div>
                <div class="text-white text-right pt-4 w-100">
							
                    <span class="h6">
                        Abonnez-vous à notre newsletter
                    </span>
                    <span class="">
                        et bénéficiez de conseils gratuits
                    </span>
							
                </div>
                <div class="d-flex flex-column align-items-center justify-content-center text-white">
                    <span class="">
                        <form action>
                            <div class="form-group">
										
                                <div class="d-flex flex-row w-100 align-items-center justify-content-center">
                                    <input type="text" class="form-control" placeholder="Envoyer votre mail" style="height: 45px;">
                                    <div class="input-group-append input-group-append-new-letter bg-warning text-center">
                                    <a class="btn btn-warning border-0 text-center text-nowrap w-100 font-weight-italic">OK</a>
                                    </div>
                                </div>
										
                            </div>
                        </form>
                    </span>
                    <span class="">description form letter here</span>							
                </div>
            </div>
            <!-- solicals media and logo -->
            <div class="col-12 d-flex flex-column align-items-center mt-4 justify-content-center">
                <div class="text-warning">Suivez-nous</div>
                <div class="d-flex flex-column flex-sm-row justify-content-center align-content-center">
                    <span class="social-item m-2">
                        <a class="text-decoration-none text-white" href="#">
                            <object type="image/svg+xml" data="{{ absolute_url('/assets/icon/fb-64.svg')}}" class="icon-social-pro icon-bike">
                                fb
                            </object>
                        </a>
                    </span>
                    <span class="social-item  m-2">
                        <a class="text-decoration-none text-white" href="#">
                            <object type="image/svg+xml" data="{{ absolute_url('/assets/icon/twn-64.svg')}}" class="icon-social-pro icon-bike">
                                twin
                            </object>
                        </a>
                    </span>
                    <span class="social-item  m-2">
                        <a class="text-decoration-none text-white" href="#">
                            <object type="image/svg+xml" data="{{ absolute_url('/assets/icon/youtub-64.svg')}}" class="icon-social-pro icon-bike">
                                ytb
                            </object>
                        </a>
                    </span>
                    <span class="social-item  m-2">
                        <a class="text-decoration-none text-white" href="#">
                            <object type="image/svg+xml" data="{{ absolute_url('/assets/icon/google-plus-64.svg')}}" class="icon-social-pro icon-bike">
                                glp
                            </object>
                        </a>
                    </span>
                    <!--<span class="social-item">
                        <a class="text-decoration-none text-white" href="#">
                            <object type="image/svg+xml" data="./assets/icon/twn-64.svg" class="icon-message-pro icon-bike">
                                linkdin
                            </object>
                        </a>
                    </span> -->
                </div>
            </div>
            <div class="col-8 d-flex flex-column align-content-center justify-content-center">
                <div class=""><img class="" src=""></img></div>
                <div class="d-flex flex-row justify-content-center">
                    <span class="mr-2 d-flex align-items-center">
                        <a class="text-decoration-none" href="http://localhost/orange_traveaux">
                        <img class="logo-footer" src="{{ absolute_url('/assets/img/logo.png')}}" style="width: 100%; height: 100%;"></img>
                        </a>
                    </span>
                    <span class="text-white small">
                        Notre plateforme propose de mettre en relation les clients avec des artisans locaux qualifiés pour la réalisation de tous types de travaux en bâtiment.
                    </span>
                </div>
            </div>
            <div class="col-12 text-center text-white pt-4">Copyright © 2017 / <a class="no-decoration-link text-warning" href="#">Mentions Légales</a></div>
        </div>
    </div>
</footer>