<div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">
							Sous Category : 
							<button class=" btn btn-primary" data-toggle="modal" data-target="#myModal_add_article"  type="button" title="Ajouter nouveaux Article"><i class="fa fa-plus"></i>
							</button> 
						</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
							<table class="table table-bordered" id="dataTable_acticle" width="100%" cellspacing="0">
                            <thead class="bg-warning text-dark">
                            <tr>
                                <th>#</th>
                                <th>Nom Sous Categorie</th>
                                <th>Description</th>                                
                                <th>Date de création</th>                                
                                <th>Category</th>
                                <th>Image</th>
                                <th>Icon</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
								<th>#</th>
                                <th>Nom Sous Categorie</th>
                                <th>Description</th>                                
                                <th>Date de création</th>                                
                                <th>Category</th>
                                <th>Image</th>
                                <th>Icon</th>
                                <th>Action</th>
                            </tr>
                            </tfoot>
                            <tbody>
							
							
							{% if list_souscat != null %}							
                                {% for lst in list_souscat %}
									<tr>
										<td>{{ lst.getId() }}</td>
										<td>{{ lst.getSousCategTitle() }}</td>
                                        <td>{{ lst.getDescription() }}</td>
                                        <td>{{ lst.getIcon() }}</td>
                                        <td>{{ lst.getImg() }}</td>
										<td>{{ lst.getCatSousCategoryId().getCategTitle() }}</td>
										<td>{{ lst.getSousCategDateCrea() | date('d/m/y H:m:s') }}</td>
										<td>
											
                                            <button class="btn btn-danger" data-toggle="modal" data-target="#myModal_sup_sous_cat" onclick="show_modal_delete_sous_categorie({{ lst.getId() }} )" type="button" title="Supprimer"><i class="fa fa-times"></i>
                                            </button>
											
											<button class="btn btn-info" data-toggle="modal" data-target="#myModal_edit_sous_cat" onclick="show_modal_edit_sous_categorie({{ lst.getId() }} )"  type="button" title="Modifier"><i class="fa fa-edit"></i>
											</button>
											
											<button class="btn btn-warning" data-toggle="modal" data-target="#myModal_info_article_{{ lst.getId() }}"  type="button" title="Plus de Détail"><i class="fa fa-eye"></i>
											</button>
											
										</td>
									</tr>
								{% endfor %}
							{% else %}
								<li class="text-center"> AUCUN RESULTAT!<li>                                     
							{% endif %}	
									
							
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>