
  <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">
							<span class="col-sm-10">Type de prestation : </span>
							<button  data-toggle="modal" data-target="#myModal_add_type"  class=" btn btn-primary" type="button" title="Ajouter nouveaux Type de Préstation"><i class="fa fa-plus"></i>
							</button>
						</h6>						
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
							<table class="table table-bordered" id="dataTable_type" width="100%" cellspacing="0">
                            <thead class="bg-warning text-dark">
                            <tr>
                                <th>#</th>
                                <th>Type</th>                                
                                <th>Date de création</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>#</th>
                                <th>Type</th>
                                <th>Date de création</th>
                                <th>Action</th>
                            </tr>
                            </tfoot>
                            <tbody>
								
								{% if list_type != null %}
									{% for lst in list_type %}
										<tr>
											<td>{{ lst.getId() }}</td>
											<td>{{ lst.getTitle() }}</td>
											<td>{{ lst.getDateCrea() | date('d/m/y H:m:s') }}</td>
											<td class="text-center">
												
												
                                                <button class="btn btn-danger" onclick="show_modal_delete_type({{ lst.getId() }})" data-toggle="modal" data-target="#myModal_sup_type" type="button" title="Supprimer"><i class="fa fa-times"></i>
                                                </button>
                                            
												
												<button class="btn btn-info"  data-toggle="modal" onclick="show_modal_edit_type({{ lst.getId() }})" data-target="#myModal_edit_type"  type="button" title="Modifier"><i class="fa fa-edit"></i>
												</button>
											</td>
										</tr>
									{% endfor %}
								{% else %}
									<li class="text-center"></li>                                     
								{% endif %}	
										
								
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>

                
                