
        <!-- Topbar -->
       <div style=";position: fixed;z-index: 1;"  class="col navbar navbar-expand  bg-white topbar  shadow">


      <!-- Sidebar - Brand -->
      <div class="sidebar-brand d-flex align-items-center justify-content-center" href="/">    
        {% for configsite in configsites %}          
            <img style="height: 50px; " class="img_logo" src="{{ absolute_url('/uploads/logo/') }}{{ configsite.image }}"  />
        {% endfor %}
      </div> _

	  <div class="topbar-divider d-none d-sm-block"></div>
	  


          <!-- Page Heading -->
          <div class="d-none d-sm-block">
            <h1 class="head_title h3 mb-0 text-gray-800">{{page_head_title}}</h1>
          </div>

            <div class="topbar-divider d-none d-lg-block"></div>

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-none d-sm-block rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>            
		      <div class="navbar-nav d-none d-md-flex flex-row">
              <span class="nav-item active">
                <a class="nav-link"><span class=" d-none d-lg-flex align-content-baseline"><span class="lnr lnr-phone-handset text-wite bg-warning p-1"></span> <span class="bg-darkgray p-1 text-nowrap" style="font-size: 15px;">{% for configsite in configsites %} {{ configsite.numphone }} {% endfor %}</span></span></a>
              </span>
              <span class="nav-item active">
                <a class="nav-link"><span class="d-none d-lg-flex align-content-baseline"><span class="lnr lnr-envelope text-wite bg-warning p-1"></span> <span class="bg-darkgray p-1 text-nowrap text-lowercase" style="font-size: 15px;">{% for configsite in configsites %} {{ configsite.email }} {% endfor %}</span></span></a>
              </span>
              <a class="nav-link d-none d-md-flex flex-md-column" href="{{ path('configsite_index') }}">
                <button class="btn-circle btn-warning" type="button" title="Modifier les Configuration du site"><i class="fa fa-edit"></i>
                </button>
              </a>
          </div>
          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Admin</span>
                
                <img class="img-profile rounded-circle" src="{{ absolute_url('/assets/img/profile.jpg') }}" />
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Mon Profile
                </a>                              
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Déconnexion
                </a>
              </div>
            </li>

          </ul>

        </div>
        <!-- End of Topbar -->

