
    <!-- Sidebar -->
	
	<div class="col-2 menu_nav">
		<ul class="navbar-nav  sidebar sidebar-dark accordion" id="accordionSidebar"  style="background-color: #777;overflow-x: hidden;overflow-y: scroll;height: -webkit-fill-available; position: fixed;">


		  <!-- Divider -->
		  <hr class="sidebar-divider mt-5">

		  <!-- Nav Item - Dashboard -->
		  <li class="nav-item active ">
			<a class="nav-link" href="{{ path('admin_home') }}">
			  <i class="fas fa-fw fa-tachometer-alt"></i>
			  <span>Dashboard</span></a>
		  </li>
		  
		  
		  
		  <div class="sidebar-heading ">
			Particulier
		  </div>
		  <hr class="sidebar-divider my-0">
		  
		  <!-- Nav Item - Modes d’envoi d’email -->
		  <li class="nav-item nav_client">
			<a class="nav-link" href="{{ path('client') }}">
			  <i class="fas fa-fw fa-user-friends"></i>
			  <span>Client</span></a>
		  </li>
		  
		  
		  
		  <!-- Nav Item - Demande devis -->
		  <li class="nav-item nav_dem_devis">
			<a class="nav-link" href="{{ path('dem_devis') }}">
			  <i class="fas fa-fw fa-envelope"></i>
			  <span> Demande devis  </span></a>
		  </li>
		  
		  <!-- Divider -->
		  
		  <div class="sidebar-heading">
			Professionnels
		  </div>
		  <hr class="sidebar-divider my-0">

		  <!-- Nav Item - Professionnels -->
		  <li class="nav-item nav_lst_in_pro">
			<a class="nav-link" href="{{ path('lst_in_pro') }}">
			  <i class="fas fa-fw fa-list-ol"></i>
			  <span>Compte Professionnels</span></a>
		  </li>
		  
		  
		  <!-- Nav Item - Modes d’envoi d’email -->
		  <li class="nav-item nav_service">
			<a class="nav-link"  href="{{ path('service') }}">
			<i class="fab fa-fw fa-servicestack"></i>
			  <span>Service</span></a>
		  </li>
		  
		  <!-- Nav Item - Modes d’envoi d’email -->
		  <li class="nav-item nav_abonnement">
			<a class="nav-link" href="{{ path('abonnement') }}">
			  <i class="fas fa-fw fa-bread-slice"></i>
			  <span>Abonnement</span></a>
		  </li>
			  
		  <!-- Nav Item - Modes d’envoi d’email -->
		  <li class="nav-item nav_trans ">
			<a class="nav-link"  href="{{ path('trans') }}">
			  <i class="fab fa-fw fa-think-peaks"></i>
			  <span>Transaction</span></a>
		  </li>

		  <div class="sidebar-heading">
				Parametre
		  </div>
		  
		  
		  <hr class="sidebar-divider my-0">
		  

		  <li class="nav-item nav_objet_devis">
			<a class="nav-link" href="#" data-toggle="collapse" data-target="#collapsePagesObjetDevis" aria-expanded="true" aria-controls="collapsePages">
			  <i class="fas fa-fw fa-th"></i>
			  <span>Objet Devis</span>
			</a>
			
			<div id="collapsePagesObjetDevis" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar" style="">
			  <div class="bg-white py-2 collapse-inner">
				<a class="collapse-item"  href="{{ path('type_index') }}">Types</a>		
				<a class="collapse-item"  href="{{ path('category_index') }}">Categories</a>	
				<a class="collapse-item"   href="{{ path('sous_category_index') }}">Sous Categorie</a>			
				<a class="collapse-item"  href="{{ path('article_index') }}">Article</a>
				<a class="collapse-item"  href="{{ path('mode_prix_index') }}">Mode Prix</a> 
			  </div>
			</div>
		  </li>


		  
		  <!-- Nav Item - Modes d’envoi d’email -->
		  <li class="nav-item nav_m_e_email">
			<a class="nav-link " href="{{ path('m_e_email') }}">
			  <i class="fas fa-fw fa-check-square"></i>
			  <span>Modes d’envoi d’email</span></a>
		  </li>
	  
		  <!-- Nav Item - Configuration du site -->
		  <li class="nav-item nav_config_site">
			<a class="nav-link " href="{{ path('configsite_index') }}">
			  <i class="fa fa-cog"></i>
			  <span>Configuration du site </span></a>
		  </li>
	  
		  <hr class="sidebar-divider my-0">
		  
		  <li class="nav-item">
			<a class="nav-link" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
			  <i class="fas fa-user  fa-fw "></i>
			  <span>Administrateur</span>
			</a>
			
			<div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar" style="">
			  <div class="bg-white py-2 collapse-inner">
				<a class="collapse-item" data-toggle="modal" data-target="#myModal_profile"  href="#">Profile</a>				
				<a class="collapse-item" data-toggle="modal" data-target="#logoutModal"  href="#">Déconnecter</a>
			  </div>
			</div>
		  </li>
		  
		  
		  
			<!-- Divider -->
		  <hr class="sidebar-divider d-none d-md-block">
		  
		  

		  <!-- Sidebar Toggler (Sidebar) -->
		  <div class="text-center d-none d-md-inline">
			<button class="rounded-circle border-0" id="sidebarToggle"></button>
		  </div>

		</ul>
	</div>	
    <!-- End of Sidebar -->



			<!-- Modal comfirmer mode  normalement -->
			<div class="modal fade" id="myModal_profile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">									
							<h4 class="modal-title" id="myModalLabel">
							Profile:
							</h4>
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
							</button>
						</div>						
								
						<div class="card-body">
							<div class="text-center">
									
										[ ADMINISTRATEUR ]
							
							</div>						
						</div>												
						  
						<div class="modal-footer">
							<button type="button" class="btn btn-success"
							data-dismiss="modal">
								OK
							</button>

						</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- end /.modal comfirmer mode normalement-->
        
		
		  <!-- Logout Modal-->
		  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
			  <div class="modal-content">
				<div class="modal-header">
				  <h5 class="modal-title" id="exampleModalLabel">Voulez-vous déconneter ???</h5>
				  <button class="close" type="button" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				  </button>
				</div>				
				<div class="modal-footer">
				  <button class="btn btn-secondary" type="button" data-dismiss="modal">Non</button>
				  <a class="btn btn-danger" href="../logout">Oui</a>
				</div>
			  </div>
			</div>
		  </div>
