
{% extends  'base.html.twig' %}

{% block stylesheets %}


  <!-- Custom fonts for this template-->
    <link href="{{ absolute_url('/assets/vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" />

  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

	<!-- Custom styles for this template-->
    
	<link href="{{ absolute_url('/assets/vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet">
	<link href="{{ absolute_url('/assets/css/sb-admin-2.min.css') }}" rel="stylesheet" />
	<link href="{{ absolute_url('/assets/sweetalert2/dist/sweetalert2.min.css') }}" rel="stylesheet" />
	
    <style>
      .card-header {
          background-color: #fcd42f4a;
      }
      #wrapper{
       background-color:#ececec;
      }
      .custom-control-input:checked~.custom-control-label::before {
        background-color: #1cc88a;
      }
      
	    
		@media screen  and  (max-width: 680px){
			
			#sidebarToggleTop{
				display: block;
			}
			
			.row_menu {
				display: block;
				position: relative;    
				visibility: visible;
			}
			
			.icon_menu {
				font-size: 3em;
			}
			.menu_nav {
				display: none;	
				color: #fff;					
				background-color: RGBa(29, 197, 151, 0.97);	
				
				
				text-align: center;
				padding: 12px 0;
			}
			.card-body {
				font-size: 95%;
			}
			
			div {
				font-size: 95%;
			}
			
			.img_logo{
				height: 15px;			
			}
			
			.head_title{
				font-size: 15px;			
			}
			
		}
		
		@media screen  and  (min-width: 680px){
			.row_menu {
				display: none;
			}
			
			#sidebarToggleTop{
				display: none;
			}
			
			.sticky-footer {
				display: none;
			}
		}
	  
    </style>
    
{% endblock %}

{% block body %}


<body id="page-top">

		<!--Begin head_bar api_admin space -->
		{% include "./admin/api_admin/head_bar.html.twig" %}
		<!--End head_bar api_admin space -->

  <!-- Page Wrapper -->
  <div id="wrapper" >

	<!--Begin nav_bar api_admin space -->
	{% include "./admin/api_admin/nav_bar.html.twig" %}
	<!--End nav_bar api_admin space -->

    <div id="content-wrapper" style="background-color:#ececec"; class="mt-5 d-flex flex-column">
	</br>
      <!-- Main Content -->
      <div id="content">
	  
        <!-- Begin Page Content -->
        <div class="container">

			<!-- Divider -->            
			<hr class="sidebar-divider">
				
				<div class="row" style="justify-content: space-evenly">				

						<a class=""  href="{{ path('type_index') }}">
							<div class="active_row_type link-1 btn btn-success text-white shadow">
								<div class="card-body">
									Préstation                    
								</div>
							</div>
						</a>		
						<a class="collapse-item"  href="{{ path('category_index') }}">
							<div class="active_row_categorie link-1 btn  text-dark shadow" style="background-color: yellow;">
								<div class="card-body">
									Catégorie
								</div>
							</div>
						</a>	
						<a class="collapse-item"   href="{{ path('sous_category_index') }}">
				
							<div class="active_row_souscategorie link-1 btn btn-info text-white shadow">
								<div class="card-body">
									Sous-categorie
								</div>
							</div>
						</a>			
						
						<a class="collapse-item"  href="{{ path('article_index') }}">
							<div class="active_row_article link-1 btn text-white btn-secondary  shadow" >
								<div class="card-body">
									Article
								</div>
							</div>
						</a>
						
						
						<a class="collapse-item"  href="{{ path('mode_prix_index') }}">				
							<div class="active_row_mode_prix link-1 btn btn-warning text-dark shadow" >
								<div class="card-body">
									Mode Prix
								</div>
							</div>
						</a> 
				
				

				</div>
				
			</br> 

      <div class="modal fade" id="myModal_aff_cat" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content" style="width: 50rem;">
						<div class="modal-header">									
							<h4 class="modal-title" id="myModalLabel">
								Détail du Article:
							</h4>
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
							</button>
						</div>
						<div class="modal-body">
						
							<div id="load_modal_affiche_article" ></div>
							
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-success"
							data-dismiss="modal">
								OK
							</button>
							
						</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- End /.modal afficher type -->



		<!-- Modal suppression Catégorie -->
			<div class="modal fade" id="myModal_sup_article" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">									
							<h4 class="modal-title" id="myModalLabel">
								Confirmer la suppression: [Article]
							</h4>
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
							</button>
						</div>
						<div class="modal-body">         																																		
							<div id="load_model_article_supprimer">         																																									
							</div>	
						</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- end /.modal suppression Catégorie-->


      		<div class="modal fade" id="myModal_aff_image" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content" style="width: 50rem;">
						<div class="modal-body">						
							<div id="load_modal_affiche_image"></div>
						</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- End /.modal afficher type -->


      		<div class="modal fade" id="myModal_aff_icone" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content" style=" width: 15rem;">
						<div class="modal-body">						
							<div id="load_modal_affiche_icone"></div>
						</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- End /.modal afficher type -->



            <!-- DataTales Example -->
            <div class="col mb-8">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Listes des Article: 
                            <a href="{{ path('article_new') }}">
                                <button data-toggle="modal" data-target="#myModal_add_type" class=" btn btn-primary" type="button" title="Ajouter nouveaux Type de Préstation"><i class="fa fa-plus"></i>
                                </button>
                            </a>
                        </h6> 
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">									
							<table class="table table-bordered display" id="" width="100%" cellspacing="0">
								<thead class="bg-warning text-dark">
								<tr>
									<th>#</th>
									<th>Article</th>
									<th>Categorie</th>
									<th>Sous Categorie</th>
									<th>Date de Création</th>
									<th>Image</th>
									<th>Icon</th>
									{# <th>Populaire</th> #}
									<th>Actions</th>
								</tr>
								</thead>
								<tfoot>
								<tr>
									<th>#</th>
									<th>Article</th>
									<th>Categorie</th>
									<th>Sous Categorie</th>
									<th>Date de Création</th>
									<th>Image</th>
									<th>Icon</th>
									{# <th>Populaire</th> #}
									<th>Actions</th>
								</tr>
								</tfoot>
								<tbody>
								{% for article in articles %}
									<tr>
										<td>{{ article.id }}</td>
										<td>{{ article.articleTitle }}</td>
										<td>
											<button type="button" class="col btn btn-outline-secondary tooltip-viewport-bottom" title="" data-original-title=" {{ article.articleCategId.description }}  </br>  {{ article.articleCategId.CategDateCrea | date('d/m/y H:m:s') }}">{{ article.articleCategId.categTitle }}</button>							                                
										</td>
										<td>
											<button type="button" class="col btn btn-outline-secondary tooltip-viewport-bottom" title="" data-original-title=" {{ article.articleSousCategId.description }} </br>  {{ article.articleSousCategId.sousCategDateCrea | date('d/m/y H:m:s') }}">{{ article.articleSousCategId.sousCategTitle }}</button>
										</td>
										
										<td>{{ article.articleDateCrea ? article.articleDateCrea| date('d/m/y H:m:s') }}</td>
										<td>
											<div class="card-body" data-toggle="modal" data-target="#myModal_aff_image" onclick="show_modal_affiche_article_image({{ article.id  }})" >
												<div class="text-center">
													<img class="img-fluid img-fluid shadow" style="width: 15rem;" src="{{ absolute_url('/uploads/images/') }}{{ article.img }}" alt="">
												</div>
											</div>
										</td>
										<td>
											<div class="card-body" data-toggle="modal" data-target="#myModal_aff_icone" onclick="show_modal_affiche_article_icone({{ article.id  }})">
												<div class="text-center">
													<img class="img-fluid img-fluid shadow" style="width: 15rem;" src="{{ absolute_url('/uploads/logo/') }}{{ article.icon }}" alt="">
												</div>
											</div>
										</td>
										{# <td class="text-center">                
											<div class="custom-control custom-switch">
												<input {{ article.ispopular == true ? "checked=true"  }} data-id="{{ article.id }}" type="checkbox" class="custom-control-input customSwitch" id="customSwitch{{ article.id }}">
												<label class="custom-control-label" for="customSwitch{{ article.id }}"></label>
											</div>                    
										</td> #}
										<td class="row" style="width: 180px;">
											<button class=" btn btn-warning" onclick="show_modal_affiche_article({{ article.id }})" data-toggle="modal" data-target="#myModal_aff_cat"   type="button" title="Modifier"><i class="fa fa-eye"></i>                      
											</button>                    
											<a href="{{ path('article_edit', {'id': article.id}) }}">
											<button class=" btn btn-info"  type="button" title="Modifier"><i class="fa fa-edit"></i>
											</button>						
											</a>          
										
											<button class="btn btn-danger"  data-toggle="modal" data-target="#myModal_sup_article"  onclick="show_modal_sup_article({{ article.id }})" title="Supprimer"><i class="fa fa-times"></i> </button>

											
										</td>
									</tr>
								{% else %}
									<tr>
										<td colspan="4">no records found</td>
									</tr>
								{% endfor %}
								</tbody>
							</table>

    
						</div>
					</div>
				</div>
			</div>
    
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>


</br></br></br>
		<footer class="" style="position: fixed;z-index: 1;bottom: 0;">
				<div class="">								
				  <!-- Scroll to Top Button-->
				  <a href="/admin/">
					  <div class="btn-circle btn-secondary" style="z-index: 2;display: inline;">
						<i class="fas fa-home">Menu</i>
					  </div>				  
				  </a>
				</div>
			</footer>
</body>
	{% endblock %}

	{% block javascripts %}

	<!-- Bootstrap core JavaScript-->
	<script src="{{ absolute_url('/assets/vendor/jquery/jquery.min.js') }}"></script>
	<script src="{{ absolute_url('/assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

	<!-- Core plugin JavaScript-->
	<script src="{{ absolute_url('/assets/vendor/jquery-easing/jquery.easing.min.js') }}"></script>

	<!-- Custom scripts for all pages-->
	<script src="{{ absolute_url('/assets/js/sb-admin-2.min.js') }}"></script>

    <!-- Page level plugins -->
	<script src="{{ absolute_url('/assets/vendor/datatables/jquery.dataTables.min.js') }}"></script>
	<script src="{{ absolute_url('/assets/vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>
	<script src="{{ absolute_url('/assets/sweetalert2/dist/sweetalert2.all.min.js') }}"></script>
	<script src="{{ absolute_url('/assets/sweetalert2/dist/sweetalert2.min.js') }}"></script>
	<script src="{{ absolute_url('/assets/js/admin/admin_article.js') }}"></script>

	
{% endblock %}