{% extends 'base.html.twig' %}


{% block body %}

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sous_category.id }}</td>
            </tr>
            <tr>
                <th>SousCategTitle</th>
                <td>{{ sous_category.sousCategTitle }}</td>
            </tr>
            <tr>
                <th>SousCategDateCrea</th>
                <td>{{ sous_category.sousCategDateCrea ? sous_category.sousCategDateCrea|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ sous_category.description }}</td>
            </tr>
            <tr>
                <th>Icon</th>
                <td>
                    <div class="card-body">
                        <div class="text-center">
                            <img class="img-fluid img-fluid shadow" style="width: 7rem;" src="{{ absolute_url('/uploads/logo/') }}{{ sous_category.icon }}" alt="">
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th>Img</th>
                <td>
                    <div class="card-body">
                        <div class="text-center">
                            <img class="img-fluid img-fluid shadow" style="width: 60rem;" src="{{ absolute_url('/uploads/images/') }}{{ sous_category.img }}" alt="">
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    
    
{% endblock %}
